fiorano/connectionFactory.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="connection-factory-properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="connection-factory-property" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="name" use="required" type="xs:string"/>
                        <xs:attribute name="value" use="required" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>