fiorano/messagefilters.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:element name="messagefilters">
				<xs:complexType>
					<xs:sequence>
                          <xs:element maxOccurs="unbounded" minOccurs="0" name="messagefilter">
          <xs:complexType>
                       
                <xs:attribute name="name" type="xs:string"/>
                <xs:attribute name="value" type="xs:string"/>
          </xs:complexType>
        </xs:element>
                    </xs:sequence>			
				</xs:complexType>
			</xs:element>
</xs:schema>
