fiorano/workflow.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="workflow">
		<xs:complexType>
			<xs:attribute name="type" default="0" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="datatype" default="2" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>