fiorano/hl7/2_1_fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:include schemaLocation="2_1_types.xsd"/>
    <xsd:element name="MSH.1" type="ST"/>
    <xsd:element name="MSH.2" type="ST"/>
    <xsd:element name="MSH.3" type="ST"/>
    <xsd:element name="MSH.4" type="ST"/>
    <xsd:element name="MSH.5" type="ST"/>
    <xsd:element name="MSH.6" type="ST"/>
    <xsd:element name="MSH.7" type="TS"/>
    <xsd:element name="MSH.8" type="ST"/>
    <xsd:element name="MSH.9" type="CM_MSG"/>
    <xsd:element name="MSH.10" type="ST"/>
    <xsd:element name="MSH.11" type="ID"/>
    <xsd:element name="MSH.12" type="NM"/>
    <xsd:element name="MSH.13" type="NM"/>
    <xsd:element name="MSH.14" type="ST"/>
    <xsd:element name="MSA.1" type="ID"/>
    <xsd:element name="MSA.2" type="ST"/>
    <xsd:element name="MSA.3" type="ST"/>
    <xsd:element name="MSA.4" type="NM"/>
    <xsd:element name="MSA.5" type="ID"/>
    <xsd:element name="ERR.1" type="ID"/>
    <xsd:element name="QRD.1" type="TS"/>
    <xsd:element name="QRD.2" type="ID"/>
    <xsd:element name="QRD.3" type="ID"/>
    <xsd:element name="QRD.4" type="ST"/>
    <xsd:element name="QRD.5" type="ID"/>
    <xsd:element name="QRD.6" type="TS"/>
    <xsd:element name="QRD.7" type="CQ"/>
    <xsd:element name="QRD.8" type="ST"/>
    <xsd:element name="QRD.9" type="ID"/>
    <xsd:element name="QRD.10" type="ST"/>
    <xsd:element name="QRD.11" type="ST"/>
    <xsd:element name="QRD.12" type="ID"/>
    <xsd:element name="EVN.1" type="ID"/>
    <xsd:element name="EVN.2" type="TS"/>
    <xsd:element name="EVN.3" type="TS"/>
    <xsd:element name="EVN.4" type="ID"/>
    <xsd:element name="PID.1" type="SI"/>
    <xsd:element name="PID.2" type="CK"/>
    <xsd:element name="PID.3" type="CK"/>
    <xsd:element name="PID.4" type="ST"/>
    <xsd:element name="PID.5" type="PN"/>
    <xsd:element name="PID.6" type="ST"/>
    <xsd:element name="PID.7" type="DT"/>
    <xsd:element name="PID.8" type="ID"/>
    <xsd:element name="PID.9" type="PN"/>
    <xsd:element name="PID.10" type="ID"/>
    <xsd:element name="PID.11" type="AD"/>
    <xsd:element name="PID.12" type="ID"/>
    <xsd:element name="PID.13" type="TN"/>
    <xsd:element name="PID.14" type="TN"/>
    <xsd:element name="PID.15" type="ST"/>
    <xsd:element name="PID.16" type="ID"/>
    <xsd:element name="PID.17" type="ID"/>
    <xsd:element name="PID.18" type="CK"/>
    <xsd:element name="PID.19" type="ST"/>
    <xsd:element name="PID.20" type="CM"/>
    <xsd:element name="PV1.1" type="SI"/>
    <xsd:element name="PV1.2" type="ID"/>
    <xsd:element name="PV1.3" type="ID"/>
    <xsd:element name="PV1.4" type="ID"/>
    <xsd:element name="PV1.5" type="ST"/>
    <xsd:element name="PV1.6" type="ID"/>
    <xsd:element name="PV1.7" type="CN"/>
    <xsd:element name="PV1.8" type="CN"/>
    <xsd:element name="PV1.9" type="CN"/>
    <xsd:element name="PV1.10" type="ID"/>
    <xsd:element name="PV1.11" type="ID"/>
    <xsd:element name="PV1.12" type="ID"/>
    <xsd:element name="PV1.13" type="ID"/>
    <xsd:element name="PV1.14" type="ID"/>
    <xsd:element name="PV1.15" type="ID"/>
    <xsd:element name="PV1.16" type="ID"/>
    <xsd:element name="PV1.17" type="CN"/>
    <xsd:element name="PV1.18" type="ID"/>
    <xsd:element name="PV1.19" type="NM"/>
    <xsd:element name="PV1.20" type="ID"/>
    <xsd:element name="PV1.21" type="ID"/>
    <xsd:element name="PV1.22" type="ID"/>
    <xsd:element name="PV1.23" type="ID"/>
    <xsd:element name="PV1.24" type="ID"/>
    <xsd:element name="PV1.25" type="DT"/>
    <xsd:element name="PV1.26" type="NM"/>
    <xsd:element name="PV1.27" type="NM"/>
    <xsd:element name="PV1.28" type="ID"/>
    <xsd:element name="PV1.29" type="ID"/>
    <xsd:element name="PV1.30" type="DT"/>
    <xsd:element name="PV1.31" type="ST"/>
    <xsd:element name="PV1.32" type="NM"/>
    <xsd:element name="PV1.33" type="NM"/>
    <xsd:element name="PV1.34" type="ID"/>
    <xsd:element name="PV1.35" type="DT"/>
    <xsd:element name="PV1.36" type="ID"/>
    <xsd:element name="PV1.37" type="ID"/>
    <xsd:element name="PV1.38" type="ID"/>
    <xsd:element name="PV1.39" type="ID"/>
    <xsd:element name="PV1.40" type="ID"/>
    <xsd:element name="PV1.41" type="ID"/>
    <xsd:element name="PV1.42" type="ID"/>
    <xsd:element name="PV1.43" type="ID"/>
    <xsd:element name="PV1.44" type="TS"/>
    <xsd:element name="PV1.45" type="TS"/>
    <xsd:element name="PV1.46" type="NM"/>
    <xsd:element name="PV1.47" type="NM"/>
    <xsd:element name="PV1.48" type="NM"/>
    <xsd:element name="PV1.49" type="NM"/>
    <xsd:element name="DSC.1" type="ST"/>
    <xsd:element name="NK1.1" type="SI"/>
    <xsd:element name="NK1.2" type="PN"/>
    <xsd:element name="NK1.3" type="ST"/>
    <xsd:element name="NK1.4" type="AD"/>
    <xsd:element name="NK1.5" type="TN"/>
    <xsd:element name="DG1.1" type="SI"/>
    <xsd:element name="DG1.2" type="ID"/>
    <xsd:element name="DG1.3" type="ID"/>
    <xsd:element name="DG1.4" type="ST"/>
    <xsd:element name="DG1.5" type="TS"/>
    <xsd:element name="DG1.6" type="ID"/>
    <xsd:element name="DG1.7" type="ST"/>
    <xsd:element name="DG1.8" type="ID"/>
    <xsd:element name="DG1.9" type="ID"/>
    <xsd:element name="DG1.10" type="ID"/>
    <xsd:element name="DG1.11" type="ID"/>
    <xsd:element name="DG1.12" type="NM"/>
    <xsd:element name="DG1.13" type="NM"/>
    <xsd:element name="DG1.14" type="ST"/>
    <xsd:element name="MRG.1" type="CK"/>
    <xsd:element name="MRG.2" type="CK"/>
    <xsd:element name="MRG.3" type="CK"/>
    <xsd:element name="NPU.1" type="ID"/>
    <xsd:element name="NPU.2" type="ID"/>
    <xsd:element name="PR1.1" type="SI"/>
    <xsd:element name="PR1.2" type="ID"/>
    <xsd:element name="PR1.3" type="ID"/>
    <xsd:element name="PR1.4" type="ST"/>
    <xsd:element name="PR1.5" type="TS"/>
    <xsd:element name="PR1.6" type="ID"/>
    <xsd:element name="PR1.7" type="NM"/>
    <xsd:element name="PR1.8" type="CN"/>
    <xsd:element name="PR1.9" type="ID"/>
    <xsd:element name="PR1.10" type="NM"/>
    <xsd:element name="PR1.11" type="CN"/>
    <xsd:element name="PR1.12" type="CN"/>
    <xsd:element name="PR1.13" type="ID"/>
    <xsd:element name="GT1.1" type="SI"/>
    <xsd:element name="GT1.2" type="ID"/>
    <xsd:element name="GT1.3" type="PN"/>
    <xsd:element name="GT1.4" type="PN"/>
    <xsd:element name="GT1.5" type="AD"/>
    <xsd:element name="GT1.6" type="TN"/>
    <xsd:element name="GT1.7" type="TN"/>
    <xsd:element name="GT1.8" type="DT"/>
    <xsd:element name="GT1.9" type="ID"/>
    <xsd:element name="GT1.10" type="ID"/>
    <xsd:element name="GT1.11" type="ID"/>
    <xsd:element name="GT1.12" type="ST"/>
    <xsd:element name="GT1.13" type="DT"/>
    <xsd:element name="GT1.14" type="DT"/>
    <xsd:element name="GT1.15" type="NM"/>
    <xsd:element name="GT1.16" type="ST"/>
    <xsd:element name="GT1.17" type="AD"/>
    <xsd:element name="GT1.18" type="TN"/>
    <xsd:element name="GT1.19" type="ST"/>
    <xsd:element name="GT1.20" type="ID"/>
    <xsd:element name="IN1.1" type="SI"/>
    <xsd:element name="IN1.2" type="ID"/>
    <xsd:element name="IN1.3" type="ST"/>
    <xsd:element name="IN1.4" type="ST"/>
    <xsd:element name="IN1.5" type="AD"/>
    <xsd:element name="IN1.6" type="PN"/>
    <xsd:element name="IN1.7" type="TN"/>
    <xsd:element name="IN1.8" type="ST"/>
    <xsd:element name="IN1.9" type="ST"/>
    <xsd:element name="IN1.10" type="ST"/>
    <xsd:element name="IN1.11" type="ST"/>
    <xsd:element name="IN1.12" type="DT"/>
    <xsd:element name="IN1.13" type="DT"/>
    <xsd:element name="IN1.14" type="ST"/>
    <xsd:element name="IN1.15" type="ID"/>
    <xsd:element name="IN1.16" type="PN"/>
    <xsd:element name="IN1.17" type="ID"/>
    <xsd:element name="IN1.18" type="DT"/>
    <xsd:element name="IN1.19" type="AD"/>
    <xsd:element name="IN1.20" type="ID"/>
    <xsd:element name="IN1.21" type="ID"/>
    <xsd:element name="IN1.22" type="ST"/>
    <xsd:element name="IN1.23" type="ID"/>
    <xsd:element name="IN1.24" type="DT"/>
    <xsd:element name="IN1.25" type="ID"/>
    <xsd:element name="IN1.26" type="DT"/>
    <xsd:element name="IN1.27" type="ID"/>
    <xsd:element name="IN1.28" type="ST"/>
    <xsd:element name="IN1.29" type="DT"/>
    <xsd:element name="IN1.30" type="CM"/>
    <xsd:element name="IN1.31" type="ID"/>
    <xsd:element name="IN1.32" type="ID"/>
    <xsd:element name="IN1.33" type="NM"/>
    <xsd:element name="IN1.34" type="NM"/>
    <xsd:element name="IN1.35" type="ST"/>
    <xsd:element name="IN1.36" type="ST"/>
    <xsd:element name="IN1.37" type="NM"/>
    <xsd:element name="IN1.38" type="NM"/>
    <xsd:element name="IN1.39" type="NM"/>
    <xsd:element name="IN1.40" type="NM"/>
    <xsd:element name="IN1.41" type="NM"/>
    <xsd:element name="IN1.42" type="ID"/>
    <xsd:element name="IN1.43" type="ID"/>
    <xsd:element name="IN1.44" type="AD"/>
    <xsd:element name="ACC.1" type="TS"/>
    <xsd:element name="ACC.2" type="ID"/>
    <xsd:element name="ACC.3" type="ST"/>
    <xsd:element name="UB1.1" type="SI"/>
    <xsd:element name="UB1.2" type="ST"/>
    <xsd:element name="UB1.3" type="ST"/>
    <xsd:element name="UB1.4" type="ST"/>
    <xsd:element name="UB1.5" type="ST"/>
    <xsd:element name="UB1.6" type="ST"/>
    <xsd:element name="UB1.7" type="ID"/>
    <xsd:element name="UB1.8" type="ST"/>
    <xsd:element name="UB1.9" type="ST"/>
    <xsd:element name="UB1.10" type="CM"/>
    <xsd:element name="UB1.11" type="ST"/>
    <xsd:element name="UB1.12" type="ID"/>
    <xsd:element name="UB1.13" type="ID"/>
    <xsd:element name="UB1.14" type="DT"/>
    <xsd:element name="UB1.15" type="DT"/>
    <xsd:element name="UB1.16" type="ID"/>
    <xsd:element name="UB1.17" type="ID"/>
    <xsd:element name="UB1.18" type="DT"/>
    <xsd:element name="UB1.19" type="DT"/>
    <xsd:element name="UB1.20" type="ST"/>
    <xsd:element name="UB1.21" type="ST"/>
    <xsd:element name="UB1.22" type="ST"/>
    <xsd:element name="UB1.23" type="ST"/>
    <xsd:element name="FT1.1" type="SI"/>
    <xsd:element name="FT1.2" type="ST"/>
    <xsd:element name="FT1.3" type="ST"/>
    <xsd:element name="FT1.4" type="DT"/>
    <xsd:element name="FT1.5" type="DT"/>
    <xsd:element name="FT1.6" type="ID"/>
    <xsd:element name="FT1.7" type="ID"/>
    <xsd:element name="FT1.8" type="ST"/>
    <xsd:element name="FT1.9" type="ST"/>
    <xsd:element name="FT1.10" type="NM"/>
    <xsd:element name="FT1.11" type="NM"/>
    <xsd:element name="FT1.12" type="NM"/>
    <xsd:element name="FT1.13" type="ST"/>
    <xsd:element name="FT1.14" type="ID"/>
    <xsd:element name="FT1.15" type="NM"/>
    <xsd:element name="FT1.16" type="ST"/>
    <xsd:element name="FT1.17" type="ID"/>
    <xsd:element name="FT1.18" type="ID"/>
    <xsd:element name="FT1.19" type="ID"/>
    <xsd:element name="FT1.20" type="CN"/>
    <xsd:element name="FT1.21" type="CN"/>
    <xsd:element name="FT1.22" type="NM"/>
    <xsd:element name="QRF.1" type="ST"/>
    <xsd:element name="QRF.2" type="TS"/>
    <xsd:element name="QRF.3" type="TS"/>
    <xsd:element name="QRF.4" type="ST"/>
    <xsd:element name="QRF.5" type="ST"/>
    <xsd:element name="DSP.1" type="SI"/>
    <xsd:element name="DSP.2" type="SI"/>
    <xsd:element name="DSP.3" type="TX"/>
    <xsd:element name="DSP.4" type="ST"/>
    <xsd:element name="DSP.5" type="TX"/>
    <xsd:element name="NTE.1" type="SI"/>
    <xsd:element name="NTE.2" type="ID"/>
    <xsd:element name="NTE.3" type="TX"/>
    <xsd:element name="ORC.1" type="ST"/>
    <xsd:element name="ORC.2" type="CM"/>
    <xsd:element name="ORC.3" type="CM"/>
    <xsd:element name="ORC.4" type="CM"/>
    <xsd:element name="ORC.5" type="ST"/>
    <xsd:element name="ORC.6" type="ST"/>
    <xsd:element name="ORC.7" type="CM"/>
    <xsd:element name="ORC.8" type="CM"/>
    <xsd:element name="ORC.9" type="TS"/>
    <xsd:element name="ORC.10" type="CN"/>
    <xsd:element name="ORC.11" type="CN"/>
    <xsd:element name="ORC.12" type="CN"/>
    <xsd:element name="ORC.13" type="CM"/>
    <xsd:element name="ORC.14" type="TN"/>
    <xsd:element name="OBR.1" type="SI"/>
    <xsd:element name="OBR.2" type="CM"/>
    <xsd:element name="OBR.3" type="CM"/>
    <xsd:element name="OBR.4" type="CE"/>
    <xsd:element name="OBR.5" type="ST"/>
    <xsd:element name="OBR.6" type="TS"/>
    <xsd:element name="OBR.7" type="TS"/>
    <xsd:element name="OBR.8" type="TS"/>
    <xsd:element name="OBR.9" type="CQ"/>
    <xsd:element name="OBR.10" type="CN"/>
    <xsd:element name="OBR.11" type="ST"/>
    <xsd:element name="OBR.12" type="CM"/>
    <xsd:element name="OBR.13" type="ST"/>
    <xsd:element name="OBR.14" type="TS"/>
    <xsd:element name="OBR.15" type="CM"/>
    <xsd:element name="OBR.16" type="CN"/>
    <xsd:element name="OBR.17" type="TN"/>
    <xsd:element name="OBR.18" type="ST"/>
    <xsd:element name="OBR.19" type="ST"/>
    <xsd:element name="OBR.20" type="ST"/>
    <xsd:element name="OBR.21" type="ST"/>
    <xsd:element name="OBR.22" type="TS"/>
    <xsd:element name="OBR.23" type="CM"/>
    <xsd:element name="OBR.24" type="ID"/>
    <xsd:element name="OBR.25" type="ID"/>
    <xsd:element name="OBR.26" type="CE"/>
    <xsd:element name="OBR.27" type="CM"/>
    <xsd:element name="OBR.28" type="CN"/>
    <xsd:element name="OBR.29" type="CM"/>
    <xsd:element name="OBR.30" type="ID"/>
    <xsd:element name="OBR.31" type="CE"/>
    <xsd:element name="OBR.32" type="CN"/>
    <xsd:element name="OBR.33" type="CN"/>
    <xsd:element name="OBR.34" type="CN"/>
    <xsd:element name="OBR.35" type="CN"/>
    <xsd:element name="OBR.36" type="TS"/>
    <xsd:element name="ORO.1" type="CE"/>
    <xsd:element name="ORO.2" type="ID"/>
    <xsd:element name="ORO.3" type="CN"/>
    <xsd:element name="ORO.4" type="ID"/>
    <xsd:element name="RX1.1" type="ST"/>
    <xsd:element name="RX1.2" type="ST"/>
    <xsd:element name="RX1.3" type="ST"/>
    <xsd:element name="RX1.4" type="ST"/>
    <xsd:element name="RX1.5" type="CQ"/>
    <xsd:element name="RX1.6" type="CQ"/>
    <xsd:element name="RX1.7" type="NM"/>
    <xsd:element name="RX1.8" type="NM"/>
    <xsd:element name="RX1.9" type="CM"/>
    <xsd:element name="RX1.10" type="ID"/>
    <xsd:element name="RX1.11" type="NM"/>
    <xsd:element name="RX1.12" type="CQ"/>
    <xsd:element name="RX1.13" type="ST"/>
    <xsd:element name="RX1.14" type="CE"/>
    <xsd:element name="RX1.15" type="ID"/>
    <xsd:element name="RX1.16" type="ID"/>
    <xsd:element name="RX1.17" type="ID"/>
    <xsd:element name="RX1.18" type="ID"/>
    <xsd:element name="RX1.19" type="NM"/>
    <xsd:element name="RX1.20" type="ST"/>
    <xsd:element name="RX1.21" type="NM"/>
    <xsd:element name="RX1.22" type="ID"/>
    <xsd:element name="RX1.23" type="NM"/>
    <xsd:element name="RX1.24" type="ST"/>
    <xsd:element name="RX1.25" type="TS"/>
    <xsd:element name="RX1.26" type="ST"/>
    <xsd:element name="RX1.27" type="ID"/>
    <xsd:element name="RX1.28" type="TX"/>
    <xsd:element name="RX1.29" type="TX"/>
    <xsd:element name="RX1.30" type="TX"/>
    <xsd:element name="OBX.1" type="SI"/>
    <xsd:element name="OBX.2" type="ID"/>
    <xsd:element name="OBX.3" type="CE"/>
    <xsd:element name="OBX.4" type="NM"/>
    <xsd:element name="OBX.5" type="GenericPrimitive"/>
    <xsd:element name="OBX.6" type="ID"/>
    <xsd:element name="OBX.7" type="ST"/>
    <xsd:element name="OBX.8" type="ST"/>
    <xsd:element name="OBX.9" type="NM"/>
    <xsd:element name="OBX.10" type="ID"/>
    <xsd:element name="OBX.11" type="ID"/>
    <xsd:element name="OBX.12" type="TS"/>
    <xsd:element name="BLG.1" type="CM"/>
    <xsd:element name="BLG.2" type="ID"/>
    <xsd:element name="BLG.3" type="CM"/>
    <xsd:element name="URD.1" type="TS"/>
    <xsd:element name="URD.2" type="ID"/>
    <xsd:element name="URD.3" type="ST"/>
    <xsd:element name="URD.4" type="ID"/>
    <xsd:element name="URD.5" type="ST"/>
    <xsd:element name="URD.6" type="ST"/>
    <xsd:element name="URD.7" type="ID"/>
    <xsd:element name="URS.1" type="ST"/>
    <xsd:element name="URS.2" type="TS"/>
    <xsd:element name="URS.3" type="TS"/>
    <xsd:element name="URS.4" type="ST"/>
    <xsd:element name="URS.5" type="ST"/>
</xsd:schema>
