fiorano/hl7/2_2_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="TS">
        <xsd:sequence>
            <xsd:element ref="TS.1"/>
            <xsd:element ref="TS.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="TSComponentOne">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="TS.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TSComponentOne"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.1" type="TS.1.CONTENT"/>
    <xsd:complexType name="TS.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.2" type="TS.2.CONTENT"/>
    <xsd:complexType name="CM_MSG">
        <xsd:sequence>
            <xsd:element ref="CM_MSG.1"/>
            <xsd:element ref="CM_MSG.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CM_MSG.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MSG.1" type="CM_MSG.1.CONTENT"/>
    <xsd:complexType name="CM_MSG.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MSG.2" type="CM_MSG.2.CONTENT"/>
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CE">
        <xsd:sequence>
            <xsd:element ref="CE.1"/>
            <xsd:element ref="CE.2"/>
            <xsd:element ref="CE.3"/>
            <xsd:element ref="CE.4"/>
            <xsd:element ref="CE.5"/>
            <xsd:element ref="CE.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CE.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.1" type="CE.1.CONTENT"/>
    <xsd:complexType name="CE.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.2" type="CE.2.CONTENT"/>
    <xsd:complexType name="CE.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.3" type="CE.3.CONTENT"/>
    <xsd:complexType name="CE.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.4" type="CE.4.CONTENT"/>
    <xsd:complexType name="CE.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.5" type="CE.5.CONTENT"/>
    <xsd:complexType name="CE.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.6" type="CE.6.CONTENT"/>
    <xsd:complexType name="CM_ELD">
        <xsd:sequence>
            <xsd:element ref="CM_ELD.1"/>
            <xsd:element ref="CM_ELD.2"/>
            <xsd:element ref="CM_ELD.3"/>
            <xsd:element ref="CM_ELD.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_ELD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.1" type="CM_ELD.1.CONTENT"/>
    <xsd:complexType name="CM_ELD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.2" type="CM_ELD.2.CONTENT"/>
    <xsd:complexType name="CM_ELD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.3" type="CM_ELD.3.CONTENT"/>
    <xsd:complexType name="CM_ELD.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.4" type="CM_ELD.4.CONTENT"/>
    <xsd:complexType name="CQ_QUANTITY">
        <xsd:sequence>
            <xsd:element ref="CQ_QUANTITY.1"/>
            <xsd:element ref="CQ_QUANTITY.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CQ_QUANTITY.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CQ_QUANTITY.1" type="CQ_QUANTITY.1.CONTENT"/>
    <xsd:complexType name="CQ_QUANTITY.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CQ_QUANTITY.2" type="CQ_QUANTITY.2.CONTENT"/>
    <xsd:complexType name="CM_VR">
        <xsd:sequence>
            <xsd:element ref="CM_VR.1"/>
            <xsd:element ref="CM_VR.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_VR.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_VR.1" type="CM_VR.1.CONTENT"/>
    <xsd:complexType name="CM_VR.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_VR.2" type="CM_VR.2.CONTENT"/>
    <xsd:simpleType name="SI">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CK">
        <xsd:sequence>
            <xsd:element ref="CK.1"/>
            <xsd:element ref="CK.2"/>
            <xsd:element ref="CK.3"/>
            <xsd:element ref="CK.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CK.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.1" type="CK.1.CONTENT"/>
    <xsd:complexType name="CK.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.2" type="CK.2.CONTENT"/>
    <xsd:complexType name="CK.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.3" type="CK.3.CONTENT"/>
    <xsd:complexType name="CK.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.4" type="CK.4.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID">
        <xsd:sequence>
            <xsd:element ref="CM_PAT_ID.1"/>
            <xsd:element ref="CM_PAT_ID.2"/>
            <xsd:element ref="CM_PAT_ID.3"/>
            <xsd:element ref="CM_PAT_ID.4"/>
            <xsd:element ref="CM_PAT_ID.5"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PAT_ID.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID.1" type="CM_PAT_ID.1.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID.2" type="CM_PAT_ID.2.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID.3" type="CM_PAT_ID.3.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID.4" type="CM_PAT_ID.4.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID.5" type="CM_PAT_ID.5.CONTENT"/>
    <xsd:complexType name="PN">
        <xsd:sequence>
            <xsd:element ref="PN.1"/>
            <xsd:element ref="PN.2"/>
            <xsd:element ref="PN.3"/>
            <xsd:element ref="PN.4"/>
            <xsd:element ref="PN.5"/>
            <xsd:element ref="PN.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.1" type="PN.1.CONTENT"/>
    <xsd:complexType name="PN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.2" type="PN.2.CONTENT"/>
    <xsd:complexType name="PN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.3" type="PN.3.CONTENT"/>
    <xsd:complexType name="PN.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.4" type="PN.4.CONTENT"/>
    <xsd:complexType name="PN.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.5" type="PN.5.CONTENT"/>
    <xsd:complexType name="PN.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.6" type="PN.6.CONTENT"/>
    <xsd:complexType name="AD">
        <xsd:sequence>
            <xsd:element ref="AD.1"/>
            <xsd:element ref="AD.2"/>
            <xsd:element ref="AD.3"/>
            <xsd:element ref="AD.4"/>
            <xsd:element ref="AD.5"/>
            <xsd:element ref="AD.6"/>
            <xsd:element ref="AD.7"/>
            <xsd:element ref="AD.8"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.1" type="AD.1.CONTENT"/>
    <xsd:complexType name="AD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.2" type="AD.2.CONTENT"/>
    <xsd:complexType name="AD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.3" type="AD.3.CONTENT"/>
    <xsd:complexType name="AD.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.4" type="AD.4.CONTENT"/>
    <xsd:complexType name="AD.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.5" type="AD.5.CONTENT"/>
    <xsd:complexType name="AD.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.6" type="AD.6.CONTENT"/>
    <xsd:complexType name="AD.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.7" type="AD.7.CONTENT"/>
    <xsd:complexType name="AD.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.8" type="AD.8.CONTENT"/>
    <xsd:simpleType name="TN">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CM_LICENSE_NO">
        <xsd:sequence>
            <xsd:element ref="CM_LICENSE_NO.1"/>
            <xsd:element ref="CM_LICENSE_NO.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_LICENSE_NO.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LICENSE_NO.1" type="CM_LICENSE_NO.1.CONTENT"/>
    <xsd:complexType name="CM_LICENSE_NO.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LICENSE_NO.2" type="CM_LICENSE_NO.2.CONTENT"/>
    <xsd:simpleType name="DT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CM_JOB_CODE">
        <xsd:sequence>
            <xsd:element ref="CM_JOB_CODE.1"/>
            <xsd:element ref="CM_JOB_CODE.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_JOB_CODE.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_JOB_CODE.1" type="CM_JOB_CODE.1.CONTENT"/>
    <xsd:complexType name="CM_JOB_CODE.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_JOB_CODE.2" type="CM_JOB_CODE.2.CONTENT"/>
    <xsd:complexType name="CM_INTERNAL_LOCATION">
        <xsd:sequence>
            <xsd:element ref="CM_INTERNAL_LOCATION.1"/>
            <xsd:element ref="CM_INTERNAL_LOCATION.2"/>
            <xsd:element ref="CM_INTERNAL_LOCATION.3"/>
            <xsd:element ref="CM_INTERNAL_LOCATION.4"/>
            <xsd:element ref="CM_INTERNAL_LOCATION.5"/>
            <xsd:element ref="CM_INTERNAL_LOCATION.6"/>
            <xsd:element ref="CM_INTERNAL_LOCATION.7"/>
            <xsd:element ref="CM_INTERNAL_LOCATION.8"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_INTERNAL_LOCATION.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_INTERNAL_LOCATION.1" type="CM_INTERNAL_LOCATION.1.CONTENT"/>
    <xsd:complexType name="CM_INTERNAL_LOCATION.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_INTERNAL_LOCATION.2" type="CM_INTERNAL_LOCATION.2.CONTENT"/>
    <xsd:complexType name="CM_INTERNAL_LOCATION.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_INTERNAL_LOCATION.3" type="CM_INTERNAL_LOCATION.3.CONTENT"/>
    <xsd:complexType name="CM_INTERNAL_LOCATION.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_INTERNAL_LOCATION.4" type="CM_INTERNAL_LOCATION.4.CONTENT"/>
    <xsd:complexType name="CM_INTERNAL_LOCATION.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_INTERNAL_LOCATION.5" type="CM_INTERNAL_LOCATION.5.CONTENT"/>
    <xsd:complexType name="CM_INTERNAL_LOCATION.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_INTERNAL_LOCATION.6" type="CM_INTERNAL_LOCATION.6.CONTENT"/>
    <xsd:complexType name="CM_INTERNAL_LOCATION.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_INTERNAL_LOCATION.7" type="CM_INTERNAL_LOCATION.7.CONTENT"/>
    <xsd:complexType name="CM_INTERNAL_LOCATION.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_INTERNAL_LOCATION.8" type="CM_INTERNAL_LOCATION.8.CONTENT"/>
    <xsd:complexType name="CN">
        <xsd:sequence>
            <xsd:element ref="CN.1"/>
            <xsd:element ref="CN.2"/>
            <xsd:element ref="CN.3"/>
            <xsd:element ref="CN.4"/>
            <xsd:element ref="CN.5"/>
            <xsd:element ref="CN.6"/>
            <xsd:element ref="CN.7"/>
            <xsd:element ref="CN.8"/>
            <xsd:element ref="CN.9"/>
            <xsd:element ref="CN.10"/>
            <xsd:element ref="CN.11"/>
            <xsd:element ref="CN.12"/>
            <xsd:element ref="CN.13"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.1" type="CN.1.CONTENT"/>
    <xsd:complexType name="CN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.2" type="CN.2.CONTENT"/>
    <xsd:complexType name="CN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.3" type="CN.3.CONTENT"/>
    <xsd:complexType name="CN.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.4" type="CN.4.CONTENT"/>
    <xsd:complexType name="CN.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.5" type="CN.5.CONTENT"/>
    <xsd:complexType name="CN.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.6" type="CN.6.CONTENT"/>
    <xsd:complexType name="CN.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.7" type="CN.7.CONTENT"/>
    <xsd:complexType name="CN.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.8" type="CN.8.CONTENT"/>
    <xsd:complexType name="CN.9.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="AD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CN.9" type="CN.9.CONTENT"/>
    <xsd:complexType name="CN.10.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TN"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.10" type="CN.10.CONTENT"/>
    <xsd:complexType name="CN.11.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TN"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.11" type="CN.11.CONTENT"/>
    <xsd:complexType name="CN.12.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TN"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.12" type="CN.12.CONTENT"/>
    <xsd:complexType name="CN.13.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.13" type="CN.13.CONTENT"/>
    <xsd:complexType name="CM_FINANCE">
        <xsd:sequence>
            <xsd:element ref="CM_FINANCE.1"/>
            <xsd:element ref="CM_FINANCE.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_FINANCE.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_FINANCE.1" type="CM_FINANCE.1.CONTENT"/>
    <xsd:complexType name="CM_FINANCE.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_FINANCE.2" type="CM_FINANCE.2.CONTENT"/>
    <xsd:complexType name="CM_DLD">
        <xsd:sequence>
            <xsd:element ref="CM_DLD.1"/>
            <xsd:element ref="CM_DLD.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_DLD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DLD.1" type="CM_DLD.1.CONTENT"/>
    <xsd:complexType name="CM_DLD.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_DLD.2" type="CM_DLD.2.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID_0192">
        <xsd:sequence>
            <xsd:element ref="CM_PAT_ID_0192.1"/>
            <xsd:element ref="CM_PAT_ID_0192.2"/>
            <xsd:element ref="CM_PAT_ID_0192.3"/>
            <xsd:element ref="CM_PAT_ID_0192.4"/>
            <xsd:element ref="CM_PAT_ID_0192.5"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PAT_ID_0192.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID_0192.1" type="CM_PAT_ID_0192.1.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID_0192.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID_0192.2" type="CM_PAT_ID_0192.2.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID_0192.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID_0192.3" type="CM_PAT_ID_0192.3.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID_0192.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID_0192.4" type="CM_PAT_ID_0192.4.CONTENT"/>
    <xsd:complexType name="CM_PAT_ID_0192.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PAT_ID_0192.5" type="CM_PAT_ID_0192.5.CONTENT"/>
    <xsd:simpleType name="GenericPrimitive">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CM_PRACTITIONER">
        <xsd:sequence>
            <xsd:element ref="CM_PRACTITIONER.1"/>
            <xsd:element ref="CM_PRACTITIONER.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PRACTITIONER.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CN"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_PRACTITIONER.1" type="CM_PRACTITIONER.1.CONTENT"/>
    <xsd:complexType name="CM_PRACTITIONER.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PRACTITIONER.2" type="CM_PRACTITIONER.2.CONTENT"/>
    <xsd:complexType name="CM_AUI">
        <xsd:sequence>
            <xsd:element ref="CM_AUI.1"/>
            <xsd:element ref="CM_AUI.2"/>
            <xsd:element ref="CM_AUI.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_AUI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_AUI.1" type="CM_AUI.1.CONTENT"/>
    <xsd:complexType name="CM_AUI.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_AUI.2" type="CM_AUI.2.CONTENT"/>
    <xsd:complexType name="CM_AUI.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_AUI.3" type="CM_AUI.3.CONTENT"/>
    <xsd:complexType name="CM_RMC">
        <xsd:sequence>
            <xsd:element ref="CM_RMC.1"/>
            <xsd:element ref="CM_RMC.2"/>
            <xsd:element ref="CM_RMC.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_RMC.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RMC.1" type="CM_RMC.1.CONTENT"/>
    <xsd:complexType name="CM_RMC.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RMC.2" type="CM_RMC.2.CONTENT"/>
    <xsd:complexType name="CM_RMC.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RMC.3" type="CM_RMC.3.CONTENT"/>
    <xsd:complexType name="CM_PTA">
        <xsd:sequence>
            <xsd:element ref="CM_PTA.1"/>
            <xsd:element ref="CM_PTA.2"/>
            <xsd:element ref="CM_PTA.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PTA.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PTA.1" type="CM_PTA.1.CONTENT"/>
    <xsd:complexType name="CM_PTA.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PTA.2" type="CM_PTA.2.CONTENT"/>
    <xsd:complexType name="CM_PTA.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PTA.3" type="CM_PTA.3.CONTENT"/>
    <xsd:complexType name="CM_DDI">
        <xsd:sequence>
            <xsd:element ref="CM_DDI.1"/>
            <xsd:element ref="CM_DDI.2"/>
            <xsd:element ref="CM_DDI.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_DDI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DDI.1" type="CM_DDI.1.CONTENT"/>
    <xsd:complexType name="CM_DDI.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DDI.2" type="CM_DDI.2.CONTENT"/>
    <xsd:complexType name="CM_DDI.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DDI.3" type="CM_DDI.3.CONTENT"/>
    <xsd:complexType name="CM_PEN">
        <xsd:sequence>
            <xsd:element ref="CM_PEN.1"/>
            <xsd:element ref="CM_PEN.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PEN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PEN.1" type="CM_PEN.1.CONTENT"/>
    <xsd:complexType name="CM_PEN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PEN.2" type="CM_PEN.2.CONTENT"/>
    <xsd:complexType name="CM_DTN">
        <xsd:sequence>
            <xsd:element ref="CM_DTN.1"/>
            <xsd:element ref="CM_DTN.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_DTN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DTN.1" type="CM_DTN.1.CONTENT"/>
    <xsd:complexType name="CM_DTN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DTN.2" type="CM_DTN.2.CONTENT"/>
    <xsd:complexType name="CM_PCF">
        <xsd:sequence>
            <xsd:element ref="CM_PCF.1"/>
            <xsd:element ref="CM_PCF.2"/>
            <xsd:element ref="CM_PCF.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PCF.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PCF.1" type="CM_PCF.1.CONTENT"/>
    <xsd:complexType name="CM_PCF.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PCF.2" type="CM_PCF.2.CONTENT"/>
    <xsd:complexType name="CM_PCF.3.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_PCF.3" type="CM_PCF.3.CONTENT"/>
    <xsd:complexType name="CM_UVC">
        <xsd:sequence>
            <xsd:element ref="CM_UVC.1"/>
            <xsd:element ref="CM_UVC.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_UVC.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_UVC.1" type="CM_UVC.1.CONTENT"/>
    <xsd:complexType name="CM_UVC.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_UVC.2" type="CM_UVC.2.CONTENT"/>
    <xsd:complexType name="CM_OCD">
        <xsd:sequence>
            <xsd:element ref="CM_OCD.1"/>
            <xsd:element ref="CM_OCD.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_OCD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OCD.1" type="CM_OCD.1.CONTENT"/>
    <xsd:complexType name="CM_OCD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OCD.2" type="CM_OCD.2.CONTENT"/>
    <xsd:complexType name="CM_OSP">
        <xsd:sequence>
            <xsd:element ref="CM_OSP.1"/>
            <xsd:element ref="CM_OSP.2"/>
            <xsd:element ref="CM_OSP.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_OSP.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSP.1" type="CM_OSP.1.CONTENT"/>
    <xsd:complexType name="CM_OSP.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSP.2" type="CM_OSP.2.CONTENT"/>
    <xsd:complexType name="CM_OSP.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSP.3" type="CM_OSP.3.CONTENT"/>
    <xsd:complexType name="CM_FILLER">
        <xsd:sequence>
            <xsd:element ref="CM_FILLER.1"/>
            <xsd:element ref="CM_FILLER.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_FILLER.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_FILLER.1" type="CM_FILLER.1.CONTENT"/>
    <xsd:complexType name="CM_FILLER.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_FILLER.2" type="CM_FILLER.2.CONTENT"/>
    <xsd:simpleType name="TX">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="FT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CM_PLACER">
        <xsd:sequence>
            <xsd:element ref="CM_PLACER.1"/>
            <xsd:element ref="CM_PLACER.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PLACER.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PLACER.1" type="CM_PLACER.1.CONTENT"/>
    <xsd:complexType name="CM_PLACER.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PLACER.2" type="CM_PLACER.2.CONTENT"/>
    <xsd:complexType name="CM_GROUP_ID">
        <xsd:sequence>
            <xsd:element ref="CM_GROUP_ID.1"/>
            <xsd:element ref="CM_GROUP_ID.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_GROUP_ID.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_GROUP_ID.1" type="CM_GROUP_ID.1.CONTENT"/>
    <xsd:complexType name="CM_GROUP_ID.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_GROUP_ID.2" type="CM_GROUP_ID.2.CONTENT"/>
    <xsd:complexType name="TQ">
        <xsd:sequence>
            <xsd:element ref="TQ.1"/>
            <xsd:element ref="TQ.2"/>
            <xsd:element ref="TQ.3"/>
            <xsd:element ref="TQ.4"/>
            <xsd:element ref="TQ.5"/>
            <xsd:element ref="TQ.6"/>
            <xsd:element ref="TQ.7"/>
            <xsd:element ref="TQ.8"/>
            <xsd:element ref="TQ.9"/>
            <xsd:element ref="TQ.10"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TQ.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CQ_QUANTITY"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.1" type="TQ.1.CONTENT"/>
    <xsd:complexType name="CM_RI">
        <xsd:sequence>
            <xsd:element ref="CM_RI.1"/>
            <xsd:element ref="CM_RI.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_RI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RI.1" type="CM_RI.1.CONTENT"/>
    <xsd:complexType name="CM_RI.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RI.2" type="CM_RI.2.CONTENT"/>
    <xsd:complexType name="TQ.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_RI"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.2" type="TQ.2.CONTENT"/>
    <xsd:complexType name="TQ.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.3" type="TQ.3.CONTENT"/>
    <xsd:complexType name="TQ.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.4" type="TQ.4.CONTENT"/>
    <xsd:complexType name="TQ.5.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.5" type="TQ.5.CONTENT"/>
    <xsd:complexType name="TQ.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.6" type="TQ.6.CONTENT"/>
    <xsd:complexType name="TQ.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.7" type="TQ.7.CONTENT"/>
    <xsd:complexType name="TQ.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.8" type="TQ.8.CONTENT"/>
    <xsd:complexType name="TQ.9.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.9" type="TQ.9.CONTENT"/>
    <xsd:complexType name="TQ.10.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.10" type="TQ.10.CONTENT"/>
    <xsd:complexType name="CM_EIP">
        <xsd:sequence>
            <xsd:element ref="CM_EIP.1"/>
            <xsd:element ref="CM_EIP.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_EIP.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_EIP.1" type="CM_EIP.1.CONTENT"/>
    <xsd:complexType name="CM_EIP.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_EIP.2" type="CM_EIP.2.CONTENT"/>
    <xsd:complexType name="CM_PARENT_RESULT">
        <xsd:sequence>
            <xsd:element ref="CM_PARENT_RESULT.1"/>
            <xsd:element ref="CM_PARENT_RESULT.2"/>
            <xsd:element ref="CM_PARENT_RESULT.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PARENT_RESULT.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_PARENT_RESULT.1" type="CM_PARENT_RESULT.1.CONTENT"/>
    <xsd:complexType name="CM_PARENT_RESULT.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PARENT_RESULT.2" type="CM_PARENT_RESULT.2.CONTENT"/>
    <xsd:complexType name="CM_PARENT_RESULT.3.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_PARENT_RESULT.3" type="CM_PARENT_RESULT.3.CONTENT"/>
    <xsd:complexType name="CM_SPS">
        <xsd:sequence>
            <xsd:element ref="CM_SPS.1"/>
            <xsd:element ref="CM_SPS.2"/>
            <xsd:element ref="CM_SPS.3"/>
            <xsd:element ref="CM_SPS.4"/>
            <xsd:element ref="CM_SPS.5"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_SPS.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.1" type="CM_SPS.1.CONTENT"/>
    <xsd:complexType name="CM_SPS.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.2" type="CM_SPS.2.CONTENT"/>
    <xsd:complexType name="CM_SPS.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.3" type="CM_SPS.3.CONTENT"/>
    <xsd:complexType name="CM_SPS.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.4" type="CM_SPS.4.CONTENT"/>
    <xsd:complexType name="CM_SPS.5.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.5" type="CM_SPS.5.CONTENT"/>
    <xsd:complexType name="CM_MOC">
        <xsd:sequence>
            <xsd:element ref="CM_MOC.1"/>
            <xsd:element ref="CM_MOC.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_MOC.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MOC.1" type="CM_MOC.1.CONTENT"/>
    <xsd:complexType name="CM_MOC.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MOC.2" type="CM_MOC.2.CONTENT"/>
    <xsd:complexType name="CM_NDL">
        <xsd:sequence>
            <xsd:element ref="CM_NDL.1"/>
            <xsd:element ref="CM_NDL.2"/>
            <xsd:element ref="CM_NDL.3"/>
            <xsd:element ref="CM_NDL.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_NDL.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CN"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.1" type="CM_NDL.1.CONTENT"/>
    <xsd:complexType name="CM_NDL.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.2" type="CM_NDL.2.CONTENT"/>
    <xsd:complexType name="CM_NDL.3.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.3" type="CM_NDL.3.CONTENT"/>
    <xsd:complexType name="CM_NDL.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_INTERNAL_LOCATION"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.4" type="CM_NDL.4.CONTENT"/>
    <xsd:complexType name="CM_LA1">
        <xsd:sequence>
            <xsd:element ref="CM_LA1.1"/>
            <xsd:element ref="CM_LA1.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_LA1.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_INTERNAL_LOCATION"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.1" type="CM_LA1.1.CONTENT"/>
    <xsd:complexType name="CM_LA1.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="AD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.2" type="CM_LA1.2.CONTENT"/>
    <xsd:complexType name="CM_CCD">
        <xsd:sequence>
            <xsd:element ref="CM_CCD.1"/>
            <xsd:element ref="CM_CCD.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_CCD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_CCD.1" type="CM_CCD.1.CONTENT"/>
    <xsd:complexType name="CM_CCD.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_CCD.2" type="CM_CCD.2.CONTENT"/>
</xsd:schema>
