fiorano/hl7/2_2_segments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:include schemaLocation="2_2_fields.xsd"/>
    <xsd:complexType name="MSH.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MSH.1"/>
            <xsd:element ref="MSH.2"/>
            <xsd:element minOccurs="0" ref="MSH.3"/>
            <xsd:element minOccurs="0" ref="MSH.4"/>
            <xsd:element minOccurs="0" ref="MSH.5"/>
            <xsd:element minOccurs="0" ref="MSH.6"/>
            <xsd:element minOccurs="0" ref="MSH.7"/>
            <xsd:element minOccurs="0" ref="MSH.8"/>
            <xsd:element ref="MSH.9"/>
            <xsd:element ref="MSH.10"/>
            <xsd:element ref="MSH.11"/>
            <xsd:element ref="MSH.12"/>
            <xsd:element minOccurs="0" ref="MSH.13"/>
            <xsd:element minOccurs="0" ref="MSH.14"/>
            <xsd:element minOccurs="0" ref="MSH.15"/>
            <xsd:element minOccurs="0" ref="MSH.16"/>
            <xsd:element minOccurs="0" ref="MSH.17"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MSH" type="MSH.CONTENT"/>
    <xsd:complexType name="MSA.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MSA.1"/>
            <xsd:element ref="MSA.2"/>
            <xsd:element minOccurs="0" ref="MSA.3"/>
            <xsd:element minOccurs="0" ref="MSA.4"/>
            <xsd:element minOccurs="0" ref="MSA.5"/>
            <xsd:element minOccurs="0" ref="MSA.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MSA" type="MSA.CONTENT"/>
    <xsd:complexType name="ERR.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="ERR.1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ERR" type="ERR.CONTENT"/>
    <xsd:complexType name="QRD.CONTENT">
        <xsd:sequence>
            <xsd:element ref="QRD.1"/>
            <xsd:element ref="QRD.2"/>
            <xsd:element ref="QRD.3"/>
            <xsd:element ref="QRD.4"/>
            <xsd:element minOccurs="0" ref="QRD.5"/>
            <xsd:element minOccurs="0" ref="QRD.6"/>
            <xsd:element ref="QRD.7"/>
            <xsd:element maxOccurs="unbounded" ref="QRD.8"/>
            <xsd:element maxOccurs="unbounded" ref="QRD.9"/>
            <xsd:element maxOccurs="unbounded" ref="QRD.10"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="QRD.11"/>
            <xsd:element minOccurs="0" ref="QRD.12"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="QRD" type="QRD.CONTENT"/>
    <xsd:complexType name="EVN.CONTENT">
        <xsd:sequence>
            <xsd:element ref="EVN.1"/>
            <xsd:element ref="EVN.2"/>
            <xsd:element minOccurs="0" ref="EVN.3"/>
            <xsd:element minOccurs="0" ref="EVN.4"/>
            <xsd:element minOccurs="0" ref="EVN.5"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EVN" type="EVN.CONTENT"/>
    <xsd:complexType name="PID.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="PID.1"/>
            <xsd:element minOccurs="0" ref="PID.2"/>
            <xsd:element maxOccurs="unbounded" ref="PID.3"/>
            <xsd:element minOccurs="0" ref="PID.4"/>
            <xsd:element ref="PID.5"/>
            <xsd:element minOccurs="0" ref="PID.6"/>
            <xsd:element minOccurs="0" ref="PID.7"/>
            <xsd:element minOccurs="0" ref="PID.8"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PID.9"/>
            <xsd:element minOccurs="0" ref="PID.10"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="PID.11"/>
            <xsd:element minOccurs="0" ref="PID.12"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="PID.13"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="PID.14"/>
            <xsd:element minOccurs="0" ref="PID.15"/>
            <xsd:element minOccurs="0" ref="PID.16"/>
            <xsd:element minOccurs="0" ref="PID.17"/>
            <xsd:element minOccurs="0" ref="PID.18"/>
            <xsd:element minOccurs="0" ref="PID.19"/>
            <xsd:element minOccurs="0" ref="PID.20"/>
            <xsd:element minOccurs="0" ref="PID.21"/>
            <xsd:element minOccurs="0" ref="PID.22"/>
            <xsd:element minOccurs="0" ref="PID.23"/>
            <xsd:element minOccurs="0" ref="PID.24"/>
            <xsd:element minOccurs="0" ref="PID.25"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PID.26"/>
            <xsd:element minOccurs="0" ref="PID.27"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PID" type="PID.CONTENT"/>
    <xsd:complexType name="NK1.CONTENT">
        <xsd:sequence>
            <xsd:element ref="NK1.1"/>
            <xsd:element minOccurs="0" ref="NK1.2"/>
            <xsd:element minOccurs="0" ref="NK1.3"/>
            <xsd:element minOccurs="0" ref="NK1.4"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="NK1.5"/>
            <xsd:element minOccurs="0" ref="NK1.6"/>
            <xsd:element minOccurs="0" ref="NK1.7"/>
            <xsd:element minOccurs="0" ref="NK1.8"/>
            <xsd:element minOccurs="0" ref="NK1.9"/>
            <xsd:element minOccurs="0" ref="NK1.10"/>
            <xsd:element minOccurs="0" ref="NK1.11"/>
            <xsd:element minOccurs="0" ref="NK1.12"/>
            <xsd:element minOccurs="0" ref="NK1.13"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NK1" type="NK1.CONTENT"/>
    <xsd:complexType name="PV1.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="PV1.1"/>
            <xsd:element ref="PV1.2"/>
            <xsd:element minOccurs="0" ref="PV1.3"/>
            <xsd:element minOccurs="0" ref="PV1.4"/>
            <xsd:element minOccurs="0" ref="PV1.5"/>
            <xsd:element minOccurs="0" ref="PV1.6"/>
            <xsd:element minOccurs="0" ref="PV1.7"/>
            <xsd:element minOccurs="0" ref="PV1.8"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PV1.9"/>
            <xsd:element minOccurs="0" ref="PV1.10"/>
            <xsd:element minOccurs="0" ref="PV1.11"/>
            <xsd:element minOccurs="0" ref="PV1.12"/>
            <xsd:element minOccurs="0" ref="PV1.13"/>
            <xsd:element minOccurs="0" ref="PV1.14"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PV1.15"/>
            <xsd:element minOccurs="0" ref="PV1.16"/>
            <xsd:element minOccurs="0" ref="PV1.17"/>
            <xsd:element minOccurs="0" ref="PV1.18"/>
            <xsd:element minOccurs="0" ref="PV1.19"/>
            <xsd:element minOccurs="0" maxOccurs="4" ref="PV1.20"/>
            <xsd:element minOccurs="0" ref="PV1.21"/>
            <xsd:element minOccurs="0" ref="PV1.22"/>
            <xsd:element minOccurs="0" ref="PV1.23"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PV1.24"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PV1.25"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PV1.26"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PV1.27"/>
            <xsd:element minOccurs="0" ref="PV1.28"/>
            <xsd:element minOccurs="0" ref="PV1.29"/>
            <xsd:element minOccurs="0" ref="PV1.30"/>
            <xsd:element minOccurs="0" ref="PV1.31"/>
            <xsd:element minOccurs="0" ref="PV1.32"/>
            <xsd:element minOccurs="0" ref="PV1.33"/>
            <xsd:element minOccurs="0" ref="PV1.34"/>
            <xsd:element minOccurs="0" ref="PV1.35"/>
            <xsd:element minOccurs="0" ref="PV1.36"/>
            <xsd:element minOccurs="0" ref="PV1.37"/>
            <xsd:element minOccurs="0" ref="PV1.38"/>
            <xsd:element minOccurs="0" ref="PV1.39"/>
            <xsd:element minOccurs="0" ref="PV1.40"/>
            <xsd:element minOccurs="0" ref="PV1.41"/>
            <xsd:element minOccurs="0" ref="PV1.42"/>
            <xsd:element minOccurs="0" ref="PV1.43"/>
            <xsd:element minOccurs="0" ref="PV1.44"/>
            <xsd:element minOccurs="0" ref="PV1.45"/>
            <xsd:element minOccurs="0" ref="PV1.46"/>
            <xsd:element minOccurs="0" ref="PV1.47"/>
            <xsd:element minOccurs="0" ref="PV1.48"/>
            <xsd:element minOccurs="0" ref="PV1.49"/>
            <xsd:element minOccurs="0" ref="PV1.50"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PV1" type="PV1.CONTENT"/>
    <xsd:complexType name="PV2.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="PV2.1"/>
            <xsd:element minOccurs="0" ref="PV2.2"/>
            <xsd:element minOccurs="0" ref="PV2.3"/>
            <xsd:element minOccurs="0" ref="PV2.4"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PV2.5"/>
            <xsd:element minOccurs="0" ref="PV2.6"/>
            <xsd:element minOccurs="0" ref="PV2.7"/>
            <xsd:element minOccurs="0" ref="PV2.8"/>
            <xsd:element minOccurs="0" ref="PV2.9"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PV2" type="PV2.CONTENT"/>
    <xsd:complexType name="OBX.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="OBX.1"/>
            <xsd:element ref="OBX.2"/>
            <xsd:element ref="OBX.3"/>
            <xsd:element minOccurs="0" ref="OBX.4"/>
            <xsd:element minOccurs="0" ref="OBX.5"/>
            <xsd:element minOccurs="0" ref="OBX.6"/>
            <xsd:element minOccurs="0" ref="OBX.7"/>
            <xsd:element minOccurs="0" maxOccurs="5" ref="OBX.8"/>
            <xsd:element minOccurs="0" ref="OBX.9"/>
            <xsd:element minOccurs="0" ref="OBX.10"/>
            <xsd:element ref="OBX.11"/>
            <xsd:element minOccurs="0" ref="OBX.12"/>
            <xsd:element minOccurs="0" ref="OBX.13"/>
            <xsd:element minOccurs="0" ref="OBX.14"/>
            <xsd:element minOccurs="0" ref="OBX.15"/>
            <xsd:element minOccurs="0" ref="OBX.16"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OBX" type="OBX.CONTENT"/>
    <xsd:complexType name="AL1.CONTENT">
        <xsd:sequence>
            <xsd:element ref="AL1.1"/>
            <xsd:element minOccurs="0" ref="AL1.2"/>
            <xsd:element ref="AL1.3"/>
            <xsd:element minOccurs="0" ref="AL1.4"/>
            <xsd:element minOccurs="0" ref="AL1.5"/>
            <xsd:element minOccurs="0" ref="AL1.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AL1" type="AL1.CONTENT"/>
    <xsd:complexType name="DG1.CONTENT">
        <xsd:sequence>
            <xsd:element ref="DG1.1"/>
            <xsd:element ref="DG1.2"/>
            <xsd:element minOccurs="0" ref="DG1.3"/>
            <xsd:element minOccurs="0" ref="DG1.4"/>
            <xsd:element minOccurs="0" ref="DG1.5"/>
            <xsd:element ref="DG1.6"/>
            <xsd:element minOccurs="0" ref="DG1.7"/>
            <xsd:element minOccurs="0" ref="DG1.8"/>
            <xsd:element minOccurs="0" ref="DG1.9"/>
            <xsd:element minOccurs="0" ref="DG1.10"/>
            <xsd:element minOccurs="0" ref="DG1.11"/>
            <xsd:element minOccurs="0" ref="DG1.12"/>
            <xsd:element minOccurs="0" ref="DG1.13"/>
            <xsd:element minOccurs="0" ref="DG1.14"/>
            <xsd:element minOccurs="0" ref="DG1.15"/>
            <xsd:element minOccurs="0" ref="DG1.16"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DG1" type="DG1.CONTENT"/>
    <xsd:complexType name="PR1.CONTENT">
        <xsd:sequence>
            <xsd:element ref="PR1.1"/>
            <xsd:element maxOccurs="unbounded" ref="PR1.2"/>
            <xsd:element maxOccurs="unbounded" ref="PR1.3"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PR1.4"/>
            <xsd:element ref="PR1.5"/>
            <xsd:element ref="PR1.6"/>
            <xsd:element minOccurs="0" ref="PR1.7"/>
            <xsd:element minOccurs="0" ref="PR1.8"/>
            <xsd:element minOccurs="0" ref="PR1.9"/>
            <xsd:element minOccurs="0" ref="PR1.10"/>
            <xsd:element minOccurs="0" ref="PR1.11"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PR1.12"/>
            <xsd:element minOccurs="0" ref="PR1.13"/>
            <xsd:element minOccurs="0" ref="PR1.14"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PR1" type="PR1.CONTENT"/>
    <xsd:complexType name="GT1.CONTENT">
        <xsd:sequence>
            <xsd:element ref="GT1.1"/>
            <xsd:element minOccurs="0" ref="GT1.2"/>
            <xsd:element ref="GT1.3"/>
            <xsd:element minOccurs="0" ref="GT1.4"/>
            <xsd:element minOccurs="0" ref="GT1.5"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="GT1.6"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="GT1.7"/>
            <xsd:element minOccurs="0" ref="GT1.8"/>
            <xsd:element minOccurs="0" ref="GT1.9"/>
            <xsd:element minOccurs="0" ref="GT1.10"/>
            <xsd:element minOccurs="0" ref="GT1.11"/>
            <xsd:element minOccurs="0" ref="GT1.12"/>
            <xsd:element minOccurs="0" ref="GT1.13"/>
            <xsd:element minOccurs="0" ref="GT1.14"/>
            <xsd:element minOccurs="0" ref="GT1.15"/>
            <xsd:element minOccurs="0" ref="GT1.16"/>
            <xsd:element minOccurs="0" ref="GT1.17"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="GT1.18"/>
            <xsd:element minOccurs="0" ref="GT1.19"/>
            <xsd:element minOccurs="0" ref="GT1.20"/>
            <xsd:element minOccurs="0" ref="GT1.21"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GT1" type="GT1.CONTENT"/>
    <xsd:complexType name="IN1.CONTENT">
        <xsd:sequence>
            <xsd:element ref="IN1.1"/>
            <xsd:element ref="IN1.2"/>
            <xsd:element ref="IN1.3"/>
            <xsd:element minOccurs="0" ref="IN1.4"/>
            <xsd:element minOccurs="0" ref="IN1.5"/>
            <xsd:element minOccurs="0" ref="IN1.6"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="IN1.7"/>
            <xsd:element minOccurs="0" ref="IN1.8"/>
            <xsd:element minOccurs="0" ref="IN1.9"/>
            <xsd:element minOccurs="0" ref="IN1.10"/>
            <xsd:element minOccurs="0" ref="IN1.11"/>
            <xsd:element minOccurs="0" ref="IN1.12"/>
            <xsd:element minOccurs="0" ref="IN1.13"/>
            <xsd:element minOccurs="0" ref="IN1.14"/>
            <xsd:element minOccurs="0" ref="IN1.15"/>
            <xsd:element minOccurs="0" ref="IN1.16"/>
            <xsd:element minOccurs="0" ref="IN1.17"/>
            <xsd:element minOccurs="0" ref="IN1.18"/>
            <xsd:element minOccurs="0" ref="IN1.19"/>
            <xsd:element minOccurs="0" ref="IN1.20"/>
            <xsd:element minOccurs="0" ref="IN1.21"/>
            <xsd:element minOccurs="0" ref="IN1.22"/>
            <xsd:element minOccurs="0" ref="IN1.23"/>
            <xsd:element minOccurs="0" ref="IN1.24"/>
            <xsd:element minOccurs="0" ref="IN1.25"/>
            <xsd:element minOccurs="0" ref="IN1.26"/>
            <xsd:element minOccurs="0" ref="IN1.27"/>
            <xsd:element minOccurs="0" ref="IN1.28"/>
            <xsd:element minOccurs="0" ref="IN1.29"/>
            <xsd:element minOccurs="0" ref="IN1.30"/>
            <xsd:element minOccurs="0" ref="IN1.31"/>
            <xsd:element minOccurs="0" ref="IN1.32"/>
            <xsd:element minOccurs="0" ref="IN1.33"/>
            <xsd:element minOccurs="0" ref="IN1.34"/>
            <xsd:element minOccurs="0" ref="IN1.35"/>
            <xsd:element minOccurs="0" ref="IN1.36"/>
            <xsd:element minOccurs="0" ref="IN1.37"/>
            <xsd:element minOccurs="0" ref="IN1.38"/>
            <xsd:element minOccurs="0" ref="IN1.39"/>
            <xsd:element minOccurs="0" ref="IN1.40"/>
            <xsd:element minOccurs="0" ref="IN1.41"/>
            <xsd:element minOccurs="0" ref="IN1.42"/>
            <xsd:element minOccurs="0" ref="IN1.43"/>
            <xsd:element minOccurs="0" ref="IN1.44"/>
            <xsd:element minOccurs="0" ref="IN1.45"/>
            <xsd:element minOccurs="0" ref="IN1.46"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="IN1" type="IN1.CONTENT"/>
    <xsd:complexType name="IN2.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="IN2.1"/>
            <xsd:element minOccurs="0" ref="IN2.2"/>
            <xsd:element minOccurs="0" ref="IN2.3"/>
            <xsd:element minOccurs="0" ref="IN2.4"/>
            <xsd:element minOccurs="0" ref="IN2.5"/>
            <xsd:element minOccurs="0" ref="IN2.6"/>
            <xsd:element minOccurs="0" ref="IN2.7"/>
            <xsd:element minOccurs="0" ref="IN2.8"/>
            <xsd:element minOccurs="0" ref="IN2.9"/>
            <xsd:element minOccurs="0" ref="IN2.10"/>
            <xsd:element minOccurs="0" ref="IN2.11"/>
            <xsd:element minOccurs="0" ref="IN2.12"/>
            <xsd:element minOccurs="0" ref="IN2.13"/>
            <xsd:element minOccurs="0" ref="IN2.14"/>
            <xsd:element minOccurs="0" ref="IN2.15"/>
            <xsd:element minOccurs="0" ref="IN2.16"/>
            <xsd:element minOccurs="0" ref="IN2.17"/>
            <xsd:element minOccurs="0" ref="IN2.18"/>
            <xsd:element minOccurs="0" ref="IN2.19"/>
            <xsd:element minOccurs="0" ref="IN2.20"/>
            <xsd:element minOccurs="0" ref="IN2.21"/>
            <xsd:element minOccurs="0" ref="IN2.22"/>
            <xsd:element minOccurs="0" ref="IN2.23"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="IN2.24"/>
            <xsd:element minOccurs="0" ref="IN2.25"/>
            <xsd:element minOccurs="0" ref="IN2.26"/>
            <xsd:element minOccurs="0" ref="IN2.27"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="IN2.28"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="IN2.29"/>
            <xsd:element minOccurs="0" ref="IN2.30"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="IN2" type="IN2.CONTENT"/>
    <xsd:complexType name="IN3.CONTENT">
        <xsd:sequence>
            <xsd:element ref="IN3.1"/>
            <xsd:element minOccurs="0" ref="IN3.2"/>
            <xsd:element minOccurs="0" ref="IN3.3"/>
            <xsd:element minOccurs="0" ref="IN3.4"/>
            <xsd:element minOccurs="0" ref="IN3.5"/>
            <xsd:element minOccurs="0" ref="IN3.6"/>
            <xsd:element minOccurs="0" ref="IN3.7"/>
            <xsd:element minOccurs="0" ref="IN3.8"/>
            <xsd:element minOccurs="0" ref="IN3.9"/>
            <xsd:element minOccurs="0" ref="IN3.10"/>
            <xsd:element minOccurs="0" ref="IN3.11"/>
            <xsd:element minOccurs="0" ref="IN3.12"/>
            <xsd:element minOccurs="0" ref="IN3.13"/>
            <xsd:element minOccurs="0" ref="IN3.14"/>
            <xsd:element minOccurs="0" ref="IN3.15"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="IN3.16"/>
            <xsd:element minOccurs="0" ref="IN3.17"/>
            <xsd:element minOccurs="0" ref="IN3.18"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="IN3.19"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="IN3.20"/>
            <xsd:element minOccurs="0" ref="IN3.21"/>
            <xsd:element minOccurs="0" ref="IN3.22"/>
            <xsd:element minOccurs="0" ref="IN3.23"/>
            <xsd:element minOccurs="0" ref="IN3.24"/>
            <xsd:element minOccurs="0" ref="IN3.25"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="IN3" type="IN3.CONTENT"/>
    <xsd:complexType name="ACC.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ACC.1"/>
            <xsd:element minOccurs="0" ref="ACC.2"/>
            <xsd:element minOccurs="0" ref="ACC.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ACC" type="ACC.CONTENT"/>
    <xsd:complexType name="UB1.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="UB1.1"/>
            <xsd:element minOccurs="0" ref="UB1.2"/>
            <xsd:element minOccurs="0" ref="UB1.3"/>
            <xsd:element minOccurs="0" ref="UB1.4"/>
            <xsd:element minOccurs="0" ref="UB1.5"/>
            <xsd:element minOccurs="0" ref="UB1.6"/>
            <xsd:element minOccurs="0" maxOccurs="5" ref="UB1.7"/>
            <xsd:element minOccurs="0" ref="UB1.8"/>
            <xsd:element minOccurs="0" ref="UB1.9"/>
            <xsd:element minOccurs="0" maxOccurs="8" ref="UB1.10"/>
            <xsd:element minOccurs="0" ref="UB1.11"/>
            <xsd:element minOccurs="0" ref="UB1.12"/>
            <xsd:element minOccurs="0" ref="UB1.13"/>
            <xsd:element minOccurs="0" ref="UB1.14"/>
            <xsd:element minOccurs="0" ref="UB1.15"/>
            <xsd:element minOccurs="0" maxOccurs="5" ref="UB1.16"/>
            <xsd:element minOccurs="0" ref="UB1.17"/>
            <xsd:element minOccurs="0" ref="UB1.18"/>
            <xsd:element minOccurs="0" ref="UB1.19"/>
            <xsd:element minOccurs="0" ref="UB1.20"/>
            <xsd:element minOccurs="0" ref="UB1.21"/>
            <xsd:element minOccurs="0" ref="UB1.22"/>
            <xsd:element minOccurs="0" ref="UB1.23"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UB1" type="UB1.CONTENT"/>
    <xsd:complexType name="UB2.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="UB2.1"/>
            <xsd:element minOccurs="0" ref="UB2.2"/>
            <xsd:element minOccurs="0" maxOccurs="7" ref="UB2.3"/>
            <xsd:element minOccurs="0" ref="UB2.4"/>
            <xsd:element minOccurs="0" ref="UB2.5"/>
            <xsd:element minOccurs="0" maxOccurs="12" ref="UB2.6"/>
            <xsd:element minOccurs="0" maxOccurs="8" ref="UB2.7"/>
            <xsd:element minOccurs="0" maxOccurs="2" ref="UB2.8"/>
            <xsd:element minOccurs="0" maxOccurs="2" ref="UB2.9"/>
            <xsd:element minOccurs="0" maxOccurs="2" ref="UB2.10"/>
            <xsd:element minOccurs="0" ref="UB2.11"/>
            <xsd:element minOccurs="0" maxOccurs="3" ref="UB2.12"/>
            <xsd:element minOccurs="0" maxOccurs="23" ref="UB2.13"/>
            <xsd:element minOccurs="0" maxOccurs="5" ref="UB2.14"/>
            <xsd:element minOccurs="0" ref="UB2.15"/>
            <xsd:element minOccurs="0" maxOccurs="2" ref="UB2.16"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UB2" type="UB2.CONTENT"/>
    <xsd:complexType name="DSC.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="DSC.1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DSC" type="DSC.CONTENT"/>
    <xsd:complexType name="MRG.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MRG.1"/>
            <xsd:element minOccurs="0" ref="MRG.2"/>
            <xsd:element minOccurs="0" ref="MRG.3"/>
            <xsd:element minOccurs="0" ref="MRG.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MRG" type="MRG.CONTENT"/>
    <xsd:complexType name="NPU.CONTENT">
        <xsd:sequence>
            <xsd:element ref="NPU.1"/>
            <xsd:element minOccurs="0" ref="NPU.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NPU" type="NPU.CONTENT"/>
    <xsd:complexType name="FT1.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="FT1.1"/>
            <xsd:element minOccurs="0" ref="FT1.2"/>
            <xsd:element minOccurs="0" ref="FT1.3"/>
            <xsd:element ref="FT1.4"/>
            <xsd:element minOccurs="0" ref="FT1.5"/>
            <xsd:element ref="FT1.6"/>
            <xsd:element ref="FT1.7"/>
            <xsd:element minOccurs="0" ref="FT1.8"/>
            <xsd:element minOccurs="0" ref="FT1.9"/>
            <xsd:element minOccurs="0" ref="FT1.10"/>
            <xsd:element minOccurs="0" ref="FT1.11"/>
            <xsd:element minOccurs="0" ref="FT1.12"/>
            <xsd:element minOccurs="0" ref="FT1.13"/>
            <xsd:element ref="FT1.14"/>
            <xsd:element minOccurs="0" ref="FT1.15"/>
            <xsd:element minOccurs="0" ref="FT1.16"/>
            <xsd:element minOccurs="0" ref="FT1.17"/>
            <xsd:element minOccurs="0" ref="FT1.18"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="FT1.19"/>
            <xsd:element minOccurs="0" ref="FT1.20"/>
            <xsd:element minOccurs="0" ref="FT1.21"/>
            <xsd:element minOccurs="0" ref="FT1.22"/>
            <xsd:element minOccurs="0" ref="FT1.23"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="FT1" type="FT1.CONTENT"/>
    <xsd:complexType name="QRF.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="QRF.1"/>
            <xsd:element minOccurs="0" ref="QRF.2"/>
            <xsd:element minOccurs="0" ref="QRF.3"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="QRF.4"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="QRF.5"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="QRF.6"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="QRF.7"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="QRF.8"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="QRF" type="QRF.CONTENT"/>
    <xsd:complexType name="DSP.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="DSP.1"/>
            <xsd:element minOccurs="0" ref="DSP.2"/>
            <xsd:element ref="DSP.3"/>
            <xsd:element minOccurs="0" ref="DSP.4"/>
            <xsd:element minOccurs="0" ref="DSP.5"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DSP" type="DSP.CONTENT"/>
    <xsd:complexType name="MFI.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MFI.1"/>
            <xsd:element minOccurs="0" ref="MFI.2"/>
            <xsd:element ref="MFI.3"/>
            <xsd:element minOccurs="0" ref="MFI.4"/>
            <xsd:element minOccurs="0" ref="MFI.5"/>
            <xsd:element ref="MFI.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MFI" type="MFI.CONTENT"/>
    <xsd:complexType name="MFA.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MFA.1"/>
            <xsd:element minOccurs="0" ref="MFA.2"/>
            <xsd:element minOccurs="0" ref="MFA.3"/>
            <xsd:element ref="MFA.4"/>
            <xsd:element maxOccurs="unbounded" ref="MFA.5"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MFA" type="MFA.CONTENT"/>
    <xsd:complexType name="MFE.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MFE.1"/>
            <xsd:element minOccurs="0" ref="MFE.2"/>
            <xsd:element minOccurs="0" ref="MFE.3"/>
            <xsd:element maxOccurs="unbounded" ref="MFE.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MFE" type="MFE.CONTENT"/>
    <xsd:complexType name="Zxx.CONTENT">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:element name="Zxx" type="Zxx.CONTENT"/>
    <xsd:complexType name="NCK.CONTENT">
        <xsd:sequence>
            <xsd:element ref="NCK.1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NCK" type="NCK.CONTENT"/>
    <xsd:complexType name="NTE.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="NTE.1"/>
            <xsd:element minOccurs="0" ref="NTE.2"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NTE" type="NTE.CONTENT"/>
    <xsd:complexType name="NST.CONTENT">
        <xsd:sequence>
            <xsd:element ref="NST.1"/>
            <xsd:element minOccurs="0" ref="NST.2"/>
            <xsd:element minOccurs="0" ref="NST.3"/>
            <xsd:element minOccurs="0" ref="NST.4"/>
            <xsd:element minOccurs="0" ref="NST.5"/>
            <xsd:element minOccurs="0" ref="NST.6"/>
            <xsd:element minOccurs="0" ref="NST.7"/>
            <xsd:element minOccurs="0" ref="NST.8"/>
            <xsd:element minOccurs="0" ref="NST.9"/>
            <xsd:element minOccurs="0" ref="NST.10"/>
            <xsd:element minOccurs="0" ref="NST.11"/>
            <xsd:element minOccurs="0" ref="NST.12"/>
            <xsd:element minOccurs="0" ref="NST.13"/>
            <xsd:element minOccurs="0" ref="NST.14"/>
            <xsd:element minOccurs="0" ref="NST.15"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NST" type="NST.CONTENT"/>
    <xsd:complexType name="NSC.CONTENT">
        <xsd:sequence>
            <xsd:element ref="NSC.1"/>
            <xsd:element minOccurs="0" ref="NSC.2"/>
            <xsd:element minOccurs="0" ref="NSC.3"/>
            <xsd:element minOccurs="0" ref="NSC.4"/>
            <xsd:element minOccurs="0" ref="NSC.5"/>
            <xsd:element minOccurs="0" ref="NSC.6"/>
            <xsd:element minOccurs="0" ref="NSC.7"/>
            <xsd:element minOccurs="0" ref="NSC.8"/>
            <xsd:element minOccurs="0" ref="NSC.9"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NSC" type="NSC.CONTENT"/>
    <xsd:complexType name="ORC.CONTENT">
        <xsd:sequence>
            <xsd:element ref="ORC.1"/>
            <xsd:element minOccurs="0" ref="ORC.2"/>
            <xsd:element minOccurs="0" ref="ORC.3"/>
            <xsd:element minOccurs="0" ref="ORC.4"/>
            <xsd:element minOccurs="0" ref="ORC.5"/>
            <xsd:element minOccurs="0" ref="ORC.6"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ORC.7"/>
            <xsd:element minOccurs="0" ref="ORC.8"/>
            <xsd:element minOccurs="0" ref="ORC.9"/>
            <xsd:element minOccurs="0" ref="ORC.10"/>
            <xsd:element minOccurs="0" ref="ORC.11"/>
            <xsd:element minOccurs="0" ref="ORC.12"/>
            <xsd:element minOccurs="0" ref="ORC.13"/>
            <xsd:element minOccurs="0" maxOccurs="2" ref="ORC.14"/>
            <xsd:element minOccurs="0" ref="ORC.15"/>
            <xsd:element minOccurs="0" ref="ORC.16"/>
            <xsd:element minOccurs="0" ref="ORC.17"/>
            <xsd:element minOccurs="0" ref="ORC.18"/>
            <xsd:element minOccurs="0" ref="ORC.19"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ORC" type="ORC.CONTENT"/>
    <xsd:complexType name="OBR.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="OBR.1"/>
            <xsd:element minOccurs="0" ref="OBR.2"/>
            <xsd:element minOccurs="0" ref="OBR.3"/>
            <xsd:element ref="OBR.4"/>
            <xsd:element minOccurs="0" ref="OBR.5"/>
            <xsd:element minOccurs="0" ref="OBR.6"/>
            <xsd:element minOccurs="0" ref="OBR.7"/>
            <xsd:element minOccurs="0" ref="OBR.8"/>
            <xsd:element minOccurs="0" ref="OBR.9"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBR.10"/>
            <xsd:element minOccurs="0" ref="OBR.11"/>
            <xsd:element minOccurs="0" ref="OBR.12"/>
            <xsd:element minOccurs="0" ref="OBR.13"/>
            <xsd:element minOccurs="0" ref="OBR.14"/>
            <xsd:element minOccurs="0" ref="OBR.15"/>
            <xsd:element minOccurs="0" ref="OBR.16"/>
            <xsd:element minOccurs="0" maxOccurs="2" ref="OBR.17"/>
            <xsd:element minOccurs="0" ref="OBR.18"/>
            <xsd:element minOccurs="0" ref="OBR.19"/>
            <xsd:element minOccurs="0" ref="OBR.20"/>
            <xsd:element minOccurs="0" ref="OBR.21"/>
            <xsd:element minOccurs="0" ref="OBR.22"/>
            <xsd:element minOccurs="0" ref="OBR.23"/>
            <xsd:element minOccurs="0" ref="OBR.24"/>
            <xsd:element minOccurs="0" ref="OBR.25"/>
            <xsd:element minOccurs="0" ref="OBR.26"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBR.27"/>
            <xsd:element minOccurs="0" maxOccurs="5" ref="OBR.28"/>
            <xsd:element minOccurs="0" ref="OBR.29"/>
            <xsd:element minOccurs="0" ref="OBR.30"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBR.31"/>
            <xsd:element minOccurs="0" ref="OBR.32"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBR.33"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBR.34"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBR.35"/>
            <xsd:element minOccurs="0" ref="OBR.36"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OBR" type="OBR.CONTENT"/>
    <xsd:complexType name="RQD.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="RQD.1"/>
            <xsd:element minOccurs="0" ref="RQD.2"/>
            <xsd:element minOccurs="0" ref="RQD.3"/>
            <xsd:element minOccurs="0" ref="RQD.4"/>
            <xsd:element minOccurs="0" ref="RQD.5"/>
            <xsd:element minOccurs="0" ref="RQD.6"/>
            <xsd:element minOccurs="0" ref="RQD.7"/>
            <xsd:element minOccurs="0" ref="RQD.8"/>
            <xsd:element minOccurs="0" ref="RQD.9"/>
            <xsd:element minOccurs="0" ref="RQD.10"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RQD" type="RQD.CONTENT"/>
    <xsd:complexType name="RQ1.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="RQ1.1"/>
            <xsd:element minOccurs="0" ref="RQ1.2"/>
            <xsd:element minOccurs="0" ref="RQ1.3"/>
            <xsd:element minOccurs="0" ref="RQ1.4"/>
            <xsd:element minOccurs="0" ref="RQ1.5"/>
            <xsd:element minOccurs="0" ref="RQ1.6"/>
            <xsd:element minOccurs="0" ref="RQ1.7"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RQ1" type="RQ1.CONTENT"/>
    <xsd:complexType name="RXO.CONTENT">
        <xsd:sequence>
            <xsd:element ref="RXO.1"/>
            <xsd:element ref="RXO.2"/>
            <xsd:element minOccurs="0" ref="RXO.3"/>
            <xsd:element ref="RXO.4"/>
            <xsd:element minOccurs="0" ref="RXO.5"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RXO.6"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RXO.7"/>
            <xsd:element minOccurs="0" ref="RXO.8"/>
            <xsd:element minOccurs="0" ref="RXO.9"/>
            <xsd:element minOccurs="0" ref="RXO.10"/>
            <xsd:element minOccurs="0" ref="RXO.11"/>
            <xsd:element minOccurs="0" ref="RXO.12"/>
            <xsd:element minOccurs="0" ref="RXO.13"/>
            <xsd:element minOccurs="0" ref="RXO.14"/>
            <xsd:element minOccurs="0" ref="RXO.15"/>
            <xsd:element minOccurs="0" ref="RXO.16"/>
            <xsd:element minOccurs="0" ref="RXO.17"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RXO" type="RXO.CONTENT"/>
    <xsd:complexType name="ODS.CONTENT">
        <xsd:sequence>
            <xsd:element ref="ODS.1"/>
            <xsd:element minOccurs="0" maxOccurs="10" ref="ODS.2"/>
            <xsd:element maxOccurs="20" ref="ODS.3"/>
            <xsd:element minOccurs="0" maxOccurs="2" ref="ODS.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ODS" type="ODS.CONTENT"/>
    <xsd:complexType name="ODT.CONTENT">
        <xsd:sequence>
            <xsd:element ref="ODT.1"/>
            <xsd:element minOccurs="0" maxOccurs="10" ref="ODT.2"/>
            <xsd:element minOccurs="0" maxOccurs="2" ref="ODT.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ODT" type="ODT.CONTENT"/>
    <xsd:complexType name="BLG.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="BLG.1"/>
            <xsd:element minOccurs="0" ref="BLG.2"/>
            <xsd:element minOccurs="0" ref="BLG.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="BLG" type="BLG.CONTENT"/>
    <xsd:complexType name="URD.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="URD.1"/>
            <xsd:element minOccurs="0" ref="URD.2"/>
            <xsd:element maxOccurs="unbounded" ref="URD.3"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="URD.4"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="URD.5"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="URD.6"/>
            <xsd:element minOccurs="0" ref="URD.7"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="URD" type="URD.CONTENT"/>
    <xsd:complexType name="URS.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="URS.1"/>
            <xsd:element minOccurs="0" ref="URS.2"/>
            <xsd:element minOccurs="0" ref="URS.3"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="URS.4"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="URS.5"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="URS.6"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="URS.7"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="URS.8"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="URS" type="URS.CONTENT"/>
</xsd:schema>
