fiorano/hl7/2_2_fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:include schemaLocation="2_2_types.xsd"/>
    <xsd:element name="MSH.1" type="ST"/>
    <xsd:element name="MSH.2" type="ST"/>
    <xsd:element name="MSH.3" type="ST"/>
    <xsd:element name="MSH.4" type="ST"/>
    <xsd:element name="MSH.5" type="ST"/>
    <xsd:element name="MSH.6" type="ST"/>
    <xsd:element name="MSH.7" type="TS"/>
    <xsd:element name="MSH.8" type="ST"/>
    <xsd:element name="MSH.9" type="CM_MSG"/>
    <xsd:element name="MSH.10" type="ST"/>
    <xsd:element name="MSH.11" type="ID"/>
    <xsd:element name="MSH.12" type="ID"/>
    <xsd:element name="MSH.13" type="NM"/>
    <xsd:element name="MSH.14" type="ST"/>
    <xsd:element name="MSH.15" type="ID"/>
    <xsd:element name="MSH.16" type="ID"/>
    <xsd:element name="MSH.17" type="ID"/>
    <xsd:element name="MSA.1" type="ID"/>
    <xsd:element name="MSA.2" type="ST"/>
    <xsd:element name="MSA.3" type="ST"/>
    <xsd:element name="MSA.4" type="NM"/>
    <xsd:element name="MSA.5" type="ID"/>
    <xsd:element name="MSA.6" type="CE"/>
    <xsd:element name="ERR.1" type="CM_ELD"/>
    <xsd:element name="QRD.1" type="TS"/>
    <xsd:element name="QRD.2" type="ID"/>
    <xsd:element name="QRD.3" type="ID"/>
    <xsd:element name="QRD.4" type="ST"/>
    <xsd:element name="QRD.5" type="ID"/>
    <xsd:element name="QRD.6" type="TS"/>
    <xsd:element name="QRD.7" type="CQ_QUANTITY"/>
    <xsd:element name="QRD.8" type="ST"/>
    <xsd:element name="QRD.9" type="ID"/>
    <xsd:element name="QRD.10" type="ST"/>
    <xsd:element name="QRD.11" type="CM_VR"/>
    <xsd:element name="QRD.12" type="ID"/>
    <xsd:element name="EVN.1" type="ID"/>
    <xsd:element name="EVN.2" type="TS"/>
    <xsd:element name="EVN.3" type="TS"/>
    <xsd:element name="EVN.4" type="ID"/>
    <xsd:element name="EVN.5" type="ID"/>
    <xsd:element name="PID.1" type="SI"/>
    <xsd:element name="PID.2" type="CK"/>
    <xsd:element name="PID.3" type="CM_PAT_ID"/>
    <xsd:element name="PID.4" type="ST"/>
    <xsd:element name="PID.5" type="PN"/>
    <xsd:element name="PID.6" type="ST"/>
    <xsd:element name="PID.7" type="TS"/>
    <xsd:element name="PID.8" type="ID"/>
    <xsd:element name="PID.9" type="PN"/>
    <xsd:element name="PID.10" type="ID"/>
    <xsd:element name="PID.11" type="AD"/>
    <xsd:element name="PID.12" type="ID"/>
    <xsd:element name="PID.13" type="TN"/>
    <xsd:element name="PID.14" type="TN"/>
    <xsd:element name="PID.15" type="ST"/>
    <xsd:element name="PID.16" type="ID"/>
    <xsd:element name="PID.17" type="ID"/>
    <xsd:element name="PID.18" type="CK"/>
    <xsd:element name="PID.19" type="ST"/>
    <xsd:element name="PID.20" type="CM_LICENSE_NO"/>
    <xsd:element name="PID.21" type="CK"/>
    <xsd:element name="PID.22" type="ID"/>
    <xsd:element name="PID.23" type="ST"/>
    <xsd:element name="PID.24" type="ID"/>
    <xsd:element name="PID.25" type="NM"/>
    <xsd:element name="PID.26" type="ID"/>
    <xsd:element name="PID.27" type="ST"/>
    <xsd:element name="NK1.1" type="SI"/>
    <xsd:element name="NK1.2" type="PN"/>
    <xsd:element name="NK1.3" type="CE"/>
    <xsd:element name="NK1.4" type="AD"/>
    <xsd:element name="NK1.5" type="TN"/>
    <xsd:element name="NK1.6" type="TN"/>
    <xsd:element name="NK1.7" type="CE"/>
    <xsd:element name="NK1.8" type="DT"/>
    <xsd:element name="NK1.9" type="DT"/>
    <xsd:element name="NK1.10" type="ST"/>
    <xsd:element name="NK1.11" type="CM_JOB_CODE"/>
    <xsd:element name="NK1.12" type="ST"/>
    <xsd:element name="NK1.13" type="ST"/>
    <xsd:element name="PV1.1" type="SI"/>
    <xsd:element name="PV1.2" type="ID"/>
    <xsd:element name="PV1.3" type="CM_INTERNAL_LOCATION"/>
    <xsd:element name="PV1.4" type="ID"/>
    <xsd:element name="PV1.5" type="ST"/>
    <xsd:element name="PV1.6" type="CM_INTERNAL_LOCATION"/>
    <xsd:element name="PV1.7" type="CN"/>
    <xsd:element name="PV1.8" type="CN"/>
    <xsd:element name="PV1.9" type="CN"/>
    <xsd:element name="PV1.10" type="ID"/>
    <xsd:element name="PV1.11" type="CM_INTERNAL_LOCATION"/>
    <xsd:element name="PV1.12" type="ID"/>
    <xsd:element name="PV1.13" type="ID"/>
    <xsd:element name="PV1.14" type="ID"/>
    <xsd:element name="PV1.15" type="ID"/>
    <xsd:element name="PV1.16" type="ID"/>
    <xsd:element name="PV1.17" type="CN"/>
    <xsd:element name="PV1.18" type="ID"/>
    <xsd:element name="PV1.19" type="CM_PAT_ID"/>
    <xsd:element name="PV1.20" type="CM_FINANCE"/>
    <xsd:element name="PV1.21" type="ID"/>
    <xsd:element name="PV1.22" type="ID"/>
    <xsd:element name="PV1.23" type="ID"/>
    <xsd:element name="PV1.24" type="ID"/>
    <xsd:element name="PV1.25" type="DT"/>
    <xsd:element name="PV1.26" type="NM"/>
    <xsd:element name="PV1.27" type="NM"/>
    <xsd:element name="PV1.28" type="ID"/>
    <xsd:element name="PV1.29" type="ID"/>
    <xsd:element name="PV1.30" type="DT"/>
    <xsd:element name="PV1.31" type="ID"/>
    <xsd:element name="PV1.32" type="NM"/>
    <xsd:element name="PV1.33" type="NM"/>
    <xsd:element name="PV1.34" type="ID"/>
    <xsd:element name="PV1.35" type="DT"/>
    <xsd:element name="PV1.36" type="ID"/>
    <xsd:element name="PV1.37" type="CM_DLD"/>
    <xsd:element name="PV1.38" type="ID"/>
    <xsd:element name="PV1.39" type="ID"/>
    <xsd:element name="PV1.40" type="ID"/>
    <xsd:element name="PV1.41" type="ID"/>
    <xsd:element name="PV1.42" type="CM_INTERNAL_LOCATION"/>
    <xsd:element name="PV1.43" type="CM_INTERNAL_LOCATION"/>
    <xsd:element name="PV1.44" type="TS"/>
    <xsd:element name="PV1.45" type="TS"/>
    <xsd:element name="PV1.46" type="NM"/>
    <xsd:element name="PV1.47" type="NM"/>
    <xsd:element name="PV1.48" type="NM"/>
    <xsd:element name="PV1.49" type="NM"/>
    <xsd:element name="PV1.50" type="CM_PAT_ID_0192"/>
    <xsd:element name="PV2.1" type="CM_INTERNAL_LOCATION"/>
    <xsd:element name="PV2.2" type="CE"/>
    <xsd:element name="PV2.3" type="CE"/>
    <xsd:element name="PV2.4" type="CE"/>
    <xsd:element name="PV2.5" type="ST"/>
    <xsd:element name="PV2.6" type="ST"/>
    <xsd:element name="PV2.7" type="ID"/>
    <xsd:element name="PV2.8" type="DT"/>
    <xsd:element name="PV2.9" type="DT"/>
    <xsd:element name="OBX.1" type="SI"/>
    <xsd:element name="OBX.2" type="ID"/>
    <xsd:element name="OBX.3" type="CE"/>
    <xsd:element name="OBX.4" type="ST"/>
    <xsd:element name="OBX.5" type="GenericPrimitive"/>
    <xsd:element name="OBX.6" type="CE"/>
    <xsd:element name="OBX.7" type="ST"/>
    <xsd:element name="OBX.8" type="ID"/>
    <xsd:element name="OBX.9" type="NM"/>
    <xsd:element name="OBX.10" type="ID"/>
    <xsd:element name="OBX.11" type="ID"/>
    <xsd:element name="OBX.12" type="TS"/>
    <xsd:element name="OBX.13" type="ST"/>
    <xsd:element name="OBX.14" type="TS"/>
    <xsd:element name="OBX.15" type="CE"/>
    <xsd:element name="OBX.16" type="CN"/>
    <xsd:element name="AL1.1" type="SI"/>
    <xsd:element name="AL1.2" type="ID"/>
    <xsd:element name="AL1.3" type="CE"/>
    <xsd:element name="AL1.4" type="ID"/>
    <xsd:element name="AL1.5" type="ST"/>
    <xsd:element name="AL1.6" type="DT"/>
    <xsd:element name="DG1.1" type="SI"/>
    <xsd:element name="DG1.2" type="ID"/>
    <xsd:element name="DG1.3" type="ID"/>
    <xsd:element name="DG1.4" type="ST"/>
    <xsd:element name="DG1.5" type="TS"/>
    <xsd:element name="DG1.6" type="ID"/>
    <xsd:element name="DG1.7" type="CE"/>
    <xsd:element name="DG1.8" type="ID"/>
    <xsd:element name="DG1.9" type="ID"/>
    <xsd:element name="DG1.10" type="ID"/>
    <xsd:element name="DG1.11" type="ID"/>
    <xsd:element name="DG1.12" type="NM"/>
    <xsd:element name="DG1.13" type="NM"/>
    <xsd:element name="DG1.14" type="ST"/>
    <xsd:element name="DG1.15" type="NM"/>
    <xsd:element name="DG1.16" type="CN"/>
    <xsd:element name="PR1.1" type="SI"/>
    <xsd:element name="PR1.2" type="ID"/>
    <xsd:element name="PR1.3" type="ID"/>
    <xsd:element name="PR1.4" type="ST"/>
    <xsd:element name="PR1.5" type="TS"/>
    <xsd:element name="PR1.6" type="ID"/>
    <xsd:element name="PR1.7" type="NM"/>
    <xsd:element name="PR1.8" type="CN"/>
    <xsd:element name="PR1.9" type="ID"/>
    <xsd:element name="PR1.10" type="NM"/>
    <xsd:element name="PR1.11" type="CN"/>
    <xsd:element name="PR1.12" type="CM_PRACTITIONER"/>
    <xsd:element name="PR1.13" type="ID"/>
    <xsd:element name="PR1.14" type="NM"/>
    <xsd:element name="GT1.1" type="SI"/>
    <xsd:element name="GT1.2" type="CK"/>
    <xsd:element name="GT1.3" type="PN"/>
    <xsd:element name="GT1.4" type="PN"/>
    <xsd:element name="GT1.5" type="AD"/>
    <xsd:element name="GT1.6" type="TN"/>
    <xsd:element name="GT1.7" type="TN"/>
    <xsd:element name="GT1.8" type="DT"/>
    <xsd:element name="GT1.9" type="ID"/>
    <xsd:element name="GT1.10" type="ID"/>
    <xsd:element name="GT1.11" type="ID"/>
    <xsd:element name="GT1.12" type="ST"/>
    <xsd:element name="GT1.13" type="DT"/>
    <xsd:element name="GT1.14" type="DT"/>
    <xsd:element name="GT1.15" type="NM"/>
    <xsd:element name="GT1.16" type="ST"/>
    <xsd:element name="GT1.17" type="AD"/>
    <xsd:element name="GT1.18" type="TN"/>
    <xsd:element name="GT1.19" type="ST"/>
    <xsd:element name="GT1.20" type="ID"/>
    <xsd:element name="GT1.21" type="ST"/>
    <xsd:element name="IN1.1" type="SI"/>
    <xsd:element name="IN1.2" type="ID"/>
    <xsd:element name="IN1.3" type="ST"/>
    <xsd:element name="IN1.4" type="ST"/>
    <xsd:element name="IN1.5" type="AD"/>
    <xsd:element name="IN1.6" type="PN"/>
    <xsd:element name="IN1.7" type="TN"/>
    <xsd:element name="IN1.8" type="ST"/>
    <xsd:element name="IN1.9" type="ST"/>
    <xsd:element name="IN1.10" type="ST"/>
    <xsd:element name="IN1.11" type="ST"/>
    <xsd:element name="IN1.12" type="DT"/>
    <xsd:element name="IN1.13" type="DT"/>
    <xsd:element name="IN1.14" type="CM_AUI"/>
    <xsd:element name="IN1.15" type="ID"/>
    <xsd:element name="IN1.16" type="PN"/>
    <xsd:element name="IN1.17" type="ID"/>
    <xsd:element name="IN1.18" type="DT"/>
    <xsd:element name="IN1.19" type="AD"/>
    <xsd:element name="IN1.20" type="ID"/>
    <xsd:element name="IN1.21" type="ID"/>
    <xsd:element name="IN1.22" type="ST"/>
    <xsd:element name="IN1.23" type="ID"/>
    <xsd:element name="IN1.24" type="DT"/>
    <xsd:element name="IN1.25" type="ID"/>
    <xsd:element name="IN1.26" type="DT"/>
    <xsd:element name="IN1.27" type="ID"/>
    <xsd:element name="IN1.28" type="ST"/>
    <xsd:element name="IN1.29" type="TS"/>
    <xsd:element name="IN1.30" type="CN"/>
    <xsd:element name="IN1.31" type="ID"/>
    <xsd:element name="IN1.32" type="ID"/>
    <xsd:element name="IN1.33" type="NM"/>
    <xsd:element name="IN1.34" type="NM"/>
    <xsd:element name="IN1.35" type="ID"/>
    <xsd:element name="IN1.36" type="ST"/>
    <xsd:element name="IN1.37" type="NM"/>
    <xsd:element name="IN1.38" type="NM"/>
    <xsd:element name="IN1.39" type="NM"/>
    <xsd:element name="IN1.40" type="NM"/>
    <xsd:element name="IN1.41" type="NM"/>
    <xsd:element name="IN1.42" type="CE"/>
    <xsd:element name="IN1.43" type="ID"/>
    <xsd:element name="IN1.44" type="AD"/>
    <xsd:element name="IN1.45" type="ST"/>
    <xsd:element name="IN1.46" type="ID"/>
    <xsd:element name="IN2.1" type="ST"/>
    <xsd:element name="IN2.2" type="ST"/>
    <xsd:element name="IN2.3" type="CN"/>
    <xsd:element name="IN2.4" type="ID"/>
    <xsd:element name="IN2.5" type="ID"/>
    <xsd:element name="IN2.6" type="NM"/>
    <xsd:element name="IN2.7" type="PN"/>
    <xsd:element name="IN2.8" type="NM"/>
    <xsd:element name="IN2.9" type="PN"/>
    <xsd:element name="IN2.10" type="NM"/>
    <xsd:element name="IN2.11" type="ID"/>
    <xsd:element name="IN2.12" type="ST"/>
    <xsd:element name="IN2.13" type="ST"/>
    <xsd:element name="IN2.14" type="ID"/>
    <xsd:element name="IN2.15" type="ID"/>
    <xsd:element name="IN2.16" type="ID"/>
    <xsd:element name="IN2.17" type="DT"/>
    <xsd:element name="IN2.18" type="ID"/>
    <xsd:element name="IN2.19" type="ID"/>
    <xsd:element name="IN2.20" type="ID"/>
    <xsd:element name="IN2.21" type="NM"/>
    <xsd:element name="IN2.22" type="PN"/>
    <xsd:element name="IN2.23" type="ST"/>
    <xsd:element name="IN2.24" type="ID"/>
    <xsd:element name="IN2.25" type="ST"/>
    <xsd:element name="IN2.26" type="ST"/>
    <xsd:element name="IN2.27" type="ID"/>
    <xsd:element name="IN2.28" type="CM_RMC"/>
    <xsd:element name="IN2.29" type="CM_PTA"/>
    <xsd:element name="IN2.30" type="CM_DDI"/>
    <xsd:element name="IN3.1" type="SI"/>
    <xsd:element name="IN3.2" type="ST"/>
    <xsd:element name="IN3.3" type="CN"/>
    <xsd:element name="IN3.4" type="ID"/>
    <xsd:element name="IN3.5" type="CM_PEN"/>
    <xsd:element name="IN3.6" type="TS"/>
    <xsd:element name="IN3.7" type="TS"/>
    <xsd:element name="IN3.8" type="CN"/>
    <xsd:element name="IN3.9" type="DT"/>
    <xsd:element name="IN3.10" type="DT"/>
    <xsd:element name="IN3.11" type="CM_DTN"/>
    <xsd:element name="IN3.12" type="CE"/>
    <xsd:element name="IN3.13" type="TS"/>
    <xsd:element name="IN3.14" type="CN"/>
    <xsd:element name="IN3.15" type="ST"/>
    <xsd:element name="IN3.16" type="TN"/>
    <xsd:element name="IN3.17" type="CE"/>
    <xsd:element name="IN3.18" type="CE"/>
    <xsd:element name="IN3.19" type="TN"/>
    <xsd:element name="IN3.20" type="CM_PCF"/>
    <xsd:element name="IN3.21" type="ST"/>
    <xsd:element name="IN3.22" type="DT"/>
    <xsd:element name="IN3.23" type="ID"/>
    <xsd:element name="IN3.24" type="ID"/>
    <xsd:element name="IN3.25" type="CN"/>
    <xsd:element name="ACC.1" type="TS"/>
    <xsd:element name="ACC.2" type="ID"/>
    <xsd:element name="ACC.3" type="ST"/>
    <xsd:element name="UB1.1" type="SI"/>
    <xsd:element name="UB1.2" type="NM"/>
    <xsd:element name="UB1.3" type="NM"/>
    <xsd:element name="UB1.4" type="NM"/>
    <xsd:element name="UB1.5" type="NM"/>
    <xsd:element name="UB1.6" type="NM"/>
    <xsd:element name="UB1.7" type="ID"/>
    <xsd:element name="UB1.8" type="NM"/>
    <xsd:element name="UB1.9" type="NM"/>
    <xsd:element name="UB1.10" type="CM_UVC"/>
    <xsd:element name="UB1.11" type="NM"/>
    <xsd:element name="UB1.12" type="ID"/>
    <xsd:element name="UB1.13" type="ID"/>
    <xsd:element name="UB1.14" type="DT"/>
    <xsd:element name="UB1.15" type="DT"/>
    <xsd:element name="UB1.16" type="CM_OCD"/>
    <xsd:element name="UB1.17" type="ID"/>
    <xsd:element name="UB1.18" type="DT"/>
    <xsd:element name="UB1.19" type="DT"/>
    <xsd:element name="UB1.20" type="ST"/>
    <xsd:element name="UB1.21" type="ST"/>
    <xsd:element name="UB1.22" type="ST"/>
    <xsd:element name="UB1.23" type="ST"/>
    <xsd:element name="UB2.1" type="SI"/>
    <xsd:element name="UB2.2" type="ST"/>
    <xsd:element name="UB2.3" type="ID"/>
    <xsd:element name="UB2.4" type="ST"/>
    <xsd:element name="UB2.5" type="ST"/>
    <xsd:element name="UB2.6" type="CM_UVC"/>
    <xsd:element name="UB2.7" type="CM_OCD"/>
    <xsd:element name="UB2.8" type="CM_OSP"/>
    <xsd:element name="UB2.9" type="ST"/>
    <xsd:element name="UB2.10" type="ST"/>
    <xsd:element name="UB2.11" type="ST"/>
    <xsd:element name="UB2.12" type="ST"/>
    <xsd:element name="UB2.13" type="ST"/>
    <xsd:element name="UB2.14" type="ST"/>
    <xsd:element name="UB2.15" type="ST"/>
    <xsd:element name="UB2.16" type="ST"/>
    <xsd:element name="DSC.1" type="ST"/>
    <xsd:element name="MRG.1" type="CM_PAT_ID"/>
    <xsd:element name="MRG.2" type="CM_PAT_ID"/>
    <xsd:element name="MRG.3" type="CK"/>
    <xsd:element name="MRG.4" type="CK"/>
    <xsd:element name="NPU.1" type="CM_INTERNAL_LOCATION"/>
    <xsd:element name="NPU.2" type="ID"/>
    <xsd:element name="FT1.1" type="SI"/>
    <xsd:element name="FT1.2" type="ST"/>
    <xsd:element name="FT1.3" type="ST"/>
    <xsd:element name="FT1.4" type="DT"/>
    <xsd:element name="FT1.5" type="DT"/>
    <xsd:element name="FT1.6" type="ID"/>
    <xsd:element name="FT1.7" type="CE"/>
    <xsd:element name="FT1.8" type="ST"/>
    <xsd:element name="FT1.9" type="ST"/>
    <xsd:element name="FT1.10" type="NM"/>
    <xsd:element name="FT1.11" type="NM"/>
    <xsd:element name="FT1.12" type="NM"/>
    <xsd:element name="FT1.13" type="CE"/>
    <xsd:element name="FT1.14" type="ID"/>
    <xsd:element name="FT1.15" type="NM"/>
    <xsd:element name="FT1.16" type="CM_INTERNAL_LOCATION"/>
    <xsd:element name="FT1.17" type="ID"/>
    <xsd:element name="FT1.18" type="ID"/>
    <xsd:element name="FT1.19" type="CE"/>
    <xsd:element name="FT1.20" type="CN"/>
    <xsd:element name="FT1.21" type="CN"/>
    <xsd:element name="FT1.22" type="NM"/>
    <xsd:element name="FT1.23" type="CM_FILLER"/>
    <xsd:element name="QRF.1" type="ST"/>
    <xsd:element name="QRF.2" type="TS"/>
    <xsd:element name="QRF.3" type="TS"/>
    <xsd:element name="QRF.4" type="ST"/>
    <xsd:element name="QRF.5" type="ST"/>
    <xsd:element name="QRF.6" type="ID"/>
    <xsd:element name="QRF.7" type="ID"/>
    <xsd:element name="QRF.8" type="ID"/>
    <xsd:element name="DSP.1" type="SI"/>
    <xsd:element name="DSP.2" type="SI"/>
    <xsd:element name="DSP.3" type="TX"/>
    <xsd:element name="DSP.4" type="ST"/>
    <xsd:element name="DSP.5" type="TX"/>
    <xsd:element name="MFI.1" type="CE"/>
    <xsd:element name="MFI.2" type="ID"/>
    <xsd:element name="MFI.3" type="ID"/>
    <xsd:element name="MFI.4" type="TS"/>
    <xsd:element name="MFI.5" type="TS"/>
    <xsd:element name="MFI.6" type="ID"/>
    <xsd:element name="MFA.1" type="ID"/>
    <xsd:element name="MFA.2" type="ST"/>
    <xsd:element name="MFA.3" type="TS"/>
    <xsd:element name="MFA.4" type="CE"/>
    <xsd:element name="MFA.5" type="CE"/>
    <xsd:element name="MFE.1" type="ID"/>
    <xsd:element name="MFE.2" type="ST"/>
    <xsd:element name="MFE.3" type="TS"/>
    <xsd:element name="MFE.4" type="CE"/>
    <xsd:element name="NCK.1" type="TS"/>
    <xsd:element name="NTE.1" type="SI"/>
    <xsd:element name="NTE.2" type="ID"/>
    <xsd:element name="NTE.3" type="FT"/>
    <xsd:element name="NST.1" type="ID"/>
    <xsd:element name="NST.2" type="ST"/>
    <xsd:element name="NST.3" type="ID"/>
    <xsd:element name="NST.4" type="TS"/>
    <xsd:element name="NST.5" type="TS"/>
    <xsd:element name="NST.6" type="NM"/>
    <xsd:element name="NST.7" type="NM"/>
    <xsd:element name="NST.8" type="NM"/>
    <xsd:element name="NST.9" type="NM"/>
    <xsd:element name="NST.10" type="NM"/>
    <xsd:element name="NST.11" type="NM"/>
    <xsd:element name="NST.12" type="NM"/>
    <xsd:element name="NST.13" type="NM"/>
    <xsd:element name="NST.14" type="NM"/>
    <xsd:element name="NST.15" type="NM"/>
    <xsd:element name="NSC.1" type="ID"/>
    <xsd:element name="NSC.2" type="ST"/>
    <xsd:element name="NSC.3" type="ST"/>
    <xsd:element name="NSC.4" type="ST"/>
    <xsd:element name="NSC.5" type="ST"/>
    <xsd:element name="NSC.6" type="ST"/>
    <xsd:element name="NSC.7" type="ST"/>
    <xsd:element name="NSC.8" type="ST"/>
    <xsd:element name="NSC.9" type="ST"/>
    <xsd:element name="ORC.1" type="ID"/>
    <xsd:element name="ORC.2" type="CM_PLACER"/>
    <xsd:element name="ORC.3" type="CM_FILLER"/>
    <xsd:element name="ORC.4" type="CM_GROUP_ID"/>
    <xsd:element name="ORC.5" type="ID"/>
    <xsd:element name="ORC.6" type="ID"/>
    <xsd:element name="ORC.7" type="TQ"/>
    <xsd:element name="ORC.8" type="CM_EIP"/>
    <xsd:element name="ORC.9" type="TS"/>
    <xsd:element name="ORC.10" type="CN"/>
    <xsd:element name="ORC.11" type="CN"/>
    <xsd:element name="ORC.12" type="CN"/>
    <xsd:element name="ORC.13" type="CM_PARENT_RESULT"/>
    <xsd:element name="ORC.14" type="TN"/>
    <xsd:element name="ORC.15" type="TS"/>
    <xsd:element name="ORC.16" type="CE"/>
    <xsd:element name="ORC.17" type="CE"/>
    <xsd:element name="ORC.18" type="CE"/>
    <xsd:element name="ORC.19" type="CN"/>
    <xsd:element name="OBR.1" type="SI"/>
    <xsd:element name="OBR.2" type="CM_PLACER"/>
    <xsd:element name="OBR.3" type="CM_FILLER"/>
    <xsd:element name="OBR.4" type="CE"/>
    <xsd:element name="OBR.5" type="ID"/>
    <xsd:element name="OBR.6" type="TS"/>
    <xsd:element name="OBR.7" type="TS"/>
    <xsd:element name="OBR.8" type="TS"/>
    <xsd:element name="OBR.9" type="CQ_QUANTITY"/>
    <xsd:element name="OBR.10" type="CN"/>
    <xsd:element name="OBR.11" type="ID"/>
    <xsd:element name="OBR.12" type="CE"/>
    <xsd:element name="OBR.13" type="ST"/>
    <xsd:element name="OBR.14" type="TS"/>
    <xsd:element name="OBR.15" type="CM_SPS"/>
    <xsd:element name="OBR.16" type="CN"/>
    <xsd:element name="OBR.17" type="TN"/>
    <xsd:element name="OBR.18" type="ST"/>
    <xsd:element name="OBR.19" type="ST"/>
    <xsd:element name="OBR.20" type="ST"/>
    <xsd:element name="OBR.21" type="ST"/>
    <xsd:element name="OBR.22" type="TS"/>
    <xsd:element name="OBR.23" type="CM_MOC"/>
    <xsd:element name="OBR.24" type="ID"/>
    <xsd:element name="OBR.25" type="ID"/>
    <xsd:element name="OBR.26" type="CM_PARENT_RESULT"/>
    <xsd:element name="OBR.27" type="TQ"/>
    <xsd:element name="OBR.28" type="CN"/>
    <xsd:element name="OBR.29" type="CM_EIP"/>
    <xsd:element name="OBR.30" type="ID"/>
    <xsd:element name="OBR.31" type="CE"/>
    <xsd:element name="OBR.32" type="CM_NDL"/>
    <xsd:element name="OBR.33" type="CM_NDL"/>
    <xsd:element name="OBR.34" type="CM_NDL"/>
    <xsd:element name="OBR.35" type="CM_NDL"/>
    <xsd:element name="OBR.36" type="TS"/>
    <xsd:element name="RQD.1" type="SI"/>
    <xsd:element name="RQD.2" type="CE"/>
    <xsd:element name="RQD.3" type="CE"/>
    <xsd:element name="RQD.4" type="CE"/>
    <xsd:element name="RQD.5" type="NM"/>
    <xsd:element name="RQD.6" type="CE"/>
    <xsd:element name="RQD.7" type="ID"/>
    <xsd:element name="RQD.8" type="ID"/>
    <xsd:element name="RQD.9" type="CE"/>
    <xsd:element name="RQD.10" type="DT"/>
    <xsd:element name="RQ1.1" type="SI"/>
    <xsd:element name="RQ1.2" type="CE"/>
    <xsd:element name="RQ1.3" type="ST"/>
    <xsd:element name="RQ1.4" type="CE"/>
    <xsd:element name="RQ1.5" type="ST"/>
    <xsd:element name="RQ1.6" type="ID"/>
    <xsd:element name="RQ1.7" type="ID"/>
    <xsd:element name="RXO.1" type="CE"/>
    <xsd:element name="RXO.2" type="NM"/>
    <xsd:element name="RXO.3" type="NM"/>
    <xsd:element name="RXO.4" type="CE"/>
    <xsd:element name="RXO.5" type="CE"/>
    <xsd:element name="RXO.6" type="CE"/>
    <xsd:element name="RXO.7" type="CE"/>
    <xsd:element name="RXO.8" type="CM_LA1"/>
    <xsd:element name="RXO.9" type="ID"/>
    <xsd:element name="RXO.10" type="CE"/>
    <xsd:element name="RXO.11" type="NM"/>
    <xsd:element name="RXO.12" type="CE"/>
    <xsd:element name="RXO.13" type="NM"/>
    <xsd:element name="RXO.14" type="CN"/>
    <xsd:element name="RXO.15" type="CN"/>
    <xsd:element name="RXO.16" type="ID"/>
    <xsd:element name="RXO.17" type="ST"/>
    <xsd:element name="ODS.1" type="ID"/>
    <xsd:element name="ODS.2" type="CE"/>
    <xsd:element name="ODS.3" type="CE"/>
    <xsd:element name="ODS.4" type="ST"/>
    <xsd:element name="ODT.1" type="CE"/>
    <xsd:element name="ODT.2" type="CE"/>
    <xsd:element name="ODT.3" type="ST"/>
    <xsd:element name="BLG.1" type="CM_CCD"/>
    <xsd:element name="BLG.2" type="ID"/>
    <xsd:element name="BLG.3" type="CK"/>
    <xsd:element name="URD.1" type="TS"/>
    <xsd:element name="URD.2" type="ID"/>
    <xsd:element name="URD.3" type="ST"/>
    <xsd:element name="URD.4" type="ID"/>
    <xsd:element name="URD.5" type="ST"/>
    <xsd:element name="URD.6" type="ST"/>
    <xsd:element name="URD.7" type="ID"/>
    <xsd:element name="URS.1" type="ST"/>
    <xsd:element name="URS.2" type="TS"/>
    <xsd:element name="URS.3" type="TS"/>
    <xsd:element name="URS.4" type="ST"/>
    <xsd:element name="URS.5" type="ST"/>
    <xsd:element name="URS.6" type="ID"/>
    <xsd:element name="URS.7" type="ID"/>
    <xsd:element name="URS.8" type="ID"/>
</xsd:schema>
