fiorano/hl7/2_3_1_ORR_O02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:include schemaLocation="2_3_1_segments.xsd"/>
    <xsd:complexType name="ORR_O02.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MSH"/>
            <xsd:element ref="MSA"/>
            <xsd:element minOccurs="0" ref="ERR"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE"/>
            <xsd:element minOccurs="0" ref="ORR_O02.PIDNTEORCOBRRQDRQ1RXOODSODTNTECTI"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ORR_O02" type="ORR_O02.CONTENT"/>
    <xsd:complexType name="ORR_O02.PIDNTEORCOBRRQDRQ1RXOODSODTNTECTI.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="ORR_O02.PIDNTE"/>
            <xsd:element maxOccurs="unbounded" ref="ORR_O02.ORCOBRRQDRQ1RXOODSODTNTECTI"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ORR_O02.PIDNTEORCOBRRQDRQ1RXOODSODTNTECTI" type="ORR_O02.PIDNTEORCOBRRQDRQ1RXOODSODTNTECTI.CONTENT"/>
    <xsd:complexType name="ORR_O02.PIDNTE.CONTENT">
        <xsd:sequence>
            <xsd:element ref="PID"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ORR_O02.PIDNTE" type="ORR_O02.PIDNTE.CONTENT"/>
    <xsd:complexType name="ORR_O02.ORCOBRRQDRQ1RXOODSODTNTECTI.CONTENT">
        <xsd:sequence>
            <xsd:element ref="ORC"/>
            <xsd:element ref="OBR"/>
            <xsd:element ref="RQD"/>
            <xsd:element ref="RQ1"/>
            <xsd:element ref="RXO"/>
            <xsd:element ref="ODS"/>
            <xsd:element ref="ODT"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="CTI"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ORR_O02.ORCOBRRQDRQ1RXOODSODTNTECTI" type="ORR_O02.ORCOBRRQDRQ1RXOODSODTNTECTI.CONTENT"/>
</xsd:schema>
