fiorano/hl7/2_3_1_NMD_N02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:include schemaLocation="2_3_1_segments.xsd"/>
    <xsd:complexType name="NMD_N02.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MSH"/>
            <xsd:element maxOccurs="unbounded" ref="NMD_N02.NCKNTENSTNTENSCNTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02" type="NMD_N02.CONTENT"/>
    <xsd:complexType name="NMD_N02.NCKNTENSTNTENSCNTE.CONTENT">
        <xsd:sequence>
            <xsd:element minOccurs="0" ref="NMD_N02.NCKNTE"/>
            <xsd:element minOccurs="0" ref="NMD_N02.NSTNTE"/>
            <xsd:element minOccurs="0" ref="NMD_N02.NSCNTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02.NCKNTENSTNTENSCNTE" type="NMD_N02.NCKNTENSTNTENSCNTE.CONTENT"/>
    <xsd:complexType name="NMD_N02.NCKNTE.CONTENT">
        <xsd:sequence>
            <xsd:element ref="NCK"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02.NCKNTE" type="NMD_N02.NCKNTE.CONTENT"/>
    <xsd:complexType name="NMD_N02.NSTNTE.CONTENT">
        <xsd:sequence>
            <xsd:element ref="NST"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02.NSTNTE" type="NMD_N02.NSTNTE.CONTENT"/>
    <xsd:complexType name="NMD_N02.NSCNTE.CONTENT">
        <xsd:sequence>
            <xsd:element ref="NSC"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NMD_N02.NSCNTE" type="NMD_N02.NSCNTE.CONTENT"/>
</xsd:schema>
