fiorano/hl7/2_3_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="HD">
        <xsd:sequence>
            <xsd:element ref="HD.1"/>
            <xsd:element ref="HD.2"/>
            <xsd:element ref="HD.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="IS">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="HD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.1" type="HD.1.CONTENT"/>
    <xsd:complexType name="HD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.2" type="HD.2.CONTENT"/>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="HD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.3" type="HD.3.CONTENT"/>
    <xsd:complexType name="TS">
        <xsd:sequence>
            <xsd:element ref="TS.1"/>
            <xsd:element ref="TS.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="TSComponentOne">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="TS.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TSComponentOne"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.1" type="TS.1.CONTENT"/>
    <xsd:complexType name="TS.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.2" type="TS.2.CONTENT"/>
    <xsd:complexType name="CM_MSG">
        <xsd:sequence>
            <xsd:element ref="CM_MSG.1"/>
            <xsd:element ref="CM_MSG.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_MSG.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MSG.1" type="CM_MSG.1.CONTENT"/>
    <xsd:complexType name="CM_MSG.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MSG.2" type="CM_MSG.2.CONTENT"/>
    <xsd:complexType name="PT">
        <xsd:sequence>
            <xsd:element ref="PT.1"/>
            <xsd:element ref="PT.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PT.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PT.1" type="PT.1.CONTENT"/>
    <xsd:complexType name="PT.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PT.2" type="PT.2.CONTENT"/>
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CE">
        <xsd:sequence>
            <xsd:element ref="CE.1"/>
            <xsd:element ref="CE.2"/>
            <xsd:element ref="CE.3"/>
            <xsd:element ref="CE.4"/>
            <xsd:element ref="CE.5"/>
            <xsd:element ref="CE.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CE.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.1" type="CE.1.CONTENT"/>
    <xsd:complexType name="CE.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.2" type="CE.2.CONTENT"/>
    <xsd:complexType name="CE.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.3" type="CE.3.CONTENT"/>
    <xsd:complexType name="CE.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.4" type="CE.4.CONTENT"/>
    <xsd:complexType name="CE.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.5" type="CE.5.CONTENT"/>
    <xsd:complexType name="CE.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.6" type="CE.6.CONTENT"/>
    <xsd:complexType name="CN">
        <xsd:sequence>
            <xsd:element ref="CN.1"/>
            <xsd:element ref="CN.2"/>
            <xsd:element ref="CN.3"/>
            <xsd:element ref="CN.4"/>
            <xsd:element ref="CN.5"/>
            <xsd:element ref="CN.6"/>
            <xsd:element ref="CN.7"/>
            <xsd:element ref="CN.8"/>
            <xsd:element ref="CN.9"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.1" type="CN.1.CONTENT"/>
    <xsd:complexType name="CN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.2" type="CN.2.CONTENT"/>
    <xsd:complexType name="CN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.3" type="CN.3.CONTENT"/>
    <xsd:complexType name="CN.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.4" type="CN.4.CONTENT"/>
    <xsd:complexType name="CN.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.5" type="CN.5.CONTENT"/>
    <xsd:complexType name="CN.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.6" type="CN.6.CONTENT"/>
    <xsd:complexType name="CN.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.7" type="CN.7.CONTENT"/>
    <xsd:complexType name="CN.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.8" type="CN.8.CONTENT"/>
    <xsd:complexType name="CN.9.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CN.9" type="CN.9.CONTENT"/>
    <xsd:complexType name="PL">
        <xsd:sequence>
            <xsd:element ref="PL.1"/>
            <xsd:element ref="PL.2"/>
            <xsd:element ref="PL.3"/>
            <xsd:element ref="PL.4"/>
            <xsd:element ref="PL.5"/>
            <xsd:element ref="PL.6"/>
            <xsd:element ref="PL.7"/>
            <xsd:element ref="PL.8"/>
            <xsd:element ref="PL.9"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PL.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PL.1" type="PL.1.CONTENT"/>
    <xsd:complexType name="PL.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PL.2" type="PL.2.CONTENT"/>
    <xsd:complexType name="PL.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PL.3" type="PL.3.CONTENT"/>
    <xsd:complexType name="PL.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="PL.4" type="PL.4.CONTENT"/>
    <xsd:complexType name="PL.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PL.5" type="PL.5.CONTENT"/>
    <xsd:complexType name="PL.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PL.6" type="PL.6.CONTENT"/>
    <xsd:complexType name="PL.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PL.7" type="PL.7.CONTENT"/>
    <xsd:complexType name="PL.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PL.8" type="PL.8.CONTENT"/>
    <xsd:complexType name="PL.9.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PL.9" type="PL.9.CONTENT"/>
    <xsd:simpleType name="SI">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="CX">
        <xsd:sequence>
            <xsd:element ref="CX.1"/>
            <xsd:element ref="CX.2"/>
            <xsd:element ref="CX.3"/>
            <xsd:element ref="CX.4"/>
            <xsd:element ref="CX.5"/>
            <xsd:element ref="CX.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CX.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CX.1" type="CX.1.CONTENT"/>
    <xsd:complexType name="CX.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CX.2" type="CX.2.CONTENT"/>
    <xsd:complexType name="CX.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CX.3" type="CX.3.CONTENT"/>
    <xsd:complexType name="CX.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CX.4" type="CX.4.CONTENT"/>
    <xsd:complexType name="CX.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CX.5" type="CX.5.CONTENT"/>
    <xsd:complexType name="CX.6.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CX.6" type="CX.6.CONTENT"/>
    <xsd:complexType name="XPN">
        <xsd:sequence>
            <xsd:element ref="XPN.1"/>
            <xsd:element ref="XPN.2"/>
            <xsd:element ref="XPN.3"/>
            <xsd:element ref="XPN.4"/>
            <xsd:element ref="XPN.5"/>
            <xsd:element ref="XPN.6"/>
            <xsd:element ref="XPN.7"/>
            <xsd:element ref="XPN.8"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XPN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XPN.1" type="XPN.1.CONTENT"/>
    <xsd:complexType name="XPN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XPN.2" type="XPN.2.CONTENT"/>
    <xsd:complexType name="XPN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XPN.3" type="XPN.3.CONTENT"/>
    <xsd:complexType name="XPN.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XPN.4" type="XPN.4.CONTENT"/>
    <xsd:complexType name="XPN.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XPN.5" type="XPN.5.CONTENT"/>
    <xsd:complexType name="XPN.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XPN.6" type="XPN.6.CONTENT"/>
    <xsd:complexType name="XPN.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XPN.7" type="XPN.7.CONTENT"/>
    <xsd:complexType name="XPN.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XPN.8" type="XPN.8.CONTENT"/>
    <xsd:complexType name="XAD">
        <xsd:sequence>
            <xsd:element ref="XAD.1"/>
            <xsd:element ref="XAD.2"/>
            <xsd:element ref="XAD.3"/>
            <xsd:element ref="XAD.4"/>
            <xsd:element ref="XAD.5"/>
            <xsd:element ref="XAD.6"/>
            <xsd:element ref="XAD.7"/>
            <xsd:element ref="XAD.8"/>
            <xsd:element ref="XAD.9"/>
            <xsd:element ref="XAD.10"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XAD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.1" type="XAD.1.CONTENT"/>
    <xsd:complexType name="XAD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.2" type="XAD.2.CONTENT"/>
    <xsd:complexType name="XAD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.3" type="XAD.3.CONTENT"/>
    <xsd:complexType name="XAD.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.4" type="XAD.4.CONTENT"/>
    <xsd:complexType name="XAD.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.5" type="XAD.5.CONTENT"/>
    <xsd:complexType name="XAD.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.6" type="XAD.6.CONTENT"/>
    <xsd:complexType name="XAD.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.7" type="XAD.7.CONTENT"/>
    <xsd:complexType name="XAD.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.8" type="XAD.8.CONTENT"/>
    <xsd:complexType name="XAD.9.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.9" type="XAD.9.CONTENT"/>
    <xsd:complexType name="XAD.10.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XAD.10" type="XAD.10.CONTENT"/>
    <xsd:complexType name="XTN">
        <xsd:sequence>
            <xsd:element ref="XTN.1"/>
            <xsd:element ref="XTN.2"/>
            <xsd:element ref="XTN.3"/>
            <xsd:element ref="XTN.4"/>
            <xsd:element ref="XTN.5"/>
            <xsd:element ref="XTN.6"/>
            <xsd:element ref="XTN.7"/>
            <xsd:element ref="XTN.8"/>
            <xsd:element ref="XTN.9"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="TN">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="XTN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TN"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.1" type="XTN.1.CONTENT"/>
    <xsd:complexType name="XTN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.2" type="XTN.2.CONTENT"/>
    <xsd:complexType name="XTN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.3" type="XTN.3.CONTENT"/>
    <xsd:complexType name="XTN.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.4" type="XTN.4.CONTENT"/>
    <xsd:complexType name="XTN.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.5" type="XTN.5.CONTENT"/>
    <xsd:complexType name="XTN.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.6" type="XTN.6.CONTENT"/>
    <xsd:complexType name="XTN.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.7" type="XTN.7.CONTENT"/>
    <xsd:complexType name="XTN.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.8" type="XTN.8.CONTENT"/>
    <xsd:complexType name="XTN.9.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.9" type="XTN.9.CONTENT"/>
    <xsd:complexType name="DLN">
        <xsd:sequence>
            <xsd:element ref="DLN.1"/>
            <xsd:element ref="DLN.2"/>
            <xsd:element ref="DLN.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DLN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="DLN.1" type="DLN.1.CONTENT"/>
    <xsd:complexType name="DLN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="DLN.2" type="DLN.2.CONTENT"/>
    <xsd:simpleType name="DT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="DLN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="DLN.3" type="DLN.3.CONTENT"/>
    <xsd:complexType name="XON">
        <xsd:sequence>
            <xsd:element ref="XON.1"/>
            <xsd:element ref="XON.2"/>
            <xsd:element ref="XON.3"/>
            <xsd:element ref="XON.4"/>
            <xsd:element ref="XON.5"/>
            <xsd:element ref="XON.6"/>
            <xsd:element ref="XON.7"/>
            <xsd:element ref="XON.8"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XON.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.1" type="XON.1.CONTENT"/>
    <xsd:complexType name="XON.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.2" type="XON.2.CONTENT"/>
    <xsd:complexType name="XON.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.3" type="XON.3.CONTENT"/>
    <xsd:complexType name="XON.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.4" type="XON.4.CONTENT"/>
    <xsd:complexType name="XON.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.5" type="XON.5.CONTENT"/>
    <xsd:complexType name="XON.6.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="XON.6" type="XON.6.CONTENT"/>
    <xsd:complexType name="XON.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.7" type="XON.7.CONTENT"/>
    <xsd:complexType name="XON.8.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="XON.8" type="XON.8.CONTENT"/>
    <xsd:complexType name="XCN">
        <xsd:sequence>
            <xsd:element ref="XCN.1"/>
            <xsd:element ref="XCN.2"/>
            <xsd:element ref="XCN.3"/>
            <xsd:element ref="XCN.4"/>
            <xsd:element ref="XCN.5"/>
            <xsd:element ref="XCN.6"/>
            <xsd:element ref="XCN.7"/>
            <xsd:element ref="XCN.8"/>
            <xsd:element ref="XCN.9"/>
            <xsd:element ref="XCN.10"/>
            <xsd:element ref="XCN.11"/>
            <xsd:element ref="XCN.12"/>
            <xsd:element ref="XCN.13"/>
            <xsd:element ref="XCN.14"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XCN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.1" type="XCN.1.CONTENT"/>
    <xsd:complexType name="XCN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.2" type="XCN.2.CONTENT"/>
    <xsd:complexType name="XCN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.3" type="XCN.3.CONTENT"/>
    <xsd:complexType name="XCN.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.4" type="XCN.4.CONTENT"/>
    <xsd:complexType name="XCN.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.5" type="XCN.5.CONTENT"/>
    <xsd:complexType name="XCN.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.6" type="XCN.6.CONTENT"/>
    <xsd:complexType name="XCN.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.7" type="XCN.7.CONTENT"/>
    <xsd:complexType name="XCN.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.8" type="XCN.8.CONTENT"/>
    <xsd:complexType name="XCN.9.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="XCN.9" type="XCN.9.CONTENT"/>
    <xsd:complexType name="XCN.10.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.10" type="XCN.10.CONTENT"/>
    <xsd:complexType name="XCN.11.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.11" type="XCN.11.CONTENT"/>
    <xsd:complexType name="XCN.12.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.12" type="XCN.12.CONTENT"/>
    <xsd:complexType name="XCN.13.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XCN.13" type="XCN.13.CONTENT"/>
    <xsd:complexType name="XCN.14.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="XCN.14" type="XCN.14.CONTENT"/>
    <xsd:complexType name="FC">
        <xsd:sequence>
            <xsd:element ref="FC.1"/>
            <xsd:element ref="FC.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FC.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="FC.1" type="FC.1.CONTENT"/>
    <xsd:complexType name="FC.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="FC.2" type="FC.2.CONTENT"/>
    <xsd:complexType name="CM_DLD">
        <xsd:sequence>
            <xsd:element ref="CM_DLD.1"/>
            <xsd:element ref="CM_DLD.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_DLD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DLD.1" type="CM_DLD.1.CONTENT"/>
    <xsd:complexType name="CM_DLD.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_DLD.2" type="CM_DLD.2.CONTENT"/>
    <xsd:simpleType name="GenericPrimitive">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="JCC">
        <xsd:sequence>
            <xsd:element ref="JCC.1"/>
            <xsd:element ref="JCC.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JCC.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="JCC.1" type="JCC.1.CONTENT"/>
    <xsd:complexType name="JCC.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="JCC.2" type="JCC.2.CONTENT"/>
    <xsd:complexType name="CP">
        <xsd:sequence>
            <xsd:element ref="CP.1"/>
            <xsd:element ref="CP.2"/>
            <xsd:element ref="CP.3"/>
            <xsd:element ref="CP.4"/>
            <xsd:element ref="CP.5"/>
            <xsd:element ref="CP.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MO">
        <xsd:sequence>
            <xsd:element ref="MO.1"/>
            <xsd:element ref="MO.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MO.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MO.1" type="MO.1.CONTENT"/>
    <xsd:complexType name="MO.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MO.2" type="MO.2.CONTENT"/>
    <xsd:complexType name="CP.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="MO"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CP.1" type="CP.1.CONTENT"/>
    <xsd:complexType name="CP.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CP.2" type="CP.2.CONTENT"/>
    <xsd:complexType name="CP.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CP.3" type="CP.3.CONTENT"/>
    <xsd:complexType name="CP.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CP.4" type="CP.4.CONTENT"/>
    <xsd:complexType name="CP.5.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CP.5" type="CP.5.CONTENT"/>
    <xsd:complexType name="CP.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CP.6" type="CP.6.CONTENT"/>
    <xsd:complexType name="EI">
        <xsd:sequence>
            <xsd:element ref="EI.1"/>
            <xsd:element ref="EI.2"/>
            <xsd:element ref="EI.3"/>
            <xsd:element ref="EI.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.1" type="EI.1.CONTENT"/>
    <xsd:complexType name="EI.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.2" type="EI.2.CONTENT"/>
    <xsd:complexType name="EI.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.3" type="EI.3.CONTENT"/>
    <xsd:complexType name="EI.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.4" type="EI.4.CONTENT"/>
    <xsd:complexType name="CM_AUI">
        <xsd:sequence>
            <xsd:element ref="CM_AUI.1"/>
            <xsd:element ref="CM_AUI.2"/>
            <xsd:element ref="CM_AUI.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_AUI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_AUI.1" type="CM_AUI.1.CONTENT"/>
    <xsd:complexType name="CM_AUI.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_AUI.2" type="CM_AUI.2.CONTENT"/>
    <xsd:complexType name="CM_AUI.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_AUI.3" type="CM_AUI.3.CONTENT"/>
    <xsd:complexType name="CM_RMC">
        <xsd:sequence>
            <xsd:element ref="CM_RMC.1"/>
            <xsd:element ref="CM_RMC.2"/>
            <xsd:element ref="CM_RMC.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_RMC.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RMC.1" type="CM_RMC.1.CONTENT"/>
    <xsd:complexType name="CM_RMC.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RMC.2" type="CM_RMC.2.CONTENT"/>
    <xsd:complexType name="CM_RMC.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RMC.3" type="CM_RMC.3.CONTENT"/>
    <xsd:complexType name="CM_PTA">
        <xsd:sequence>
            <xsd:element ref="CM_PTA.1"/>
            <xsd:element ref="CM_PTA.2"/>
            <xsd:element ref="CM_PTA.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PTA.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PTA.1" type="CM_PTA.1.CONTENT"/>
    <xsd:complexType name="CM_PTA.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PTA.2" type="CM_PTA.2.CONTENT"/>
    <xsd:complexType name="CM_PTA.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PTA.3" type="CM_PTA.3.CONTENT"/>
    <xsd:complexType name="CM_DDI">
        <xsd:sequence>
            <xsd:element ref="CM_DDI.1"/>
            <xsd:element ref="CM_DDI.2"/>
            <xsd:element ref="CM_DDI.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_DDI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DDI.1" type="CM_DDI.1.CONTENT"/>
    <xsd:complexType name="CM_DDI.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DDI.2" type="CM_DDI.2.CONTENT"/>
    <xsd:complexType name="CM_DDI.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DDI.3" type="CM_DDI.3.CONTENT"/>
    <xsd:complexType name="CM_PEN">
        <xsd:sequence>
            <xsd:element ref="CM_PEN.1"/>
            <xsd:element ref="CM_PEN.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PEN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PEN.1" type="CM_PEN.1.CONTENT"/>
    <xsd:complexType name="CM_PEN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PEN.2" type="CM_PEN.2.CONTENT"/>
    <xsd:complexType name="CM_DTN">
        <xsd:sequence>
            <xsd:element ref="CM_DTN.1"/>
            <xsd:element ref="CM_DTN.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_DTN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DTN.1" type="CM_DTN.1.CONTENT"/>
    <xsd:complexType name="CM_DTN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DTN.2" type="CM_DTN.2.CONTENT"/>
    <xsd:complexType name="CM_PCF">
        <xsd:sequence>
            <xsd:element ref="CM_PCF.1"/>
            <xsd:element ref="CM_PCF.2"/>
            <xsd:element ref="CM_PCF.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PCF.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PCF.1" type="CM_PCF.1.CONTENT"/>
    <xsd:complexType name="CM_PCF.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PCF.2" type="CM_PCF.2.CONTENT"/>
    <xsd:complexType name="CM_PCF.3.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_PCF.3" type="CM_PCF.3.CONTENT"/>
    <xsd:complexType name="CM_UVC">
        <xsd:sequence>
            <xsd:element ref="CM_UVC.1"/>
            <xsd:element ref="CM_UVC.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_UVC.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_UVC.1" type="CM_UVC.1.CONTENT"/>
    <xsd:complexType name="CM_UVC.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_UVC.2" type="CM_UVC.2.CONTENT"/>
    <xsd:complexType name="CM_OCD">
        <xsd:sequence>
            <xsd:element ref="CM_OCD.1"/>
            <xsd:element ref="CM_OCD.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_OCD.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_OCD.1" type="CM_OCD.1.CONTENT"/>
    <xsd:complexType name="CM_OCD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OCD.2" type="CM_OCD.2.CONTENT"/>
    <xsd:complexType name="CM_OSP">
        <xsd:sequence>
            <xsd:element ref="CM_OSP.1"/>
            <xsd:element ref="CM_OSP.2"/>
            <xsd:element ref="CM_OSP.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_OSP.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_OSP.1" type="CM_OSP.1.CONTENT"/>
    <xsd:complexType name="CM_OSP.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSP.2" type="CM_OSP.2.CONTENT"/>
    <xsd:complexType name="CM_OSP.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSP.3" type="CM_OSP.3.CONTENT"/>
    <xsd:simpleType name="FT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="TQ">
        <xsd:sequence>
            <xsd:element ref="TQ.1"/>
            <xsd:element ref="TQ.2"/>
            <xsd:element ref="TQ.3"/>
            <xsd:element ref="TQ.4"/>
            <xsd:element ref="TQ.5"/>
            <xsd:element ref="TQ.6"/>
            <xsd:element ref="TQ.7"/>
            <xsd:element ref="TQ.8"/>
            <xsd:element ref="TQ.9"/>
            <xsd:element ref="TQ.10"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CQ">
        <xsd:sequence>
            <xsd:element ref="CQ.1"/>
            <xsd:element ref="CQ.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CQ.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CQ.1" type="CQ.1.CONTENT"/>
    <xsd:complexType name="CQ.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CQ.2" type="CQ.2.CONTENT"/>
    <xsd:complexType name="TQ.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CQ"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.1" type="TQ.1.CONTENT"/>
    <xsd:complexType name="CM_RI">
        <xsd:sequence>
            <xsd:element ref="CM_RI.1"/>
            <xsd:element ref="CM_RI.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_RI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RI.1" type="CM_RI.1.CONTENT"/>
    <xsd:complexType name="CM_RI.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RI.2" type="CM_RI.2.CONTENT"/>
    <xsd:complexType name="TQ.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_RI"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.2" type="TQ.2.CONTENT"/>
    <xsd:complexType name="TQ.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.3" type="TQ.3.CONTENT"/>
    <xsd:complexType name="TQ.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.4" type="TQ.4.CONTENT"/>
    <xsd:complexType name="TQ.5.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.5" type="TQ.5.CONTENT"/>
    <xsd:complexType name="TQ.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.6" type="TQ.6.CONTENT"/>
    <xsd:complexType name="TQ.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.7" type="TQ.7.CONTENT"/>
    <xsd:simpleType name="TX">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="TQ.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.8" type="TQ.8.CONTENT"/>
    <xsd:complexType name="TQ.9.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TQ.9" type="TQ.9.CONTENT"/>
    <xsd:complexType name="CM_OSD">
        <xsd:sequence>
            <xsd:element ref="CM_OSD.1"/>
            <xsd:element ref="CM_OSD.2"/>
            <xsd:element ref="CM_OSD.3"/>
            <xsd:element ref="CM_OSD.4"/>
            <xsd:element ref="CM_OSD.5"/>
            <xsd:element ref="CM_OSD.6"/>
            <xsd:element ref="CM_OSD.7"/>
            <xsd:element ref="CM_OSD.8"/>
            <xsd:element ref="CM_OSD.9"/>
            <xsd:element ref="CM_OSD.10"/>
            <xsd:element ref="CM_OSD.11"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_OSD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.1" type="CM_OSD.1.CONTENT"/>
    <xsd:complexType name="CM_OSD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.2" type="CM_OSD.2.CONTENT"/>
    <xsd:complexType name="CM_OSD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.3" type="CM_OSD.3.CONTENT"/>
    <xsd:complexType name="CM_OSD.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.4" type="CM_OSD.4.CONTENT"/>
    <xsd:complexType name="CM_OSD.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.5" type="CM_OSD.5.CONTENT"/>
    <xsd:complexType name="CM_OSD.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.6" type="CM_OSD.6.CONTENT"/>
    <xsd:complexType name="CM_OSD.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.7" type="CM_OSD.7.CONTENT"/>
    <xsd:complexType name="CM_OSD.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.8" type="CM_OSD.8.CONTENT"/>
    <xsd:complexType name="CM_OSD.9.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.9" type="CM_OSD.9.CONTENT"/>
    <xsd:complexType name="CM_OSD.10.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.10" type="CM_OSD.10.CONTENT"/>
    <xsd:complexType name="CM_OSD.11.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_OSD.11" type="CM_OSD.11.CONTENT"/>
    <xsd:complexType name="TQ.10.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_OSD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="TQ.10" type="TQ.10.CONTENT"/>
    <xsd:complexType name="CM_EIP">
        <xsd:sequence>
            <xsd:element ref="CM_EIP.1"/>
            <xsd:element ref="CM_EIP.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_EIP.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="EI"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_EIP.1" type="CM_EIP.1.CONTENT"/>
    <xsd:complexType name="CM_EIP.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="EI"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_EIP.2" type="CM_EIP.2.CONTENT"/>
    <xsd:complexType name="CM_SPS">
        <xsd:sequence>
            <xsd:element ref="CM_SPS.1"/>
            <xsd:element ref="CM_SPS.2"/>
            <xsd:element ref="CM_SPS.3"/>
            <xsd:element ref="CM_SPS.4"/>
            <xsd:element ref="CM_SPS.5"/>
            <xsd:element ref="CM_SPS.6"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_SPS.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.1" type="CM_SPS.1.CONTENT"/>
    <xsd:complexType name="CM_SPS.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.2" type="CM_SPS.2.CONTENT"/>
    <xsd:complexType name="CM_SPS.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.3" type="CM_SPS.3.CONTENT"/>
    <xsd:complexType name="CM_SPS.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.4" type="CM_SPS.4.CONTENT"/>
    <xsd:complexType name="CM_SPS.5.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.5" type="CM_SPS.5.CONTENT"/>
    <xsd:complexType name="CM_SPS.6.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_SPS.6" type="CM_SPS.6.CONTENT"/>
    <xsd:complexType name="CM_MOC">
        <xsd:sequence>
            <xsd:element ref="CM_MOC.1"/>
            <xsd:element ref="CM_MOC.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_MOC.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="MO"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_MOC.1" type="CM_MOC.1.CONTENT"/>
    <xsd:complexType name="CM_MOC.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_MOC.2" type="CM_MOC.2.CONTENT"/>
    <xsd:complexType name="CM_PRL">
        <xsd:sequence>
            <xsd:element ref="CM_PRL.1"/>
            <xsd:element ref="CM_PRL.2"/>
            <xsd:element ref="CM_PRL.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PRL.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_PRL.1" type="CM_PRL.1.CONTENT"/>
    <xsd:complexType name="CM_PRL.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PRL.2" type="CM_PRL.2.CONTENT"/>
    <xsd:complexType name="CM_PRL.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PRL.3" type="CM_PRL.3.CONTENT"/>
    <xsd:complexType name="CM_NDL">
        <xsd:sequence>
            <xsd:element ref="CM_NDL.1"/>
            <xsd:element ref="CM_NDL.2"/>
            <xsd:element ref="CM_NDL.3"/>
            <xsd:element ref="CM_NDL.4"/>
            <xsd:element ref="CM_NDL.5"/>
            <xsd:element ref="CM_NDL.6"/>
            <xsd:element ref="CM_NDL.7"/>
            <xsd:element ref="CM_NDL.8"/>
            <xsd:element ref="CM_NDL.9"/>
            <xsd:element ref="CM_NDL.10"/>
            <xsd:element ref="CM_NDL.11"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_NDL.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CN"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.1" type="CM_NDL.1.CONTENT"/>
    <xsd:complexType name="CM_NDL.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.2" type="CM_NDL.2.CONTENT"/>
    <xsd:complexType name="CM_NDL.3.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.3" type="CM_NDL.3.CONTENT"/>
    <xsd:complexType name="CM_NDL.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.4" type="CM_NDL.4.CONTENT"/>
    <xsd:complexType name="CM_NDL.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.5" type="CM_NDL.5.CONTENT"/>
    <xsd:complexType name="CM_NDL.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.6" type="CM_NDL.6.CONTENT"/>
    <xsd:complexType name="CM_NDL.7.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.7" type="CM_NDL.7.CONTENT"/>
    <xsd:complexType name="CM_NDL.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.8" type="CM_NDL.8.CONTENT"/>
    <xsd:complexType name="CM_NDL.9.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.9" type="CM_NDL.9.CONTENT"/>
    <xsd:complexType name="CM_NDL.10.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.10" type="CM_NDL.10.CONTENT"/>
    <xsd:complexType name="CM_NDL.11.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_NDL.11" type="CM_NDL.11.CONTENT"/>
    <xsd:complexType name="CM_LA1">
        <xsd:sequence>
            <xsd:element ref="CM_LA1.1"/>
            <xsd:element ref="CM_LA1.2"/>
            <xsd:element ref="CM_LA1.3"/>
            <xsd:element ref="CM_LA1.4"/>
            <xsd:element ref="CM_LA1.5"/>
            <xsd:element ref="CM_LA1.6"/>
            <xsd:element ref="CM_LA1.7"/>
            <xsd:element ref="CM_LA1.8"/>
            <xsd:element ref="CM_LA1.9"/>
            <xsd:element ref="CM_LA1.10"/>
            <xsd:element ref="CM_LA1.11"/>
            <xsd:element ref="CM_LA1.12"/>
            <xsd:element ref="CM_LA1.13"/>
            <xsd:element ref="CM_LA1.14"/>
            <xsd:element ref="CM_LA1.15"/>
            <xsd:element ref="CM_LA1.16"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_LA1.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.1" type="CM_LA1.1.CONTENT"/>
    <xsd:complexType name="CM_LA1.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.2" type="CM_LA1.2.CONTENT"/>
    <xsd:complexType name="CM_LA1.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.3" type="CM_LA1.3.CONTENT"/>
    <xsd:complexType name="CM_LA1.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.4" type="CM_LA1.4.CONTENT"/>
    <xsd:complexType name="CM_LA1.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.5" type="CM_LA1.5.CONTENT"/>
    <xsd:complexType name="CM_LA1.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.6" type="CM_LA1.6.CONTENT"/>
    <xsd:complexType name="CM_LA1.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.7" type="CM_LA1.7.CONTENT"/>
    <xsd:complexType name="CM_LA1.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.8" type="CM_LA1.8.CONTENT"/>
    <xsd:complexType name="CM_LA1.9.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.9" type="CM_LA1.9.CONTENT"/>
    <xsd:complexType name="CM_LA1.10.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.10" type="CM_LA1.10.CONTENT"/>
    <xsd:complexType name="CM_LA1.11.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.11" type="CM_LA1.11.CONTENT"/>
    <xsd:complexType name="CM_LA1.12.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.12" type="CM_LA1.12.CONTENT"/>
    <xsd:complexType name="CM_LA1.13.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.13" type="CM_LA1.13.CONTENT"/>
    <xsd:complexType name="CM_LA1.14.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.14" type="CM_LA1.14.CONTENT"/>
    <xsd:complexType name="CM_LA1.15.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.15" type="CM_LA1.15.CONTENT"/>
    <xsd:complexType name="CM_LA1.16.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_LA1.16" type="CM_LA1.16.CONTENT"/>
    <xsd:complexType name="CM_ELD">
        <xsd:sequence>
            <xsd:element ref="CM_ELD.1"/>
            <xsd:element ref="CM_ELD.2"/>
            <xsd:element ref="CM_ELD.3"/>
            <xsd:element ref="CM_ELD.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_ELD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.1" type="CM_ELD.1.CONTENT"/>
    <xsd:complexType name="CM_ELD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.2" type="CM_ELD.2.CONTENT"/>
    <xsd:complexType name="CM_ELD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.3" type="CM_ELD.3.CONTENT"/>
    <xsd:complexType name="CM_ELD.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.4" type="CM_ELD.4.CONTENT"/>
    <xsd:complexType name="CM_VR">
        <xsd:sequence>
            <xsd:element ref="CM_VR.1"/>
            <xsd:element ref="CM_VR.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_VR.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_VR.1" type="CM_VR.1.CONTENT"/>
    <xsd:complexType name="CM_VR.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_VR.2" type="CM_VR.2.CONTENT"/>
    <xsd:complexType name="PPN">
        <xsd:sequence>
            <xsd:element ref="PPN.1"/>
            <xsd:element ref="PPN.2"/>
            <xsd:element ref="PPN.3"/>
            <xsd:element ref="PPN.4"/>
            <xsd:element ref="PPN.5"/>
            <xsd:element ref="PPN.6"/>
            <xsd:element ref="PPN.7"/>
            <xsd:element ref="PPN.8"/>
            <xsd:element ref="PPN.9"/>
            <xsd:element ref="PPN.10"/>
            <xsd:element ref="PPN.11"/>
            <xsd:element ref="PPN.12"/>
            <xsd:element ref="PPN.13"/>
            <xsd:element ref="PPN.14"/>
            <xsd:element ref="PPN.15"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PPN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.1" type="PPN.1.CONTENT"/>
    <xsd:complexType name="PPN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.2" type="PPN.2.CONTENT"/>
    <xsd:complexType name="PPN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.3" type="PPN.3.CONTENT"/>
    <xsd:complexType name="PPN.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.4" type="PPN.4.CONTENT"/>
    <xsd:complexType name="PPN.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.5" type="PPN.5.CONTENT"/>
    <xsd:complexType name="PPN.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.6" type="PPN.6.CONTENT"/>
    <xsd:complexType name="PPN.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.7" type="PPN.7.CONTENT"/>
    <xsd:complexType name="PPN.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.8" type="PPN.8.CONTENT"/>
    <xsd:complexType name="PPN.9.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="PPN.9" type="PPN.9.CONTENT"/>
    <xsd:complexType name="PPN.10.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.10" type="PPN.10.CONTENT"/>
    <xsd:complexType name="PPN.11.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.11" type="PPN.11.CONTENT"/>
    <xsd:complexType name="PPN.12.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.12" type="PPN.12.CONTENT"/>
    <xsd:complexType name="PPN.13.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PPN.13" type="PPN.13.CONTENT"/>
    <xsd:complexType name="PPN.14.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="PPN.14" type="PPN.14.CONTENT"/>
    <xsd:complexType name="PPN.15.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="PPN.15" type="PPN.15.CONTENT"/>
    <xsd:complexType name="QIP">
        <xsd:sequence>
            <xsd:element ref="QIP.1"/>
            <xsd:element ref="QIP.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="QIP.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="QIP.1" type="QIP.1.CONTENT"/>
    <xsd:complexType name="QIP.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="QIP.2" type="QIP.2.CONTENT"/>
    <xsd:complexType name="AD">
        <xsd:sequence>
            <xsd:element ref="AD.1"/>
            <xsd:element ref="AD.2"/>
            <xsd:element ref="AD.3"/>
            <xsd:element ref="AD.4"/>
            <xsd:element ref="AD.5"/>
            <xsd:element ref="AD.6"/>
            <xsd:element ref="AD.7"/>
            <xsd:element ref="AD.8"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.1" type="AD.1.CONTENT"/>
    <xsd:complexType name="AD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.2" type="AD.2.CONTENT"/>
    <xsd:complexType name="AD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.3" type="AD.3.CONTENT"/>
    <xsd:complexType name="AD.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.4" type="AD.4.CONTENT"/>
    <xsd:complexType name="AD.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.5" type="AD.5.CONTENT"/>
    <xsd:complexType name="AD.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.6" type="AD.6.CONTENT"/>
    <xsd:complexType name="AD.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.7" type="AD.7.CONTENT"/>
    <xsd:complexType name="AD.8.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.8" type="AD.8.CONTENT"/>
    <xsd:complexType name="CM_DIN">
        <xsd:sequence>
            <xsd:element ref="CM_DIN.1"/>
            <xsd:element ref="CM_DIN.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_DIN.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_DIN.1" type="CM_DIN.1.CONTENT"/>
    <xsd:complexType name="CM_DIN.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_DIN.2" type="CM_DIN.2.CONTENT"/>
    <xsd:complexType name="CM_SPD">
        <xsd:sequence>
            <xsd:element ref="CM_SPD.1"/>
            <xsd:element ref="CM_SPD.2"/>
            <xsd:element ref="CM_SPD.3"/>
            <xsd:element ref="CM_SPD.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_SPD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_SPD.1" type="CM_SPD.1.CONTENT"/>
    <xsd:complexType name="CM_SPD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_SPD.2" type="CM_SPD.2.CONTENT"/>
    <xsd:complexType name="CM_SPD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_SPD.3" type="CM_SPD.3.CONTENT"/>
    <xsd:complexType name="CM_SPD.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_SPD.4" type="CM_SPD.4.CONTENT"/>
    <xsd:complexType name="CM_PLN">
        <xsd:sequence>
            <xsd:element ref="CM_PLN.1"/>
            <xsd:element ref="CM_PLN.2"/>
            <xsd:element ref="CM_PLN.3"/>
            <xsd:element ref="CM_PLN.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PLN.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PLN.1" type="CM_PLN.1.CONTENT"/>
    <xsd:complexType name="CM_PLN.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PLN.2" type="CM_PLN.2.CONTENT"/>
    <xsd:complexType name="CM_PLN.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PLN.3" type="CM_PLN.3.CONTENT"/>
    <xsd:complexType name="CM_PLN.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PLN.4" type="CM_PLN.4.CONTENT"/>
    <xsd:complexType name="CM_PIP">
        <xsd:sequence>
            <xsd:element ref="CM_PIP.1"/>
            <xsd:element ref="CM_PIP.2"/>
            <xsd:element ref="CM_PIP.3"/>
            <xsd:element ref="CM_PIP.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PIP.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_PIP.1" type="CM_PIP.1.CONTENT"/>
    <xsd:complexType name="CM_PIP.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_PIP.2" type="CM_PIP.2.CONTENT"/>
    <xsd:complexType name="CM_PIP.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PIP.3" type="CM_PIP.3.CONTENT"/>
    <xsd:complexType name="CM_PIP.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="DT"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PIP.4" type="CM_PIP.4.CONTENT"/>
    <xsd:complexType name="CK">
        <xsd:sequence>
            <xsd:element ref="CK.1"/>
            <xsd:element ref="CK.2"/>
            <xsd:element ref="CK.3"/>
            <xsd:element ref="CK.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CK.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.1" type="CK.1.CONTENT"/>
    <xsd:complexType name="CK.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.2" type="CK.2.CONTENT"/>
    <xsd:complexType name="CK.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.3" type="CK.3.CONTENT"/>
    <xsd:complexType name="CK.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="HD"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CK.4" type="CK.4.CONTENT"/>
    <xsd:complexType name="VH">
        <xsd:sequence>
            <xsd:element ref="VH.1"/>
            <xsd:element ref="VH.2"/>
            <xsd:element ref="VH.3"/>
            <xsd:element ref="VH.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VH.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="VH.1" type="VH.1.CONTENT"/>
    <xsd:complexType name="VH.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="VH.2" type="VH.2.CONTENT"/>
    <xsd:simpleType name="TM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="VH.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="VH.3" type="VH.3.CONTENT"/>
    <xsd:complexType name="VH.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="VH.4" type="VH.4.CONTENT"/>
    <xsd:complexType name="CM_RFR">
        <xsd:sequence>
            <xsd:element ref="CM_RFR.1"/>
            <xsd:element ref="CM_RFR.2"/>
            <xsd:element ref="CM_RFR.3"/>
            <xsd:element ref="CM_RFR.4"/>
            <xsd:element ref="CM_RFR.5"/>
            <xsd:element ref="CM_RFR.6"/>
            <xsd:element ref="CM_RFR.7"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_RANGE">
        <xsd:sequence>
            <xsd:element ref="CM_RANGE.1"/>
            <xsd:element ref="CM_RANGE.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_RANGE.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_RANGE.1" type="CM_RANGE.1.CONTENT"/>
    <xsd:complexType name="CM_RANGE.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_RANGE.2" type="CM_RANGE.2.CONTENT"/>
    <xsd:complexType name="CM_RFR.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_RANGE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_RFR.1" type="CM_RFR.1.CONTENT"/>
    <xsd:complexType name="CM_RFR.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RFR.2" type="CM_RFR.2.CONTENT"/>
    <xsd:complexType name="CM_RFR.3.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_RANGE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_RFR.3" type="CM_RFR.3.CONTENT"/>
    <xsd:complexType name="CM_RFR.4.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_RANGE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_RFR.4" type="CM_RFR.4.CONTENT"/>
    <xsd:complexType name="CM_RFR.5.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RFR.5" type="CM_RFR.5.CONTENT"/>
    <xsd:complexType name="CM_RFR.6.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RFR.6" type="CM_RFR.6.CONTENT"/>
    <xsd:complexType name="CM_RFR.7.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="TX"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_RFR.7" type="CM_RFR.7.CONTENT"/>
    <xsd:complexType name="CM_ABS_RANGE">
        <xsd:sequence>
            <xsd:element ref="CM_ABS_RANGE.1"/>
            <xsd:element ref="CM_ABS_RANGE.2"/>
            <xsd:element ref="CM_ABS_RANGE.3"/>
            <xsd:element ref="CM_ABS_RANGE.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_ABS_RANGE.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_RANGE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_ABS_RANGE.1" type="CM_ABS_RANGE.1.CONTENT"/>
    <xsd:complexType name="CM_ABS_RANGE.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ABS_RANGE.2" type="CM_ABS_RANGE.2.CONTENT"/>
    <xsd:complexType name="CM_ABS_RANGE.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ABS_RANGE.3" type="CM_ABS_RANGE.3.CONTENT"/>
    <xsd:complexType name="CM_ABS_RANGE.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ABS_RANGE.4" type="CM_ABS_RANGE.4.CONTENT"/>
    <xsd:complexType name="CM_DLT">
        <xsd:sequence>
            <xsd:element ref="CM_DLT.1"/>
            <xsd:element ref="CM_DLT.2"/>
            <xsd:element ref="CM_DLT.3"/>
            <xsd:element ref="CM_DLT.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_DLT.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="CM_RANGE"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_DLT.1" type="CM_DLT.1.CONTENT"/>
    <xsd:complexType name="CM_DLT.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DLT.2" type="CM_DLT.2.CONTENT"/>
    <xsd:complexType name="CM_DLT.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DLT.3" type="CM_DLT.3.CONTENT"/>
    <xsd:complexType name="CM_DLT.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_DLT.4" type="CM_DLT.4.CONTENT"/>
    <xsd:complexType name="CM_CCD">
        <xsd:sequence>
            <xsd:element ref="CM_CCD.1"/>
            <xsd:element ref="CM_CCD.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_CCD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_CCD.1" type="CM_CCD.1.CONTENT"/>
    <xsd:complexType name="CM_CCD.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_CCD.2" type="CM_CCD.2.CONTENT"/>
    <xsd:complexType name="CM_PI">
        <xsd:sequence>
            <xsd:element ref="CM_PI.1"/>
            <xsd:element ref="CM_PI.2"/>
            <xsd:element ref="CM_PI.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CM_PI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PI.1" type="CM_PI.1.CONTENT"/>
    <xsd:complexType name="CM_PI.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PI.2" type="CM_PI.2.CONTENT"/>
    <xsd:complexType name="CM_PI.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_PI.3" type="CM_PI.3.CONTENT"/>
    <xsd:complexType name="RCD">
        <xsd:sequence>
            <xsd:element ref="RCD.1"/>
            <xsd:element ref="RCD.2"/>
            <xsd:element ref="RCD.3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RCD.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="RCD.1" type="RCD.1.CONTENT"/>
    <xsd:complexType name="RCD.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="RCD.2" type="RCD.2.CONTENT"/>
    <xsd:complexType name="RCD.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="NM"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="RCD.3" type="RCD.3.CONTENT"/>
    <xsd:complexType name="DR">
        <xsd:sequence>
            <xsd:element ref="DR.1"/>
            <xsd:element ref="DR.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DR.1.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="DR.1" type="DR.1.CONTENT"/>
    <xsd:complexType name="DR.2.CONTENT">
        <xsd:complexContent>
            <xsd:extension base="TS"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="DR.2" type="DR.2.CONTENT"/>
    <xsd:complexType name="RI">
        <xsd:sequence>
            <xsd:element ref="RI.1"/>
            <xsd:element ref="RI.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RI.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="RI.1" type="RI.1.CONTENT"/>
    <xsd:complexType name="RI.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="RI.2" type="RI.2.CONTENT"/>
    <xsd:complexType name="SCV">
        <xsd:sequence>
            <xsd:element ref="SCV.1"/>
            <xsd:element ref="SCV.2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SCV.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="IS"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="SCV.1" type="SCV.1.CONTENT"/>
    <xsd:complexType name="SCV.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="SCV.2" type="SCV.2.CONTENT"/>
    <xsd:complexType name="QSC">
        <xsd:sequence>
            <xsd:element ref="QSC.1"/>
            <xsd:element ref="QSC.2"/>
            <xsd:element ref="QSC.3"/>
            <xsd:element ref="QSC.4"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="QSC.1.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="QSC.1" type="QSC.1.CONTENT"/>
    <xsd:complexType name="QSC.2.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="QSC.2" type="QSC.2.CONTENT"/>
    <xsd:complexType name="QSC.3.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ST"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="QSC.3" type="QSC.3.CONTENT"/>
    <xsd:complexType name="QSC.4.CONTENT">
        <xsd:simpleContent>
            <xsd:extension base="ID"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="QSC.4" type="QSC.4.CONTENT"/>
</xsd:schema>
