fiorano/hl7/2_5_fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:include schemaLocation="2_5_types.xsd"/>
    <xsd:element name="MSH.1" type="ST"/>
    <xsd:element name="MSH.2" type="ST"/>
    <xsd:element name="MSH.3" type="HD"/>
    <xsd:element name="MSH.4" type="HD"/>
    <xsd:element name="MSH.5" type="HD"/>
    <xsd:element name="MSH.6" type="HD"/>
    <xsd:element name="MSH.7" type="TS"/>
    <xsd:element name="MSH.8" type="ST"/>
    <xsd:element name="MSH.9" type="MSG"/>
    <xsd:element name="MSH.10" type="ST"/>
    <xsd:element name="MSH.11" type="PT"/>
    <xsd:element name="MSH.12" type="VID"/>
    <xsd:element name="MSH.13" type="NM"/>
    <xsd:element name="MSH.14" type="ST"/>
    <xsd:element name="MSH.15" type="ID"/>
    <xsd:element name="MSH.16" type="ID"/>
    <xsd:element name="MSH.17" type="ID"/>
    <xsd:element name="MSH.18" type="ID"/>
    <xsd:element name="MSH.19" type="CE"/>
    <xsd:element name="MSH.20" type="ID"/>
    <xsd:element name="MSH.21" type="EI"/>
    <xsd:element name="SFT.1" type="XON"/>
    <xsd:element name="SFT.2" type="ST"/>
    <xsd:element name="SFT.3" type="ST"/>
    <xsd:element name="SFT.4" type="ST"/>
    <xsd:element name="SFT.5" type="TX"/>
    <xsd:element name="SFT.6" type="TS"/>
    <xsd:element name="EVN.1" type="ID"/>
    <xsd:element name="EVN.2" type="TS"/>
    <xsd:element name="EVN.3" type="TS"/>
    <xsd:element name="EVN.4" type="IS"/>
    <xsd:element name="EVN.5" type="XCN"/>
    <xsd:element name="EVN.6" type="TS"/>
    <xsd:element name="EVN.7" type="HD"/>
    <xsd:element name="PID.1" type="SI"/>
    <xsd:element name="PID.2" type="CX"/>
    <xsd:element name="PID.3" type="CX"/>
    <xsd:element name="PID.4" type="CX"/>
    <xsd:element name="PID.5" type="XPN"/>
    <xsd:element name="PID.6" type="XPN"/>
    <xsd:element name="PID.7" type="TS"/>
    <xsd:element name="PID.8" type="IS"/>
    <xsd:element name="PID.9" type="XPN"/>
    <xsd:element name="PID.10" type="CE"/>
    <xsd:element name="PID.11" type="XAD"/>
    <xsd:element name="PID.12" type="IS"/>
    <xsd:element name="PID.13" type="XTN"/>
    <xsd:element name="PID.14" type="XTN"/>
    <xsd:element name="PID.15" type="CE"/>
    <xsd:element name="PID.16" type="CE"/>
    <xsd:element name="PID.17" type="CE"/>
    <xsd:element name="PID.18" type="CX"/>
    <xsd:element name="PID.19" type="ST"/>
    <xsd:element name="PID.20" type="DLN"/>
    <xsd:element name="PID.21" type="CX"/>
    <xsd:element name="PID.22" type="CE"/>
    <xsd:element name="PID.23" type="ST"/>
    <xsd:element name="PID.24" type="ID"/>
    <xsd:element name="PID.25" type="NM"/>
    <xsd:element name="PID.26" type="CE"/>
    <xsd:element name="PID.27" type="CE"/>
    <xsd:element name="PID.28" type="CE"/>
    <xsd:element name="PID.29" type="TS"/>
    <xsd:element name="PID.30" type="ID"/>
    <xsd:element name="PID.31" type="ID"/>
    <xsd:element name="PID.32" type="IS"/>
    <xsd:element name="PID.33" type="TS"/>
    <xsd:element name="PID.34" type="HD"/>
    <xsd:element name="PID.35" type="CE"/>
    <xsd:element name="PID.36" type="CE"/>
    <xsd:element name="PID.37" type="ST"/>
    <xsd:element name="PID.38" type="CE"/>
    <xsd:element name="PID.39" type="CWE"/>
    <xsd:element name="PD1.1" type="IS"/>
    <xsd:element name="PD1.2" type="IS"/>
    <xsd:element name="PD1.3" type="XON"/>
    <xsd:element name="PD1.4" type="XCN"/>
    <xsd:element name="PD1.5" type="IS"/>
    <xsd:element name="PD1.6" type="IS"/>
    <xsd:element name="PD1.7" type="IS"/>
    <xsd:element name="PD1.8" type="IS"/>
    <xsd:element name="PD1.9" type="ID"/>
    <xsd:element name="PD1.10" type="CX"/>
    <xsd:element name="PD1.11" type="CE"/>
    <xsd:element name="PD1.12" type="ID"/>
    <xsd:element name="PD1.13" type="DT"/>
    <xsd:element name="PD1.14" type="XON"/>
    <xsd:element name="PD1.15" type="CE"/>
    <xsd:element name="PD1.16" type="IS"/>
    <xsd:element name="PD1.17" type="DT"/>
    <xsd:element name="PD1.18" type="DT"/>
    <xsd:element name="PD1.19" type="IS"/>
    <xsd:element name="PD1.20" type="IS"/>
    <xsd:element name="PD1.21" type="IS"/>
    <xsd:element name="MRG.1" type="CX"/>
    <xsd:element name="MRG.2" type="CX"/>
    <xsd:element name="MRG.3" type="CX"/>
    <xsd:element name="MRG.4" type="CX"/>
    <xsd:element name="MRG.5" type="CX"/>
    <xsd:element name="MRG.6" type="CX"/>
    <xsd:element name="MRG.7" type="XPN"/>
    <xsd:element name="PV1.1" type="SI"/>
    <xsd:element name="PV1.2" type="IS"/>
    <xsd:element name="PV1.3" type="PL"/>
    <xsd:element name="PV1.4" type="IS"/>
    <xsd:element name="PV1.5" type="CX"/>
    <xsd:element name="PV1.6" type="PL"/>
    <xsd:element name="PV1.7" type="XCN"/>
    <xsd:element name="PV1.8" type="XCN"/>
    <xsd:element name="PV1.9" type="XCN"/>
    <xsd:element name="PV1.10" type="IS"/>
    <xsd:element name="PV1.11" type="PL"/>
    <xsd:element name="PV1.12" type="IS"/>
    <xsd:element name="PV1.13" type="IS"/>
    <xsd:element name="PV1.14" type="IS"/>
    <xsd:element name="PV1.15" type="IS"/>
    <xsd:element name="PV1.16" type="IS"/>
    <xsd:element name="PV1.17" type="XCN"/>
    <xsd:element name="PV1.18" type="IS"/>
    <xsd:element name="PV1.19" type="CX"/>
    <xsd:element name="PV1.20" type="FC"/>
    <xsd:element name="PV1.21" type="IS"/>
    <xsd:element name="PV1.22" type="IS"/>
    <xsd:element name="PV1.23" type="IS"/>
    <xsd:element name="PV1.24" type="IS"/>
    <xsd:element name="PV1.25" type="DT"/>
    <xsd:element name="PV1.26" type="NM"/>
    <xsd:element name="PV1.27" type="NM"/>
    <xsd:element name="PV1.28" type="IS"/>
    <xsd:element name="PV1.29" type="IS"/>
    <xsd:element name="PV1.30" type="DT"/>
    <xsd:element name="PV1.31" type="IS"/>
    <xsd:element name="PV1.32" type="NM"/>
    <xsd:element name="PV1.33" type="NM"/>
    <xsd:element name="PV1.34" type="IS"/>
    <xsd:element name="PV1.35" type="DT"/>
    <xsd:element name="PV1.36" type="IS"/>
    <xsd:element name="PV1.37" type="DLD"/>
    <xsd:element name="PV1.38" type="CE"/>
    <xsd:element name="PV1.39" type="IS"/>
    <xsd:element name="PV1.40" type="IS"/>
    <xsd:element name="PV1.41" type="IS"/>
    <xsd:element name="PV1.42" type="PL"/>
    <xsd:element name="PV1.43" type="PL"/>
    <xsd:element name="PV1.44" type="TS"/>
    <xsd:element name="PV1.45" type="TS"/>
    <xsd:element name="PV1.46" type="NM"/>
    <xsd:element name="PV1.47" type="NM"/>
    <xsd:element name="PV1.48" type="NM"/>
    <xsd:element name="PV1.49" type="NM"/>
    <xsd:element name="PV1.50" type="CX"/>
    <xsd:element name="PV1.51" type="IS"/>
    <xsd:element name="PV1.52" type="XCN"/>
    <xsd:element name="PV2.1" type="PL"/>
    <xsd:element name="PV2.2" type="CE"/>
    <xsd:element name="PV2.3" type="CE"/>
    <xsd:element name="PV2.4" type="CE"/>
    <xsd:element name="PV2.5" type="ST"/>
    <xsd:element name="PV2.6" type="ST"/>
    <xsd:element name="PV2.7" type="IS"/>
    <xsd:element name="PV2.8" type="TS"/>
    <xsd:element name="PV2.9" type="TS"/>
    <xsd:element name="PV2.10" type="NM"/>
    <xsd:element name="PV2.11" type="NM"/>
    <xsd:element name="PV2.12" type="ST"/>
    <xsd:element name="PV2.13" type="XCN"/>
    <xsd:element name="PV2.14" type="DT"/>
    <xsd:element name="PV2.15" type="ID"/>
    <xsd:element name="PV2.16" type="IS"/>
    <xsd:element name="PV2.17" type="DT"/>
    <xsd:element name="PV2.18" type="IS"/>
    <xsd:element name="PV2.19" type="ID"/>
    <xsd:element name="PV2.20" type="NM"/>
    <xsd:element name="PV2.21" type="IS"/>
    <xsd:element name="PV2.22" type="ID"/>
    <xsd:element name="PV2.23" type="XON"/>
    <xsd:element name="PV2.24" type="IS"/>
    <xsd:element name="PV2.25" type="IS"/>
    <xsd:element name="PV2.26" type="DT"/>
    <xsd:element name="PV2.27" type="IS"/>
    <xsd:element name="PV2.28" type="DT"/>
    <xsd:element name="PV2.29" type="DT"/>
    <xsd:element name="PV2.30" type="CE"/>
    <xsd:element name="PV2.31" type="IS"/>
    <xsd:element name="PV2.32" type="ID"/>
    <xsd:element name="PV2.33" type="TS"/>
    <xsd:element name="PV2.34" type="ID"/>
    <xsd:element name="PV2.35" type="ID"/>
    <xsd:element name="PV2.36" type="ID"/>
    <xsd:element name="PV2.37" type="ID"/>
    <xsd:element name="PV2.38" type="CE"/>
    <xsd:element name="PV2.39" type="CE"/>
    <xsd:element name="PV2.40" type="CE"/>
    <xsd:element name="PV2.41" type="CE"/>
    <xsd:element name="PV2.42" type="CE"/>
    <xsd:element name="PV2.43" type="IS"/>
    <xsd:element name="PV2.44" type="IS"/>
    <xsd:element name="PV2.45" type="CE"/>
    <xsd:element name="PV2.46" type="DT"/>
    <xsd:element name="PV2.47" type="TS"/>
    <xsd:element name="PV2.48" type="TS"/>
    <xsd:element name="PV2.49" type="IS"/>
    <xsd:element name="ROL.1" type="EI"/>
    <xsd:element name="ROL.2" type="ID"/>
    <xsd:element name="ROL.3" type="CE"/>
    <xsd:element name="ROL.4" type="XCN"/>
    <xsd:element name="ROL.5" type="TS"/>
    <xsd:element name="ROL.6" type="TS"/>
    <xsd:element name="ROL.7" type="CE"/>
    <xsd:element name="ROL.8" type="CE"/>
    <xsd:element name="ROL.9" type="CE"/>
    <xsd:element name="ROL.10" type="CE"/>
    <xsd:element name="ROL.11" type="XAD"/>
    <xsd:element name="ROL.12" type="XTN"/>
    <xsd:element name="IAM.1" type="SI"/>
    <xsd:element name="IAM.2" type="CE"/>
    <xsd:element name="IAM.3" type="CE"/>
    <xsd:element name="IAM.4" type="CE"/>
    <xsd:element name="IAM.5" type="ST"/>
    <xsd:element name="IAM.6" type="CNE"/>
    <xsd:element name="IAM.7" type="EI"/>
    <xsd:element name="IAM.8" type="ST"/>
    <xsd:element name="IAM.9" type="CE"/>
    <xsd:element name="IAM.10" type="CE"/>
    <xsd:element name="IAM.11" type="DT"/>
    <xsd:element name="IAM.12" type="ST"/>
    <xsd:element name="IAM.13" type="TS"/>
    <xsd:element name="IAM.14" type="XPN"/>
    <xsd:element name="IAM.15" type="CE"/>
    <xsd:element name="IAM.16" type="CE"/>
    <xsd:element name="IAM.17" type="CE"/>
    <xsd:element name="IAM.18" type="XCN"/>
    <xsd:element name="IAM.19" type="XON"/>
    <xsd:element name="IAM.20" type="TS"/>
    <xsd:element name="DB1.1" type="SI"/>
    <xsd:element name="DB1.2" type="IS"/>
    <xsd:element name="DB1.3" type="CX"/>
    <xsd:element name="DB1.4" type="ID"/>
    <xsd:element name="DB1.5" type="DT"/>
    <xsd:element name="DB1.6" type="DT"/>
    <xsd:element name="DB1.7" type="DT"/>
    <xsd:element name="DB1.8" type="DT"/>
    <xsd:element name="OBX.1" type="SI"/>
    <xsd:element name="OBX.2" type="ID"/>
    <xsd:element name="OBX.3" type="CE"/>
    <xsd:element name="OBX.4" type="ST"/>
    <xsd:element name="OBX.5" type="GenericPrimitive"/>
    <xsd:element name="OBX.6" type="CE"/>
    <xsd:element name="OBX.7" type="ST"/>
    <xsd:element name="OBX.8" type="IS"/>
    <xsd:element name="OBX.9" type="NM"/>
    <xsd:element name="OBX.10" type="ID"/>
    <xsd:element name="OBX.11" type="ID"/>
    <xsd:element name="OBX.12" type="TS"/>
    <xsd:element name="OBX.13" type="ST"/>
    <xsd:element name="OBX.14" type="TS"/>
    <xsd:element name="OBX.15" type="CE"/>
    <xsd:element name="OBX.16" type="XCN"/>
    <xsd:element name="OBX.17" type="CE"/>
    <xsd:element name="OBX.18" type="EI"/>
    <xsd:element name="OBX.19" type="TS"/>
    <xsd:element name="AL1.1" type="SI"/>
    <xsd:element name="AL1.2" type="CE"/>
    <xsd:element name="AL1.3" type="CE"/>
    <xsd:element name="AL1.4" type="CE"/>
    <xsd:element name="AL1.5" type="ST"/>
    <xsd:element name="AL1.6" type="DT"/>
    <xsd:element name="DG1.1" type="SI"/>
    <xsd:element name="DG1.2" type="ID"/>
    <xsd:element name="DG1.3" type="CE"/>
    <xsd:element name="DG1.4" type="ST"/>
    <xsd:element name="DG1.5" type="TS"/>
    <xsd:element name="DG1.6" type="IS"/>
    <xsd:element name="DG1.7" type="CE"/>
    <xsd:element name="DG1.8" type="CE"/>
    <xsd:element name="DG1.9" type="ID"/>
    <xsd:element name="DG1.10" type="IS"/>
    <xsd:element name="DG1.11" type="CE"/>
    <xsd:element name="DG1.12" type="NM"/>
    <xsd:element name="DG1.13" type="CP"/>
    <xsd:element name="DG1.14" type="ST"/>
    <xsd:element name="DG1.15" type="ID"/>
    <xsd:element name="DG1.16" type="XCN"/>
    <xsd:element name="DG1.17" type="IS"/>
    <xsd:element name="DG1.18" type="ID"/>
    <xsd:element name="DG1.19" type="TS"/>
    <xsd:element name="DG1.20" type="EI"/>
    <xsd:element name="DG1.21" type="ID"/>
    <xsd:element name="DRG.1" type="CE"/>
    <xsd:element name="DRG.2" type="TS"/>
    <xsd:element name="DRG.3" type="ID"/>
    <xsd:element name="DRG.4" type="IS"/>
    <xsd:element name="DRG.5" type="CE"/>
    <xsd:element name="DRG.6" type="NM"/>
    <xsd:element name="DRG.7" type="CP"/>
    <xsd:element name="DRG.8" type="IS"/>
    <xsd:element name="DRG.9" type="CP"/>
    <xsd:element name="DRG.10" type="ID"/>
    <xsd:element name="DRG.11" type="IS"/>
    <xsd:element name="PR1.1" type="SI"/>
    <xsd:element name="PR1.2" type="IS"/>
    <xsd:element name="PR1.3" type="CE"/>
    <xsd:element name="PR1.4" type="ST"/>
    <xsd:element name="PR1.5" type="TS"/>
    <xsd:element name="PR1.6" type="IS"/>
    <xsd:element name="PR1.7" type="NM"/>
    <xsd:element name="PR1.8" type="XCN"/>
    <xsd:element name="PR1.9" type="IS"/>
    <xsd:element name="PR1.10" type="NM"/>
    <xsd:element name="PR1.11" type="XCN"/>
    <xsd:element name="PR1.12" type="XCN"/>
    <xsd:element name="PR1.13" type="CE"/>
    <xsd:element name="PR1.14" type="ID"/>
    <xsd:element name="PR1.15" type="CE"/>
    <xsd:element name="PR1.16" type="CE"/>
    <xsd:element name="PR1.17" type="IS"/>
    <xsd:element name="PR1.18" type="CE"/>
    <xsd:element name="PR1.19" type="EI"/>
    <xsd:element name="PR1.20" type="ID"/>
    <xsd:element name="GT1.1" type="SI"/>
    <xsd:element name="GT1.2" type="CX"/>
    <xsd:element name="GT1.3" type="XPN"/>
    <xsd:element name="GT1.4" type="XPN"/>
    <xsd:element name="GT1.5" type="XAD"/>
    <xsd:element name="GT1.6" type="XTN"/>
    <xsd:element name="GT1.7" type="XTN"/>
    <xsd:element name="GT1.8" type="TS"/>
    <xsd:element name="GT1.9" type="IS"/>
    <xsd:element name="GT1.10" type="IS"/>
    <xsd:element name="GT1.11" type="CE"/>
    <xsd:element name="GT1.12" type="ST"/>
    <xsd:element name="GT1.13" type="DT"/>
    <xsd:element name="GT1.14" type="DT"/>
    <xsd:element name="GT1.15" type="NM"/>
    <xsd:element name="GT1.16" type="XPN"/>
    <xsd:element name="GT1.17" type="XAD"/>
    <xsd:element name="GT1.18" type="XTN"/>
    <xsd:element name="GT1.19" type="CX"/>
    <xsd:element name="GT1.20" type="IS"/>
    <xsd:element name="GT1.21" type="XON"/>
    <xsd:element name="GT1.22" type="ID"/>
    <xsd:element name="GT1.23" type="CE"/>
    <xsd:element name="GT1.24" type="TS"/>
    <xsd:element name="GT1.25" type="ID"/>
    <xsd:element name="GT1.26" type="CE"/>
    <xsd:element name="GT1.27" type="CP"/>
    <xsd:element name="GT1.28" type="NM"/>
    <xsd:element name="GT1.29" type="CX"/>
    <xsd:element name="GT1.30" type="CE"/>
    <xsd:element name="GT1.31" type="DT"/>
    <xsd:element name="GT1.32" type="DT"/>
    <xsd:element name="GT1.33" type="IS"/>
    <xsd:element name="GT1.34" type="IS"/>
    <xsd:element name="GT1.35" type="CE"/>
    <xsd:element name="GT1.36" type="CE"/>
    <xsd:element name="GT1.37" type="IS"/>
    <xsd:element name="GT1.38" type="CE"/>
    <xsd:element name="GT1.39" type="ID"/>
    <xsd:element name="GT1.40" type="IS"/>
    <xsd:element name="GT1.41" type="CE"/>
    <xsd:element name="GT1.42" type="XPN"/>
    <xsd:element name="GT1.43" type="CE"/>
    <xsd:element name="GT1.44" type="CE"/>
    <xsd:element name="GT1.45" type="XPN"/>
    <xsd:element name="GT1.46" type="XTN"/>
    <xsd:element name="GT1.47" type="CE"/>
    <xsd:element name="GT1.48" type="IS"/>
    <xsd:element name="GT1.49" type="ST"/>
    <xsd:element name="GT1.50" type="JCC"/>
    <xsd:element name="GT1.51" type="XON"/>
    <xsd:element name="GT1.52" type="IS"/>
    <xsd:element name="GT1.53" type="IS"/>
    <xsd:element name="GT1.54" type="FC"/>
    <xsd:element name="GT1.55" type="CE"/>
    <xsd:element name="GT1.56" type="ST"/>
    <xsd:element name="GT1.57" type="IS"/>
    <xsd:element name="NK1.1" type="SI"/>
    <xsd:element name="NK1.2" type="XPN"/>
    <xsd:element name="NK1.3" type="CE"/>
    <xsd:element name="NK1.4" type="XAD"/>
    <xsd:element name="NK1.5" type="XTN"/>
    <xsd:element name="NK1.6" type="XTN"/>
    <xsd:element name="NK1.7" type="CE"/>
    <xsd:element name="NK1.8" type="DT"/>
    <xsd:element name="NK1.9" type="DT"/>
    <xsd:element name="NK1.10" type="ST"/>
    <xsd:element name="NK1.11" type="JCC"/>
    <xsd:element name="NK1.12" type="CX"/>
    <xsd:element name="NK1.13" type="XON"/>
    <xsd:element name="NK1.14" type="CE"/>
    <xsd:element name="NK1.15" type="IS"/>
    <xsd:element name="NK1.16" type="TS"/>
    <xsd:element name="NK1.17" type="IS"/>
    <xsd:element name="NK1.18" type="IS"/>
    <xsd:element name="NK1.19" type="CE"/>
    <xsd:element name="NK1.20" type="CE"/>
    <xsd:element name="NK1.21" type="IS"/>
    <xsd:element name="NK1.22" type="CE"/>
    <xsd:element name="NK1.23" type="ID"/>
    <xsd:element name="NK1.24" type="IS"/>
    <xsd:element name="NK1.25" type="CE"/>
    <xsd:element name="NK1.26" type="XPN"/>
    <xsd:element name="NK1.27" type="CE"/>
    <xsd:element name="NK1.28" type="CE"/>
    <xsd:element name="NK1.29" type="CE"/>
    <xsd:element name="NK1.30" type="XPN"/>
    <xsd:element name="NK1.31" type="XTN"/>
    <xsd:element name="NK1.32" type="XAD"/>
    <xsd:element name="NK1.33" type="CX"/>
    <xsd:element name="NK1.34" type="IS"/>
    <xsd:element name="NK1.35" type="CE"/>
    <xsd:element name="NK1.36" type="IS"/>
    <xsd:element name="NK1.37" type="ST"/>
    <xsd:element name="NK1.38" type="ST"/>
    <xsd:element name="NK1.39" type="IS"/>
    <xsd:element name="IN1.1" type="SI"/>
    <xsd:element name="IN1.2" type="CE"/>
    <xsd:element name="IN1.3" type="CX"/>
    <xsd:element name="IN1.4" type="XON"/>
    <xsd:element name="IN1.5" type="XAD"/>
    <xsd:element name="IN1.6" type="XPN"/>
    <xsd:element name="IN1.7" type="XTN"/>
    <xsd:element name="IN1.8" type="ST"/>
    <xsd:element name="IN1.9" type="XON"/>
    <xsd:element name="IN1.10" type="CX"/>
    <xsd:element name="IN1.11" type="XON"/>
    <xsd:element name="IN1.12" type="DT"/>
    <xsd:element name="IN1.13" type="DT"/>
    <xsd:element name="IN1.14" type="AUI"/>
    <xsd:element name="IN1.15" type="IS"/>
    <xsd:element name="IN1.16" type="XPN"/>
    <xsd:element name="IN1.17" type="CE"/>
    <xsd:element name="IN1.18" type="TS"/>
    <xsd:element name="IN1.19" type="XAD"/>
    <xsd:element name="IN1.20" type="IS"/>
    <xsd:element name="IN1.21" type="IS"/>
    <xsd:element name="IN1.22" type="ST"/>
    <xsd:element name="IN1.23" type="ID"/>
    <xsd:element name="IN1.24" type="DT"/>
    <xsd:element name="IN1.25" type="ID"/>
    <xsd:element name="IN1.26" type="DT"/>
    <xsd:element name="IN1.27" type="IS"/>
    <xsd:element name="IN1.28" type="ST"/>
    <xsd:element name="IN1.29" type="TS"/>
    <xsd:element name="IN1.30" type="XCN"/>
    <xsd:element name="IN1.31" type="IS"/>
    <xsd:element name="IN1.32" type="IS"/>
    <xsd:element name="IN1.33" type="NM"/>
    <xsd:element name="IN1.34" type="NM"/>
    <xsd:element name="IN1.35" type="IS"/>
    <xsd:element name="IN1.36" type="ST"/>
    <xsd:element name="IN1.37" type="CP"/>
    <xsd:element name="IN1.38" type="CP"/>
    <xsd:element name="IN1.39" type="NM"/>
    <xsd:element name="IN1.40" type="CP"/>
    <xsd:element name="IN1.41" type="CP"/>
    <xsd:element name="IN1.42" type="CE"/>
    <xsd:element name="IN1.43" type="IS"/>
    <xsd:element name="IN1.44" type="XAD"/>
    <xsd:element name="IN1.45" type="ST"/>
    <xsd:element name="IN1.46" type="IS"/>
    <xsd:element name="IN1.47" type="IS"/>
    <xsd:element name="IN1.48" type="IS"/>
    <xsd:element name="IN1.49" type="CX"/>
    <xsd:element name="IN1.50" type="IS"/>
    <xsd:element name="IN1.51" type="DT"/>
    <xsd:element name="IN1.52" type="ST"/>
    <xsd:element name="IN1.53" type="IS"/>
    <xsd:element name="IN2.1" type="CX"/>
    <xsd:element name="IN2.2" type="ST"/>
    <xsd:element name="IN2.3" type="XCN"/>
    <xsd:element name="IN2.4" type="IS"/>
    <xsd:element name="IN2.5" type="IS"/>
    <xsd:element name="IN2.6" type="ST"/>
    <xsd:element name="IN2.7" type="XPN"/>
    <xsd:element name="IN2.8" type="ST"/>
    <xsd:element name="IN2.9" type="XPN"/>
    <xsd:element name="IN2.10" type="ST"/>
    <xsd:element name="IN2.11" type="CE"/>
    <xsd:element name="IN2.12" type="ST"/>
    <xsd:element name="IN2.13" type="ST"/>
    <xsd:element name="IN2.14" type="IS"/>
    <xsd:element name="IN2.15" type="IS"/>
    <xsd:element name="IN2.16" type="IS"/>
    <xsd:element name="IN2.17" type="DT"/>
    <xsd:element name="IN2.18" type="ID"/>
    <xsd:element name="IN2.19" type="ID"/>
    <xsd:element name="IN2.20" type="ID"/>
    <xsd:element name="IN2.21" type="ST"/>
    <xsd:element name="IN2.22" type="XPN"/>
    <xsd:element name="IN2.23" type="ST"/>
    <xsd:element name="IN2.24" type="IS"/>
    <xsd:element name="IN2.25" type="CX"/>
    <xsd:element name="IN2.26" type="CX"/>
    <xsd:element name="IN2.27" type="IS"/>
    <xsd:element name="IN2.28" type="RMC"/>
    <xsd:element name="IN2.29" type="PTA"/>
    <xsd:element name="IN2.30" type="DDI"/>
    <xsd:element name="IN2.31" type="IS"/>
    <xsd:element name="IN2.32" type="IS"/>
    <xsd:element name="IN2.33" type="CE"/>
    <xsd:element name="IN2.34" type="CE"/>
    <xsd:element name="IN2.35" type="IS"/>
    <xsd:element name="IN2.36" type="CE"/>
    <xsd:element name="IN2.37" type="ID"/>
    <xsd:element name="IN2.38" type="IS"/>
    <xsd:element name="IN2.39" type="CE"/>
    <xsd:element name="IN2.40" type="XPN"/>
    <xsd:element name="IN2.41" type="CE"/>
    <xsd:element name="IN2.42" type="CE"/>
    <xsd:element name="IN2.43" type="CE"/>
    <xsd:element name="IN2.44" type="DT"/>
    <xsd:element name="IN2.45" type="DT"/>
    <xsd:element name="IN2.46" type="ST"/>
    <xsd:element name="IN2.47" type="JCC"/>
    <xsd:element name="IN2.48" type="IS"/>
    <xsd:element name="IN2.49" type="XPN"/>
    <xsd:element name="IN2.50" type="XTN"/>
    <xsd:element name="IN2.51" type="IS"/>
    <xsd:element name="IN2.52" type="XPN"/>
    <xsd:element name="IN2.53" type="XTN"/>
    <xsd:element name="IN2.54" type="IS"/>
    <xsd:element name="IN2.55" type="DT"/>
    <xsd:element name="IN2.56" type="DT"/>
    <xsd:element name="IN2.57" type="IS"/>
    <xsd:element name="IN2.58" type="XTN"/>
    <xsd:element name="IN2.59" type="IS"/>
    <xsd:element name="IN2.60" type="IS"/>
    <xsd:element name="IN2.61" type="CX"/>
    <xsd:element name="IN2.62" type="CE"/>
    <xsd:element name="IN2.63" type="XTN"/>
    <xsd:element name="IN2.64" type="XTN"/>
    <xsd:element name="IN2.65" type="CE"/>
    <xsd:element name="IN2.66" type="ID"/>
    <xsd:element name="IN2.67" type="ID"/>
    <xsd:element name="IN2.68" type="ID"/>
    <xsd:element name="IN2.69" type="XON"/>
    <xsd:element name="IN2.70" type="XON"/>
    <xsd:element name="IN2.71" type="CE"/>
    <xsd:element name="IN2.72" type="CE"/>
    <xsd:element name="IN3.1" type="SI"/>
    <xsd:element name="IN3.2" type="CX"/>
    <xsd:element name="IN3.3" type="XCN"/>
    <xsd:element name="IN3.4" type="ID"/>
    <xsd:element name="IN3.5" type="MOP"/>
    <xsd:element name="IN3.6" type="TS"/>
    <xsd:element name="IN3.7" type="TS"/>
    <xsd:element name="IN3.8" type="XCN"/>
    <xsd:element name="IN3.9" type="DT"/>
    <xsd:element name="IN3.10" type="DT"/>
    <xsd:element name="IN3.11" type="DTN"/>
    <xsd:element name="IN3.12" type="CE"/>
    <xsd:element name="IN3.13" type="TS"/>
    <xsd:element name="IN3.14" type="XCN"/>
    <xsd:element name="IN3.15" type="ST"/>
    <xsd:element name="IN3.16" type="XTN"/>
    <xsd:element name="IN3.17" type="CE"/>
    <xsd:element name="IN3.18" type="CE"/>
    <xsd:element name="IN3.19" type="XTN"/>
    <xsd:element name="IN3.20" type="ICD"/>
    <xsd:element name="IN3.21" type="ST"/>
    <xsd:element name="IN3.22" type="DT"/>
    <xsd:element name="IN3.23" type="IS"/>
    <xsd:element name="IN3.24" type="IS"/>
    <xsd:element name="IN3.25" type="XCN"/>
    <xsd:element name="ACC.1" type="TS"/>
    <xsd:element name="ACC.2" type="CE"/>
    <xsd:element name="ACC.3" type="ST"/>
    <xsd:element name="ACC.4" type="CE"/>
    <xsd:element name="ACC.5" type="ID"/>
    <xsd:element name="ACC.6" type="ID"/>
    <xsd:element name="ACC.7" type="XCN"/>
    <xsd:element name="ACC.8" type="ST"/>
    <xsd:element name="ACC.9" type="ST"/>
    <xsd:element name="ACC.10" type="ID"/>
    <xsd:element name="ACC.11" type="XAD"/>
    <xsd:element name="UB1.1" type="SI"/>
    <xsd:element name="UB1.2" type="NM"/>
    <xsd:element name="UB1.3" type="NM"/>
    <xsd:element name="UB1.4" type="NM"/>
    <xsd:element name="UB1.5" type="NM"/>
    <xsd:element name="UB1.6" type="NM"/>
    <xsd:element name="UB1.7" type="IS"/>
    <xsd:element name="UB1.8" type="NM"/>
    <xsd:element name="UB1.9" type="NM"/>
    <xsd:element name="UB1.10" type="UVC"/>
    <xsd:element name="UB1.11" type="NM"/>
    <xsd:element name="UB1.12" type="CE"/>
    <xsd:element name="UB1.13" type="CE"/>
    <xsd:element name="UB1.14" type="DT"/>
    <xsd:element name="UB1.15" type="DT"/>
    <xsd:element name="UB1.16" type="OCD"/>
    <xsd:element name="UB1.17" type="CE"/>
    <xsd:element name="UB1.18" type="DT"/>
    <xsd:element name="UB1.19" type="DT"/>
    <xsd:element name="UB1.20" type="ST"/>
    <xsd:element name="UB1.21" type="ST"/>
    <xsd:element name="UB1.22" type="ST"/>
    <xsd:element name="UB1.23" type="ST"/>
    <xsd:element name="UB2.1" type="SI"/>
    <xsd:element name="UB2.2" type="ST"/>
    <xsd:element name="UB2.3" type="IS"/>
    <xsd:element name="UB2.4" type="ST"/>
    <xsd:element name="UB2.5" type="ST"/>
    <xsd:element name="UB2.6" type="UVC"/>
    <xsd:element name="UB2.7" type="OCD"/>
    <xsd:element name="UB2.8" type="OSP"/>
    <xsd:element name="UB2.9" type="ST"/>
    <xsd:element name="UB2.10" type="ST"/>
    <xsd:element name="UB2.11" type="ST"/>
    <xsd:element name="UB2.12" type="ST"/>
    <xsd:element name="UB2.13" type="ST"/>
    <xsd:element name="UB2.14" type="ST"/>
    <xsd:element name="UB2.15" type="ST"/>
    <xsd:element name="UB2.16" type="ST"/>
    <xsd:element name="UB2.17" type="NM"/>
    <xsd:element name="ABS.1" type="XCN"/>
    <xsd:element name="ABS.2" type="CE"/>
    <xsd:element name="ABS.3" type="CE"/>
    <xsd:element name="ABS.4" type="TS"/>
    <xsd:element name="ABS.5" type="XCN"/>
    <xsd:element name="ABS.6" type="CE"/>
    <xsd:element name="ABS.7" type="TS"/>
    <xsd:element name="ABS.8" type="XCN"/>
    <xsd:element name="ABS.9" type="CE"/>
    <xsd:element name="ABS.10" type="ID"/>
    <xsd:element name="ABS.11" type="CE"/>
    <xsd:element name="ABS.12" type="NM"/>
    <xsd:element name="ABS.13" type="CE"/>
    <xsd:element name="ABS.14" type="ID"/>
    <xsd:element name="BLC.1" type="CE"/>
    <xsd:element name="BLC.2" type="CQ"/>
    <xsd:element name="RMI.1" type="CE"/>
    <xsd:element name="RMI.2" type="TS"/>
    <xsd:element name="RMI.3" type="CE"/>
    <xsd:element name="GP1.1" type="IS"/>
    <xsd:element name="GP1.2" type="IS"/>
    <xsd:element name="GP1.3" type="IS"/>
    <xsd:element name="GP1.4" type="IS"/>
    <xsd:element name="GP1.5" type="CP"/>
    <xsd:element name="GP2.1" type="IS"/>
    <xsd:element name="GP2.2" type="NM"/>
    <xsd:element name="GP2.3" type="CP"/>
    <xsd:element name="GP2.4" type="IS"/>
    <xsd:element name="GP2.5" type="IS"/>
    <xsd:element name="GP2.6" type="IS"/>
    <xsd:element name="GP2.7" type="CE"/>
    <xsd:element name="GP2.8" type="IS"/>
    <xsd:element name="GP2.9" type="IS"/>
    <xsd:element name="GP2.10" type="IS"/>
    <xsd:element name="GP2.11" type="CP"/>
    <xsd:element name="GP2.12" type="IS"/>
    <xsd:element name="GP2.13" type="CP"/>
    <xsd:element name="GP2.14" type="NM"/>
    <xsd:element name="NTE.1" type="SI"/>
    <xsd:element name="NTE.2" type="ID"/>
    <xsd:element name="NTE.3" type="FT"/>
    <xsd:element name="NTE.4" type="CE"/>
    <xsd:element name="ORC.1" type="ID"/>
    <xsd:element name="ORC.2" type="EI"/>
    <xsd:element name="ORC.3" type="EI"/>
    <xsd:element name="ORC.4" type="EI"/>
    <xsd:element name="ORC.5" type="ID"/>
    <xsd:element name="ORC.6" type="ID"/>
    <xsd:element name="ORC.7" type="TQ"/>
    <xsd:element name="ORC.8" type="EIP"/>
    <xsd:element name="ORC.9" type="TS"/>
    <xsd:element name="ORC.10" type="XCN"/>
    <xsd:element name="ORC.11" type="XCN"/>
    <xsd:element name="ORC.12" type="XCN"/>
    <xsd:element name="ORC.13" type="PL"/>
    <xsd:element name="ORC.14" type="XTN"/>
    <xsd:element name="ORC.15" type="TS"/>
    <xsd:element name="ORC.16" type="CE"/>
    <xsd:element name="ORC.17" type="CE"/>
    <xsd:element name="ORC.18" type="CE"/>
    <xsd:element name="ORC.19" type="XCN"/>
    <xsd:element name="ORC.20" type="CE"/>
    <xsd:element name="ORC.21" type="XON"/>
    <xsd:element name="ORC.22" type="XAD"/>
    <xsd:element name="ORC.23" type="XTN"/>
    <xsd:element name="ORC.24" type="XAD"/>
    <xsd:element name="ORC.25" type="CWE"/>
    <xsd:element name="ORC.26" type="CWE"/>
    <xsd:element name="ORC.27" type="TS"/>
    <xsd:element name="ORC.28" type="CWE"/>
    <xsd:element name="ORC.29" type="CWE"/>
    <xsd:element name="ORC.30" type="CNE"/>
    <xsd:element name="TQ1.1" type="SI"/>
    <xsd:element name="TQ1.2" type="CQ"/>
    <xsd:element name="TQ1.3" type="RPT"/>
    <xsd:element name="TQ1.4" type="TM"/>
    <xsd:element name="TQ1.5" type="CQ"/>
    <xsd:element name="TQ1.6" type="CQ"/>
    <xsd:element name="TQ1.7" type="TS"/>
    <xsd:element name="TQ1.8" type="TS"/>
    <xsd:element name="TQ1.9" type="CWE"/>
    <xsd:element name="TQ1.10" type="TX"/>
    <xsd:element name="TQ1.11" type="TX"/>
    <xsd:element name="TQ1.12" type="ID"/>
    <xsd:element name="TQ1.13" type="CQ"/>
    <xsd:element name="TQ1.14" type="NM"/>
    <xsd:element name="TQ2.1" type="SI"/>
    <xsd:element name="TQ2.2" type="ID"/>
    <xsd:element name="TQ2.3" type="EI"/>
    <xsd:element name="TQ2.4" type="EI"/>
    <xsd:element name="TQ2.5" type="EI"/>
    <xsd:element name="TQ2.6" type="ID"/>
    <xsd:element name="TQ2.7" type="ID"/>
    <xsd:element name="TQ2.8" type="CQ"/>
    <xsd:element name="TQ2.9" type="NM"/>
    <xsd:element name="TQ2.10" type="ID"/>
    <xsd:element name="BPO.1" type="SI"/>
    <xsd:element name="BPO.2" type="CWE"/>
    <xsd:element name="BPO.3" type="CWE"/>
    <xsd:element name="BPO.4" type="NM"/>
    <xsd:element name="BPO.5" type="NM"/>
    <xsd:element name="BPO.6" type="CE"/>
    <xsd:element name="BPO.7" type="TS"/>
    <xsd:element name="BPO.8" type="PL"/>
    <xsd:element name="BPO.9" type="XAD"/>
    <xsd:element name="BPO.10" type="TS"/>
    <xsd:element name="BPO.11" type="PL"/>
    <xsd:element name="BPO.12" type="XAD"/>
    <xsd:element name="BPO.13" type="CWE"/>
    <xsd:element name="BPO.14" type="ID"/>
    <xsd:element name="BPX.1" type="SI"/>
    <xsd:element name="BPX.2" type="CWE"/>
    <xsd:element name="BPX.3" type="ID"/>
    <xsd:element name="BPX.4" type="TS"/>
    <xsd:element name="BPX.5" type="EI"/>
    <xsd:element name="BPX.6" type="CNE"/>
    <xsd:element name="BPX.7" type="CNE"/>
    <xsd:element name="BPX.8" type="CWE"/>
    <xsd:element name="BPX.9" type="XON"/>
    <xsd:element name="BPX.10" type="EI"/>
    <xsd:element name="BPX.11" type="CNE"/>
    <xsd:element name="BPX.12" type="CNE"/>
    <xsd:element name="BPX.13" type="TS"/>
    <xsd:element name="BPX.14" type="NM"/>
    <xsd:element name="BPX.15" type="NM"/>
    <xsd:element name="BPX.16" type="CE"/>
    <xsd:element name="BPX.17" type="EI"/>
    <xsd:element name="BPX.18" type="PL"/>
    <xsd:element name="BPX.19" type="XAD"/>
    <xsd:element name="BPX.20" type="XCN"/>
    <xsd:element name="BPX.21" type="XCN"/>
    <xsd:element name="MSA.1" type="ID"/>
    <xsd:element name="MSA.2" type="ST"/>
    <xsd:element name="MSA.3" type="ST"/>
    <xsd:element name="MSA.4" type="NM"/>
    <xsd:element name="MSA.5" type="ID"/>
    <xsd:element name="MSA.6" type="CE"/>
    <xsd:element name="ERR.1" type="ELD"/>
    <xsd:element name="ERR.2" type="ERL"/>
    <xsd:element name="ERR.3" type="CWE"/>
    <xsd:element name="ERR.4" type="ID"/>
    <xsd:element name="ERR.5" type="CWE"/>
    <xsd:element name="ERR.6" type="ST"/>
    <xsd:element name="ERR.7" type="TX"/>
    <xsd:element name="ERR.8" type="TX"/>
    <xsd:element name="ERR.9" type="IS"/>
    <xsd:element name="ERR.10" type="CWE"/>
    <xsd:element name="ERR.11" type="CWE"/>
    <xsd:element name="ERR.12" type="XTN"/>
    <xsd:element name="BTX.1" type="SI"/>
    <xsd:element name="BTX.2" type="EI"/>
    <xsd:element name="BTX.3" type="CNE"/>
    <xsd:element name="BTX.4" type="CNE"/>
    <xsd:element name="BTX.5" type="CWE"/>
    <xsd:element name="BTX.6" type="XON"/>
    <xsd:element name="BTX.7" type="EI"/>
    <xsd:element name="BTX.8" type="NM"/>
    <xsd:element name="BTX.9" type="NM"/>
    <xsd:element name="BTX.10" type="CE"/>
    <xsd:element name="BTX.11" type="CWE"/>
    <xsd:element name="BTX.12" type="ID"/>
    <xsd:element name="BTX.13" type="TS"/>
    <xsd:element name="BTX.14" type="XCN"/>
    <xsd:element name="BTX.15" type="XCN"/>
    <xsd:element name="BTX.16" type="TS"/>
    <xsd:element name="BTX.17" type="TS"/>
    <xsd:element name="BTX.18" type="CWE"/>
    <xsd:element name="BTX.19" type="CWE"/>
    <xsd:element name="CSR.1" type="EI"/>
    <xsd:element name="CSR.2" type="EI"/>
    <xsd:element name="CSR.3" type="CE"/>
    <xsd:element name="CSR.4" type="CX"/>
    <xsd:element name="CSR.5" type="CX"/>
    <xsd:element name="CSR.6" type="TS"/>
    <xsd:element name="CSR.7" type="XCN"/>
    <xsd:element name="CSR.8" type="XCN"/>
    <xsd:element name="CSR.9" type="TS"/>
    <xsd:element name="CSR.10" type="CE"/>
    <xsd:element name="CSR.11" type="TS"/>
    <xsd:element name="CSR.12" type="CE"/>
    <xsd:element name="CSR.13" type="CE"/>
    <xsd:element name="CSR.14" type="CE"/>
    <xsd:element name="CSR.15" type="TS"/>
    <xsd:element name="CSR.16" type="CE"/>
    <xsd:element name="CSP.1" type="CE"/>
    <xsd:element name="CSP.2" type="TS"/>
    <xsd:element name="CSP.3" type="TS"/>
    <xsd:element name="CSP.4" type="CE"/>
    <xsd:element name="CSS.1" type="CE"/>
    <xsd:element name="CSS.2" type="TS"/>
    <xsd:element name="CSS.3" type="CE"/>
    <xsd:element name="OBR.1" type="SI"/>
    <xsd:element name="OBR.2" type="EI"/>
    <xsd:element name="OBR.3" type="EI"/>
    <xsd:element name="OBR.4" type="CE"/>
    <xsd:element name="OBR.5" type="ID"/>
    <xsd:element name="OBR.6" type="TS"/>
    <xsd:element name="OBR.7" type="TS"/>
    <xsd:element name="OBR.8" type="TS"/>
    <xsd:element name="OBR.9" type="CQ"/>
    <xsd:element name="OBR.10" type="XCN"/>
    <xsd:element name="OBR.11" type="ID"/>
    <xsd:element name="OBR.12" type="CE"/>
    <xsd:element name="OBR.13" type="ST"/>
    <xsd:element name="OBR.14" type="TS"/>
    <xsd:element name="OBR.15" type="SPS"/>
    <xsd:element name="OBR.16" type="XCN"/>
    <xsd:element name="OBR.17" type="XTN"/>
    <xsd:element name="OBR.18" type="ST"/>
    <xsd:element name="OBR.19" type="ST"/>
    <xsd:element name="OBR.20" type="ST"/>
    <xsd:element name="OBR.21" type="ST"/>
    <xsd:element name="OBR.22" type="TS"/>
    <xsd:element name="OBR.23" type="MOC"/>
    <xsd:element name="OBR.24" type="ID"/>
    <xsd:element name="OBR.25" type="ID"/>
    <xsd:element name="OBR.26" type="PRL"/>
    <xsd:element name="OBR.27" type="TQ"/>
    <xsd:element name="OBR.28" type="XCN"/>
    <xsd:element name="OBR.29" type="EIP"/>
    <xsd:element name="OBR.30" type="ID"/>
    <xsd:element name="OBR.31" type="CE"/>
    <xsd:element name="OBR.32" type="NDL"/>
    <xsd:element name="OBR.33" type="NDL"/>
    <xsd:element name="OBR.34" type="NDL"/>
    <xsd:element name="OBR.35" type="NDL"/>
    <xsd:element name="OBR.36" type="TS"/>
    <xsd:element name="OBR.37" type="NM"/>
    <xsd:element name="OBR.38" type="CE"/>
    <xsd:element name="OBR.39" type="CE"/>
    <xsd:element name="OBR.40" type="CE"/>
    <xsd:element name="OBR.41" type="ID"/>
    <xsd:element name="OBR.42" type="ID"/>
    <xsd:element name="OBR.43" type="CE"/>
    <xsd:element name="OBR.44" type="CE"/>
    <xsd:element name="OBR.45" type="CE"/>
    <xsd:element name="OBR.46" type="CE"/>
    <xsd:element name="OBR.47" type="CE"/>
    <xsd:element name="OBR.48" type="CWE"/>
    <xsd:element name="OBR.49" type="IS"/>
    <xsd:element name="RXA.1" type="NM"/>
    <xsd:element name="RXA.2" type="NM"/>
    <xsd:element name="RXA.3" type="TS"/>
    <xsd:element name="RXA.4" type="TS"/>
    <xsd:element name="RXA.5" type="CE"/>
    <xsd:element name="RXA.6" type="NM"/>
    <xsd:element name="RXA.7" type="CE"/>
    <xsd:element name="RXA.8" type="CE"/>
    <xsd:element name="RXA.9" type="CE"/>
    <xsd:element name="RXA.10" type="XCN"/>
    <xsd:element name="RXA.11" type="LA2"/>
    <xsd:element name="RXA.12" type="ST"/>
    <xsd:element name="RXA.13" type="NM"/>
    <xsd:element name="RXA.14" type="CE"/>
    <xsd:element name="RXA.15" type="ST"/>
    <xsd:element name="RXA.16" type="TS"/>
    <xsd:element name="RXA.17" type="CE"/>
    <xsd:element name="RXA.18" type="CE"/>
    <xsd:element name="RXA.19" type="CE"/>
    <xsd:element name="RXA.20" type="ID"/>
    <xsd:element name="RXA.21" type="ID"/>
    <xsd:element name="RXA.22" type="TS"/>
    <xsd:element name="RXA.23" type="NM"/>
    <xsd:element name="RXA.24" type="CWE"/>
    <xsd:element name="RXA.25" type="CWE"/>
    <xsd:element name="RXA.26" type="ID"/>
    <xsd:element name="RXR.1" type="CE"/>
    <xsd:element name="RXR.2" type="CWE"/>
    <xsd:element name="RXR.3" type="CE"/>
    <xsd:element name="RXR.4" type="CWE"/>
    <xsd:element name="RXR.5" type="CE"/>
    <xsd:element name="RXR.6" type="CWE"/>
    <xsd:element name="FT1.1" type="SI"/>
    <xsd:element name="FT1.2" type="ST"/>
    <xsd:element name="FT1.3" type="ST"/>
    <xsd:element name="FT1.4" type="DR"/>
    <xsd:element name="FT1.5" type="TS"/>
    <xsd:element name="FT1.6" type="IS"/>
    <xsd:element name="FT1.7" type="CE"/>
    <xsd:element name="FT1.8" type="ST"/>
    <xsd:element name="FT1.9" type="ST"/>
    <xsd:element name="FT1.10" type="NM"/>
    <xsd:element name="FT1.11" type="CP"/>
    <xsd:element name="FT1.12" type="CP"/>
    <xsd:element name="FT1.13" type="CE"/>
    <xsd:element name="FT1.14" type="CE"/>
    <xsd:element name="FT1.15" type="CP"/>
    <xsd:element name="FT1.16" type="PL"/>
    <xsd:element name="FT1.17" type="IS"/>
    <xsd:element name="FT1.18" type="IS"/>
    <xsd:element name="FT1.19" type="CE"/>
    <xsd:element name="FT1.20" type="XCN"/>
    <xsd:element name="FT1.21" type="XCN"/>
    <xsd:element name="FT1.22" type="CP"/>
    <xsd:element name="FT1.23" type="EI"/>
    <xsd:element name="FT1.24" type="XCN"/>
    <xsd:element name="FT1.25" type="CE"/>
    <xsd:element name="FT1.26" type="CE"/>
    <xsd:element name="FT1.27" type="CE"/>
    <xsd:element name="FT1.28" type="CWE"/>
    <xsd:element name="FT1.29" type="CNE"/>
    <xsd:element name="FT1.30" type="CX"/>
    <xsd:element name="FT1.31" type="SI"/>
    <xsd:element name="QAK.1" type="ST"/>
    <xsd:element name="QAK.2" type="ID"/>
    <xsd:element name="QAK.3" type="CE"/>
    <xsd:element name="QAK.4" type="NM"/>
    <xsd:element name="QAK.5" type="NM"/>
    <xsd:element name="QAK.6" type="NM"/>
    <xsd:element name="QRD.1" type="TS"/>
    <xsd:element name="QRD.2" type="ID"/>
    <xsd:element name="QRD.3" type="ID"/>
    <xsd:element name="QRD.4" type="ST"/>
    <xsd:element name="QRD.5" type="ID"/>
    <xsd:element name="QRD.6" type="TS"/>
    <xsd:element name="QRD.7" type="CQ"/>
    <xsd:element name="QRD.8" type="XCN"/>
    <xsd:element name="QRD.9" type="CE"/>
    <xsd:element name="QRD.10" type="CE"/>
    <xsd:element name="QRD.11" type="VR"/>
    <xsd:element name="QRD.12" type="ID"/>
    <xsd:element name="TXA.1" type="SI"/>
    <xsd:element name="TXA.2" type="IS"/>
    <xsd:element name="TXA.3" type="ID"/>
    <xsd:element name="TXA.4" type="TS"/>
    <xsd:element name="TXA.5" type="XCN"/>
    <xsd:element name="TXA.6" type="TS"/>
    <xsd:element name="TXA.7" type="TS"/>
    <xsd:element name="TXA.8" type="TS"/>
    <xsd:element name="TXA.9" type="XCN"/>
    <xsd:element name="TXA.10" type="XCN"/>
    <xsd:element name="TXA.11" type="XCN"/>
    <xsd:element name="TXA.12" type="EI"/>
    <xsd:element name="TXA.13" type="EI"/>
    <xsd:element name="TXA.14" type="EI"/>
    <xsd:element name="TXA.15" type="EI"/>
    <xsd:element name="TXA.16" type="ST"/>
    <xsd:element name="TXA.17" type="ID"/>
    <xsd:element name="TXA.18" type="ID"/>
    <xsd:element name="TXA.19" type="ID"/>
    <xsd:element name="TXA.20" type="ID"/>
    <xsd:element name="TXA.21" type="ST"/>
    <xsd:element name="TXA.22" type="PPN"/>
    <xsd:element name="TXA.23" type="XCN"/>
    <xsd:element name="DSC.1" type="ST"/>
    <xsd:element name="DSC.2" type="ID"/>
    <xsd:element name="QRF.1" type="ST"/>
    <xsd:element name="QRF.2" type="TS"/>
    <xsd:element name="QRF.3" type="TS"/>
    <xsd:element name="QRF.4" type="ST"/>
    <xsd:element name="QRF.5" type="ST"/>
    <xsd:element name="QRF.6" type="ID"/>
    <xsd:element name="QRF.7" type="ID"/>
    <xsd:element name="QRF.8" type="ID"/>
    <xsd:element name="QRF.9" type="TQ"/>
    <xsd:element name="QRF.10" type="NM"/>
    <xsd:element name="DSP.1" type="SI"/>
    <xsd:element name="DSP.2" type="SI"/>
    <xsd:element name="DSP.3" type="TX"/>
    <xsd:element name="DSP.4" type="ST"/>
    <xsd:element name="DSP.5" type="TX"/>
    <xsd:element name="EQU.1" type="EI"/>
    <xsd:element name="EQU.2" type="TS"/>
    <xsd:element name="EQU.3" type="CE"/>
    <xsd:element name="EQU.4" type="CE"/>
    <xsd:element name="EQU.5" type="CE"/>
    <xsd:element name="ECD.1" type="NM"/>
    <xsd:element name="ECD.2" type="CE"/>
    <xsd:element name="ECD.3" type="ID"/>
    <xsd:element name="ECD.4" type="TQ"/>
    <xsd:element name="ECD.5" type="TX"/>
    <xsd:element name="SAC.1" type="EI"/>
    <xsd:element name="SAC.2" type="EI"/>
    <xsd:element name="SAC.3" type="EI"/>
    <xsd:element name="SAC.4" type="EI"/>
    <xsd:element name="SAC.5" type="EI"/>
    <xsd:element name="SAC.6" type="SPS"/>
    <xsd:element name="SAC.7" type="TS"/>
    <xsd:element name="SAC.8" type="CE"/>
    <xsd:element name="SAC.9" type="CE"/>
    <xsd:element name="SAC.10" type="EI"/>
    <xsd:element name="SAC.11" type="NA"/>
    <xsd:element name="SAC.12" type="CE"/>
    <xsd:element name="SAC.13" type="EI"/>
    <xsd:element name="SAC.14" type="NA"/>
    <xsd:element name="SAC.15" type="CE"/>
    <xsd:element name="SAC.16" type="NM"/>
    <xsd:element name="SAC.17" type="NM"/>
    <xsd:element name="SAC.18" type="NM"/>
    <xsd:element name="SAC.19" type="NM"/>
    <xsd:element name="SAC.20" type="CE"/>
    <xsd:element name="SAC.21" type="NM"/>
    <xsd:element name="SAC.22" type="NM"/>
    <xsd:element name="SAC.23" type="NM"/>
    <xsd:element name="SAC.24" type="CE"/>
    <xsd:element name="SAC.25" type="CE"/>
    <xsd:element name="SAC.26" type="CE"/>
    <xsd:element name="SAC.27" type="CWE"/>
    <xsd:element name="SAC.28" type="CE"/>
    <xsd:element name="SAC.29" type="SN"/>
    <xsd:element name="SAC.30" type="CE"/>
    <xsd:element name="SAC.31" type="SN"/>
    <xsd:element name="SAC.32" type="NM"/>
    <xsd:element name="SAC.33" type="CE"/>
    <xsd:element name="SAC.34" type="NM"/>
    <xsd:element name="SAC.35" type="CE"/>
    <xsd:element name="SAC.36" type="NM"/>
    <xsd:element name="SAC.37" type="CE"/>
    <xsd:element name="SAC.38" type="NM"/>
    <xsd:element name="SAC.39" type="CE"/>
    <xsd:element name="SAC.40" type="CE"/>
    <xsd:element name="SAC.41" type="CE"/>
    <xsd:element name="SAC.42" type="CE"/>
    <xsd:element name="SAC.43" type="CWE"/>
    <xsd:element name="SAC.44" type="CE"/>
    <xsd:element name="SPM.1" type="SI"/>
    <xsd:element name="SPM.2" type="EIP"/>
    <xsd:element name="SPM.3" type="EIP"/>
    <xsd:element name="SPM.4" type="CWE"/>
    <xsd:element name="SPM.5" type="CWE"/>
    <xsd:element name="SPM.6" type="CWE"/>
    <xsd:element name="SPM.7" type="CWE"/>
    <xsd:element name="SPM.8" type="CWE"/>
    <xsd:element name="SPM.9" type="CWE"/>
    <xsd:element name="SPM.10" type="CWE"/>
    <xsd:element name="SPM.11" type="CWE"/>
    <xsd:element name="SPM.12" type="CQ"/>
    <xsd:element name="SPM.13" type="NM"/>
    <xsd:element name="SPM.14" type="ST"/>
    <xsd:element name="SPM.15" type="CWE"/>
    <xsd:element name="SPM.16" type="CWE"/>
    <xsd:element name="SPM.17" type="DR"/>
    <xsd:element name="SPM.18" type="TS"/>
    <xsd:element name="SPM.19" type="TS"/>
    <xsd:element name="SPM.20" type="ID"/>
    <xsd:element name="SPM.21" type="CWE"/>
    <xsd:element name="SPM.22" type="CWE"/>
    <xsd:element name="SPM.23" type="CWE"/>
    <xsd:element name="SPM.24" type="CWE"/>
    <xsd:element name="SPM.25" type="CQ"/>
    <xsd:element name="SPM.26" type="NM"/>
    <xsd:element name="SPM.27" type="CWE"/>
    <xsd:element name="SPM.28" type="CWE"/>
    <xsd:element name="SPM.29" type="CWE"/>
    <xsd:element name="CNS.1" type="NM"/>
    <xsd:element name="CNS.2" type="NM"/>
    <xsd:element name="CNS.3" type="TS"/>
    <xsd:element name="CNS.4" type="TS"/>
    <xsd:element name="CNS.5" type="CE"/>
    <xsd:element name="CNS.6" type="CE"/>
    <xsd:element name="NDS.1" type="NM"/>
    <xsd:element name="NDS.2" type="TS"/>
    <xsd:element name="NDS.3" type="CE"/>
    <xsd:element name="NDS.4" type="CE"/>
    <xsd:element name="ECR.1" type="CE"/>
    <xsd:element name="ECR.2" type="TS"/>
    <xsd:element name="ECR.3" type="TX"/>
    <xsd:element name="EQL.1" type="ST"/>
    <xsd:element name="EQL.2" type="ID"/>
    <xsd:element name="EQL.3" type="CE"/>
    <xsd:element name="EQL.4" type="ST"/>
    <xsd:element name="ERQ.1" type="ST"/>
    <xsd:element name="ERQ.2" type="CE"/>
    <xsd:element name="ERQ.3" type="QIP"/>
    <xsd:element name="ISD.1" type="NM"/>
    <xsd:element name="ISD.2" type="CE"/>
    <xsd:element name="ISD.3" type="CE"/>
    <xsd:element name="INV.1" type="CE"/>
    <xsd:element name="INV.2" type="CE"/>
    <xsd:element name="INV.3" type="CE"/>
    <xsd:element name="INV.4" type="CE"/>
    <xsd:element name="INV.5" type="CE"/>
    <xsd:element name="INV.6" type="CE"/>
    <xsd:element name="INV.7" type="NM"/>
    <xsd:element name="INV.8" type="NM"/>
    <xsd:element name="INV.9" type="NM"/>
    <xsd:element name="INV.10" type="NM"/>
    <xsd:element name="INV.11" type="CE"/>
    <xsd:element name="INV.12" type="TS"/>
    <xsd:element name="INV.13" type="TS"/>
    <xsd:element name="INV.14" type="TQ"/>
    <xsd:element name="INV.15" type="CE"/>
    <xsd:element name="INV.16" type="ST"/>
    <xsd:element name="INV.17" type="CE"/>
    <xsd:element name="INV.18" type="CE"/>
    <xsd:element name="INV.19" type="CQ"/>
    <xsd:element name="INV.20" type="CQ"/>
    <xsd:element name="EQP.1" type="CE"/>
    <xsd:element name="EQP.2" type="ST"/>
    <xsd:element name="EQP.3" type="TS"/>
    <xsd:element name="EQP.4" type="TS"/>
    <xsd:element name="EQP.5" type="FT"/>
    <xsd:element name="MFI.1" type="CE"/>
    <xsd:element name="MFI.2" type="HD"/>
    <xsd:element name="MFI.3" type="ID"/>
    <xsd:element name="MFI.4" type="TS"/>
    <xsd:element name="MFI.5" type="TS"/>
    <xsd:element name="MFI.6" type="ID"/>
    <xsd:element name="MFA.1" type="ID"/>
    <xsd:element name="MFA.2" type="ST"/>
    <xsd:element name="MFA.3" type="TS"/>
    <xsd:element name="MFA.4" type="CE"/>
    <xsd:element name="MFA.5" type="GenericPrimitive"/>
    <xsd:element name="MFA.6" type="ID"/>
    <xsd:element name="MFE.1" type="ID"/>
    <xsd:element name="MFE.2" type="ST"/>
    <xsd:element name="MFE.3" type="TS"/>
    <xsd:element name="MFE.4" type="GenericPrimitive"/>
    <xsd:element name="MFE.5" type="ID"/>
    <xsd:element name="STF.1" type="CE"/>
    <xsd:element name="STF.2" type="CX"/>
    <xsd:element name="STF.3" type="XPN"/>
    <xsd:element name="STF.4" type="IS"/>
    <xsd:element name="STF.5" type="IS"/>
    <xsd:element name="STF.6" type="TS"/>
    <xsd:element name="STF.7" type="ID"/>
    <xsd:element name="STF.8" type="CE"/>
    <xsd:element name="STF.9" type="CE"/>
    <xsd:element name="STF.10" type="XTN"/>
    <xsd:element name="STF.11" type="XAD"/>
    <xsd:element name="STF.12" type="DIN"/>
    <xsd:element name="STF.13" type="DIN"/>
    <xsd:element name="STF.14" type="CE"/>
    <xsd:element name="STF.15" type="ST"/>
    <xsd:element name="STF.16" type="CE"/>
    <xsd:element name="STF.17" type="CE"/>
    <xsd:element name="STF.18" type="ST"/>
    <xsd:element name="STF.19" type="JCC"/>
    <xsd:element name="STF.20" type="CE"/>
    <xsd:element name="STF.21" type="ID"/>
    <xsd:element name="STF.22" type="DLN"/>
    <xsd:element name="STF.23" type="ID"/>
    <xsd:element name="STF.24" type="DT"/>
    <xsd:element name="STF.25" type="DT"/>
    <xsd:element name="STF.26" type="DT"/>
    <xsd:element name="STF.27" type="CE"/>
    <xsd:element name="STF.28" type="CE"/>
    <xsd:element name="STF.29" type="ID"/>
    <xsd:element name="STF.30" type="CE"/>
    <xsd:element name="STF.31" type="TS"/>
    <xsd:element name="STF.32" type="ID"/>
    <xsd:element name="STF.33" type="CWE"/>
    <xsd:element name="STF.34" type="DR"/>
    <xsd:element name="STF.35" type="DT"/>
    <xsd:element name="STF.36" type="CWE"/>
    <xsd:element name="STF.37" type="ID"/>
    <xsd:element name="STF.38" type="CWE"/>
    <xsd:element name="PRA.1" type="CE"/>
    <xsd:element name="PRA.2" type="CE"/>
    <xsd:element name="PRA.3" type="IS"/>
    <xsd:element name="PRA.4" type="ID"/>
    <xsd:element name="PRA.5" type="SPD"/>
    <xsd:element name="PRA.6" type="PLN"/>
    <xsd:element name="PRA.7" type="PIP"/>
    <xsd:element name="PRA.8" type="DT"/>
    <xsd:element name="PRA.9" type="CE"/>
    <xsd:element name="PRA.10" type="DT"/>
    <xsd:element name="PRA.11" type="CE"/>
    <xsd:element name="PRA.12" type="SI"/>
    <xsd:element name="ORG.1" type="SI"/>
    <xsd:element name="ORG.2" type="CE"/>
    <xsd:element name="ORG.3" type="CE"/>
    <xsd:element name="ORG.4" type="ID"/>
    <xsd:element name="ORG.5" type="CX"/>
    <xsd:element name="ORG.6" type="CE"/>
    <xsd:element name="ORG.7" type="CE"/>
    <xsd:element name="ORG.8" type="CE"/>
    <xsd:element name="ORG.9" type="DR"/>
    <xsd:element name="ORG.10" type="CE"/>
    <xsd:element name="ORG.11" type="ID"/>
    <xsd:element name="ORG.12" type="ID"/>
    <xsd:element name="AFF.1" type="SI"/>
    <xsd:element name="AFF.2" type="XON"/>
    <xsd:element name="AFF.3" type="XAD"/>
    <xsd:element name="AFF.4" type="DR"/>
    <xsd:element name="AFF.5" type="ST"/>
    <xsd:element name="LAN.1" type="SI"/>
    <xsd:element name="LAN.2" type="CE"/>
    <xsd:element name="LAN.3" type="CE"/>
    <xsd:element name="LAN.4" type="CE"/>
    <xsd:element name="EDU.1" type="SI"/>
    <xsd:element name="EDU.2" type="IS"/>
    <xsd:element name="EDU.3" type="DR"/>
    <xsd:element name="EDU.4" type="DR"/>
    <xsd:element name="EDU.5" type="DT"/>
    <xsd:element name="EDU.6" type="XON"/>
    <xsd:element name="EDU.7" type="CE"/>
    <xsd:element name="EDU.8" type="XAD"/>
    <xsd:element name="EDU.9" type="CWE"/>
    <xsd:element name="CER.1" type="SI"/>
    <xsd:element name="CER.2" type="ST"/>
    <xsd:element name="CER.3" type="ST"/>
    <xsd:element name="CER.4" type="XON"/>
    <xsd:element name="CER.5" type="XCN"/>
    <xsd:element name="CER.6" type="ED"/>
    <xsd:element name="CER.7" type="ID"/>
    <xsd:element name="CER.8" type="CWE"/>
    <xsd:element name="CER.9" type="CWE"/>
    <xsd:element name="CER.10" type="CWE"/>
    <xsd:element name="CER.11" type="CWE"/>
    <xsd:element name="CER.12" type="ID"/>
    <xsd:element name="CER.13" type="ST"/>
    <xsd:element name="CER.14" type="CWE"/>
    <xsd:element name="CER.15" type="CWE"/>
    <xsd:element name="CER.16" type="CWE"/>
    <xsd:element name="CER.17" type="ID"/>
    <xsd:element name="CER.18" type="CWE"/>
    <xsd:element name="CER.19" type="ID"/>
    <xsd:element name="CER.20" type="CWE"/>
    <xsd:element name="CER.21" type="CWE"/>
    <xsd:element name="CER.22" type="CWE"/>
    <xsd:element name="CER.23" type="TS"/>
    <xsd:element name="CER.24" type="TS"/>
    <xsd:element name="CER.25" type="TS"/>
    <xsd:element name="CER.26" type="TS"/>
    <xsd:element name="CER.27" type="TS"/>
    <xsd:element name="CER.28" type="TS"/>
    <xsd:element name="CER.29" type="TS"/>
    <xsd:element name="CER.30" type="CE"/>
    <xsd:element name="CER.31" type="CWE"/>
    <xsd:element name="OM1.1" type="NM"/>
    <xsd:element name="OM1.2" type="CE"/>
    <xsd:element name="OM1.3" type="ID"/>
    <xsd:element name="OM1.4" type="ID"/>
    <xsd:element name="OM1.5" type="CE"/>
    <xsd:element name="OM1.6" type="TX"/>
    <xsd:element name="OM1.7" type="CE"/>
    <xsd:element name="OM1.8" type="ST"/>
    <xsd:element name="OM1.9" type="ST"/>
    <xsd:element name="OM1.10" type="ST"/>
    <xsd:element name="OM1.11" type="ST"/>
    <xsd:element name="OM1.12" type="ID"/>
    <xsd:element name="OM1.13" type="CE"/>
    <xsd:element name="OM1.14" type="CE"/>
    <xsd:element name="OM1.15" type="ID"/>
    <xsd:element name="OM1.16" type="CE"/>
    <xsd:element name="OM1.17" type="XTN"/>
    <xsd:element name="OM1.18" type="IS"/>
    <xsd:element name="OM1.19" type="CE"/>
    <xsd:element name="OM1.20" type="ST"/>
    <xsd:element name="OM1.21" type="TS"/>
    <xsd:element name="OM1.22" type="TS"/>
    <xsd:element name="OM1.23" type="NM"/>
    <xsd:element name="OM1.24" type="NM"/>
    <xsd:element name="OM1.25" type="ID"/>
    <xsd:element name="OM1.26" type="ID"/>
    <xsd:element name="OM1.27" type="CE"/>
    <xsd:element name="OM1.28" type="XAD"/>
    <xsd:element name="OM1.29" type="XTN"/>
    <xsd:element name="OM1.30" type="CWE"/>
    <xsd:element name="OM1.31" type="CE"/>
    <xsd:element name="OM1.32" type="TX"/>
    <xsd:element name="OM1.33" type="CE"/>
    <xsd:element name="OM1.34" type="CE"/>
    <xsd:element name="OM1.35" type="TX"/>
    <xsd:element name="OM1.36" type="CE"/>
    <xsd:element name="OM1.37" type="TX"/>
    <xsd:element name="OM1.38" type="CE"/>
    <xsd:element name="OM1.39" type="TX"/>
    <xsd:element name="OM1.40" type="ST"/>
    <xsd:element name="OM1.41" type="TX"/>
    <xsd:element name="OM1.42" type="CE"/>
    <xsd:element name="OM1.43" type="CE"/>
    <xsd:element name="OM1.44" type="TX"/>
    <xsd:element name="OM1.45" type="CE"/>
    <xsd:element name="OM1.46" type="CE"/>
    <xsd:element name="OM1.47" type="CE"/>
    <xsd:element name="CDM.1" type="CE"/>
    <xsd:element name="CDM.2" type="CE"/>
    <xsd:element name="CDM.3" type="ST"/>
    <xsd:element name="CDM.4" type="ST"/>
    <xsd:element name="CDM.5" type="IS"/>
    <xsd:element name="CDM.6" type="CE"/>
    <xsd:element name="CDM.7" type="CE"/>
    <xsd:element name="CDM.8" type="ID"/>
    <xsd:element name="CDM.9" type="CE"/>
    <xsd:element name="CDM.10" type="NM"/>
    <xsd:element name="CDM.11" type="CX"/>
    <xsd:element name="CDM.12" type="XON"/>
    <xsd:element name="CDM.13" type="ID"/>
    <xsd:element name="PRC.1" type="CE"/>
    <xsd:element name="PRC.2" type="CE"/>
    <xsd:element name="PRC.3" type="CE"/>
    <xsd:element name="PRC.4" type="IS"/>
    <xsd:element name="PRC.5" type="CP"/>
    <xsd:element name="PRC.6" type="ST"/>
    <xsd:element name="PRC.7" type="NM"/>
    <xsd:element name="PRC.8" type="NM"/>
    <xsd:element name="PRC.9" type="MO"/>
    <xsd:element name="PRC.10" type="MO"/>
    <xsd:element name="PRC.11" type="TS"/>
    <xsd:element name="PRC.12" type="TS"/>
    <xsd:element name="PRC.13" type="IS"/>
    <xsd:element name="PRC.14" type="CE"/>
    <xsd:element name="PRC.15" type="ID"/>
    <xsd:element name="PRC.16" type="ID"/>
    <xsd:element name="PRC.17" type="MO"/>
    <xsd:element name="PRC.18" type="IS"/>
    <xsd:element name="LOC.1" type="PL"/>
    <xsd:element name="LOC.2" type="ST"/>
    <xsd:element name="LOC.3" type="IS"/>
    <xsd:element name="LOC.4" type="XON"/>
    <xsd:element name="LOC.5" type="XAD"/>
    <xsd:element name="LOC.6" type="XTN"/>
    <xsd:element name="LOC.7" type="CE"/>
    <xsd:element name="LOC.8" type="IS"/>
    <xsd:element name="LOC.9" type="IS"/>
    <xsd:element name="LCH.1" type="PL"/>
    <xsd:element name="LCH.2" type="ID"/>
    <xsd:element name="LCH.3" type="EI"/>
    <xsd:element name="LCH.4" type="CE"/>
    <xsd:element name="LCH.5" type="CE"/>
    <xsd:element name="LRL.1" type="PL"/>
    <xsd:element name="LRL.2" type="ID"/>
    <xsd:element name="LRL.3" type="EI"/>
    <xsd:element name="LRL.4" type="CE"/>
    <xsd:element name="LRL.5" type="XON"/>
    <xsd:element name="LRL.6" type="PL"/>
    <xsd:element name="LDP.1" type="PL"/>
    <xsd:element name="LDP.2" type="CE"/>
    <xsd:element name="LDP.3" type="IS"/>
    <xsd:element name="LDP.4" type="CE"/>
    <xsd:element name="LDP.5" type="IS"/>
    <xsd:element name="LDP.6" type="ID"/>
    <xsd:element name="LDP.7" type="TS"/>
    <xsd:element name="LDP.8" type="TS"/>
    <xsd:element name="LDP.9" type="ST"/>
    <xsd:element name="LDP.10" type="VH"/>
    <xsd:element name="LDP.11" type="XTN"/>
    <xsd:element name="LDP.12" type="CE"/>
    <xsd:element name="LCC.1" type="PL"/>
    <xsd:element name="LCC.2" type="CE"/>
    <xsd:element name="LCC.3" type="CE"/>
    <xsd:element name="LCC.4" type="CE"/>
    <xsd:element name="CM0.1" type="SI"/>
    <xsd:element name="CM0.2" type="EI"/>
    <xsd:element name="CM0.3" type="EI"/>
    <xsd:element name="CM0.4" type="ST"/>
    <xsd:element name="CM0.5" type="XCN"/>
    <xsd:element name="CM0.6" type="DT"/>
    <xsd:element name="CM0.7" type="NM"/>
    <xsd:element name="CM0.8" type="DT"/>
    <xsd:element name="CM0.9" type="XCN"/>
    <xsd:element name="CM0.10" type="XTN"/>
    <xsd:element name="CM0.11" type="XAD"/>
    <xsd:element name="CM1.1" type="SI"/>
    <xsd:element name="CM1.2" type="CE"/>
    <xsd:element name="CM1.3" type="ST"/>
    <xsd:element name="CM2.1" type="SI"/>
    <xsd:element name="CM2.2" type="CE"/>
    <xsd:element name="CM2.3" type="ST"/>
    <xsd:element name="CM2.4" type="CE"/>
    <xsd:element name="OM2.1" type="NM"/>
    <xsd:element name="OM2.2" type="CE"/>
    <xsd:element name="OM2.3" type="NM"/>
    <xsd:element name="OM2.4" type="CE"/>
    <xsd:element name="OM2.5" type="TX"/>
    <xsd:element name="OM2.6" type="RFR"/>
    <xsd:element name="OM2.7" type="RFR"/>
    <xsd:element name="OM2.8" type="RFR"/>
    <xsd:element name="OM2.9" type="DLT"/>
    <xsd:element name="OM2.10" type="NM"/>
    <xsd:element name="OM3.1" type="NM"/>
    <xsd:element name="OM3.2" type="CE"/>
    <xsd:element name="OM3.3" type="CE"/>
    <xsd:element name="OM3.4" type="CE"/>
    <xsd:element name="OM3.5" type="CE"/>
    <xsd:element name="OM3.6" type="CE"/>
    <xsd:element name="OM3.7" type="ID"/>
    <xsd:element name="OM4.1" type="NM"/>
    <xsd:element name="OM4.2" type="ID"/>
    <xsd:element name="OM4.3" type="TX"/>
    <xsd:element name="OM4.4" type="NM"/>
    <xsd:element name="OM4.5" type="CE"/>
    <xsd:element name="OM4.6" type="CE"/>
    <xsd:element name="OM4.7" type="CWE"/>
    <xsd:element name="OM4.8" type="TX"/>
    <xsd:element name="OM4.9" type="TX"/>
    <xsd:element name="OM4.10" type="CQ"/>
    <xsd:element name="OM4.11" type="CQ"/>
    <xsd:element name="OM4.12" type="TX"/>
    <xsd:element name="OM4.13" type="ID"/>
    <xsd:element name="OM4.14" type="CQ"/>
    <xsd:element name="OM5.1" type="NM"/>
    <xsd:element name="OM5.2" type="CE"/>
    <xsd:element name="OM5.3" type="ST"/>
    <xsd:element name="OM6.1" type="NM"/>
    <xsd:element name="OM6.2" type="TX"/>
    <xsd:element name="OM7.1" type="NM"/>
    <xsd:element name="OM7.2" type="CE"/>
    <xsd:element name="OM7.3" type="CE"/>
    <xsd:element name="OM7.4" type="TX"/>
    <xsd:element name="OM7.5" type="ST"/>
    <xsd:element name="OM7.6" type="TS"/>
    <xsd:element name="OM7.7" type="TS"/>
    <xsd:element name="OM7.8" type="NM"/>
    <xsd:element name="OM7.9" type="CE"/>
    <xsd:element name="OM7.10" type="IS"/>
    <xsd:element name="OM7.11" type="ID"/>
    <xsd:element name="OM7.12" type="CE"/>
    <xsd:element name="OM7.13" type="TS"/>
    <xsd:element name="OM7.14" type="TS"/>
    <xsd:element name="OM7.15" type="NM"/>
    <xsd:element name="OM7.16" type="CE"/>
    <xsd:element name="OM7.17" type="NM"/>
    <xsd:element name="OM7.18" type="CE"/>
    <xsd:element name="OM7.19" type="TS"/>
    <xsd:element name="OM7.20" type="XCN"/>
    <xsd:element name="OM7.21" type="PL"/>
    <xsd:element name="OM7.22" type="IS"/>
    <xsd:element name="OM7.23" type="ID"/>
    <xsd:element name="OM7.24" type="CE"/>
    <xsd:element name="IIM.1" type="CWE"/>
    <xsd:element name="IIM.2" type="CWE"/>
    <xsd:element name="IIM.3" type="ST"/>
    <xsd:element name="IIM.4" type="TS"/>
    <xsd:element name="IIM.5" type="CWE"/>
    <xsd:element name="IIM.6" type="CWE"/>
    <xsd:element name="IIM.7" type="TS"/>
    <xsd:element name="IIM.8" type="NM"/>
    <xsd:element name="IIM.9" type="CWE"/>
    <xsd:element name="IIM.10" type="MO"/>
    <xsd:element name="IIM.11" type="TS"/>
    <xsd:element name="IIM.12" type="NM"/>
    <xsd:element name="IIM.13" type="CWE"/>
    <xsd:element name="IIM.14" type="CE"/>
    <xsd:element name="IIM.15" type="CE"/>
    <xsd:element name="NCK.1" type="TS"/>
    <xsd:element name="NST.1" type="ID"/>
    <xsd:element name="NST.2" type="ST"/>
    <xsd:element name="NST.3" type="ID"/>
    <xsd:element name="NST.4" type="TS"/>
    <xsd:element name="NST.5" type="TS"/>
    <xsd:element name="NST.6" type="NM"/>
    <xsd:element name="NST.7" type="NM"/>
    <xsd:element name="NST.8" type="NM"/>
    <xsd:element name="NST.9" type="NM"/>
    <xsd:element name="NST.10" type="NM"/>
    <xsd:element name="NST.11" type="NM"/>
    <xsd:element name="NST.12" type="NM"/>
    <xsd:element name="NST.13" type="NM"/>
    <xsd:element name="NST.14" type="NM"/>
    <xsd:element name="NST.15" type="NM"/>
    <xsd:element name="NSC.1" type="IS"/>
    <xsd:element name="NSC.2" type="ST"/>
    <xsd:element name="NSC.3" type="ST"/>
    <xsd:element name="NSC.4" type="HD"/>
    <xsd:element name="NSC.5" type="HD"/>
    <xsd:element name="NSC.6" type="ST"/>
    <xsd:element name="NSC.7" type="ST"/>
    <xsd:element name="NSC.8" type="HD"/>
    <xsd:element name="NSC.9" type="HD"/>
    <xsd:element name="BLG.1" type="CCD"/>
    <xsd:element name="BLG.2" type="ID"/>
    <xsd:element name="BLG.3" type="CX"/>
    <xsd:element name="BLG.4" type="CWE"/>
    <xsd:element name="ODS.1" type="ID"/>
    <xsd:element name="ODS.2" type="CE"/>
    <xsd:element name="ODS.3" type="CE"/>
    <xsd:element name="ODS.4" type="ST"/>
    <xsd:element name="ODT.1" type="CE"/>
    <xsd:element name="ODT.2" type="CE"/>
    <xsd:element name="ODT.3" type="ST"/>
    <xsd:element name="CTD.1" type="CE"/>
    <xsd:element name="CTD.2" type="XPN"/>
    <xsd:element name="CTD.3" type="XAD"/>
    <xsd:element name="CTD.4" type="PL"/>
    <xsd:element name="CTD.5" type="XTN"/>
    <xsd:element name="CTD.6" type="CE"/>
    <xsd:element name="CTD.7" type="PLN"/>
    <xsd:element name="CTI.1" type="EI"/>
    <xsd:element name="CTI.2" type="CE"/>
    <xsd:element name="CTI.3" type="CE"/>
    <xsd:element name="IPC.1" type="EI"/>
    <xsd:element name="IPC.2" type="EI"/>
    <xsd:element name="IPC.3" type="EI"/>
    <xsd:element name="IPC.4" type="EI"/>
    <xsd:element name="IPC.5" type="CE"/>
    <xsd:element name="IPC.6" type="CE"/>
    <xsd:element name="IPC.7" type="EI"/>
    <xsd:element name="IPC.8" type="CE"/>
    <xsd:element name="IPC.9" type="ST"/>
    <xsd:element name="TCD.1" type="CE"/>
    <xsd:element name="TCD.2" type="SN"/>
    <xsd:element name="TCD.3" type="SN"/>
    <xsd:element name="TCD.4" type="SN"/>
    <xsd:element name="TCD.5" type="SN"/>
    <xsd:element name="TCD.6" type="ID"/>
    <xsd:element name="TCD.7" type="ID"/>
    <xsd:element name="TCD.8" type="CE"/>
    <xsd:element name="RQD.1" type="SI"/>
    <xsd:element name="RQD.2" type="CE"/>
    <xsd:element name="RQD.3" type="CE"/>
    <xsd:element name="RQD.4" type="CE"/>
    <xsd:element name="RQD.5" type="NM"/>
    <xsd:element name="RQD.6" type="CE"/>
    <xsd:element name="RQD.7" type="IS"/>
    <xsd:element name="RQD.8" type="IS"/>
    <xsd:element name="RQD.9" type="CE"/>
    <xsd:element name="RQD.10" type="DT"/>
    <xsd:element name="RQ1.1" type="ST"/>
    <xsd:element name="RQ1.2" type="CE"/>
    <xsd:element name="RQ1.3" type="ST"/>
    <xsd:element name="RQ1.4" type="CE"/>
    <xsd:element name="RQ1.5" type="ST"/>
    <xsd:element name="RQ1.6" type="ID"/>
    <xsd:element name="RQ1.7" type="ID"/>
    <xsd:element name="RXO.1" type="CE"/>
    <xsd:element name="RXO.2" type="NM"/>
    <xsd:element name="RXO.3" type="NM"/>
    <xsd:element name="RXO.4" type="CE"/>
    <xsd:element name="RXO.5" type="CE"/>
    <xsd:element name="RXO.6" type="CE"/>
    <xsd:element name="RXO.7" type="CE"/>
    <xsd:element name="RXO.8" type="LA1"/>
    <xsd:element name="RXO.9" type="ID"/>
    <xsd:element name="RXO.10" type="CE"/>
    <xsd:element name="RXO.11" type="NM"/>
    <xsd:element name="RXO.12" type="CE"/>
    <xsd:element name="RXO.13" type="NM"/>
    <xsd:element name="RXO.14" type="XCN"/>
    <xsd:element name="RXO.15" type="XCN"/>
    <xsd:element name="RXO.16" type="ID"/>
    <xsd:element name="RXO.17" type="ST"/>
    <xsd:element name="RXO.18" type="NM"/>
    <xsd:element name="RXO.19" type="CE"/>
    <xsd:element name="RXO.20" type="CE"/>
    <xsd:element name="RXO.21" type="ST"/>
    <xsd:element name="RXO.22" type="CE"/>
    <xsd:element name="RXO.23" type="CQ"/>
    <xsd:element name="RXO.24" type="CE"/>
    <xsd:element name="RXO.25" type="NM"/>
    <xsd:element name="RXO.26" type="CWE"/>
    <xsd:element name="RXO.27" type="ID"/>
    <xsd:element name="RXO.28" type="NM"/>
    <xsd:element name="RXC.1" type="ID"/>
    <xsd:element name="RXC.2" type="CE"/>
    <xsd:element name="RXC.3" type="NM"/>
    <xsd:element name="RXC.4" type="CE"/>
    <xsd:element name="RXC.5" type="NM"/>
    <xsd:element name="RXC.6" type="CE"/>
    <xsd:element name="RXC.7" type="CE"/>
    <xsd:element name="RXC.8" type="NM"/>
    <xsd:element name="RXC.9" type="CWE"/>
    <xsd:element name="SID.1" type="CE"/>
    <xsd:element name="SID.2" type="ST"/>
    <xsd:element name="SID.3" type="ST"/>
    <xsd:element name="SID.4" type="CE"/>
    <xsd:element name="PES.1" type="XON"/>
    <xsd:element name="PES.2" type="XCN"/>
    <xsd:element name="PES.3" type="XAD"/>
    <xsd:element name="PES.4" type="XTN"/>
    <xsd:element name="PES.5" type="EI"/>
    <xsd:element name="PES.6" type="NM"/>
    <xsd:element name="PES.7" type="FT"/>
    <xsd:element name="PES.8" type="FT"/>
    <xsd:element name="PES.9" type="TS"/>
    <xsd:element name="PES.10" type="TS"/>
    <xsd:element name="PES.11" type="ID"/>
    <xsd:element name="PES.12" type="ID"/>
    <xsd:element name="PES.13" type="ID"/>
    <xsd:element name="PEO.1" type="CE"/>
    <xsd:element name="PEO.2" type="CE"/>
    <xsd:element name="PEO.3" type="TS"/>
    <xsd:element name="PEO.4" type="TS"/>
    <xsd:element name="PEO.5" type="TS"/>
    <xsd:element name="PEO.6" type="TS"/>
    <xsd:element name="PEO.7" type="XAD"/>
    <xsd:element name="PEO.8" type="ID"/>
    <xsd:element name="PEO.9" type="ID"/>
    <xsd:element name="PEO.10" type="ID"/>
    <xsd:element name="PEO.11" type="ID"/>
    <xsd:element name="PEO.12" type="ID"/>
    <xsd:element name="PEO.13" type="FT"/>
    <xsd:element name="PEO.14" type="FT"/>
    <xsd:element name="PEO.15" type="FT"/>
    <xsd:element name="PEO.16" type="FT"/>
    <xsd:element name="PEO.17" type="FT"/>
    <xsd:element name="PEO.18" type="CE"/>
    <xsd:element name="PEO.19" type="XPN"/>
    <xsd:element name="PEO.20" type="XAD"/>
    <xsd:element name="PEO.21" type="XTN"/>
    <xsd:element name="PEO.22" type="ID"/>
    <xsd:element name="PEO.23" type="ID"/>
    <xsd:element name="PEO.24" type="TS"/>
    <xsd:element name="PEO.25" type="ID"/>
    <xsd:element name="PCR.1" type="CE"/>
    <xsd:element name="PCR.2" type="IS"/>
    <xsd:element name="PCR.3" type="CE"/>
    <xsd:element name="PCR.4" type="CQ"/>
    <xsd:element name="PCR.5" type="TS"/>
    <xsd:element name="PCR.6" type="TS"/>
    <xsd:element name="PCR.7" type="TS"/>
    <xsd:element name="PCR.8" type="TS"/>
    <xsd:element name="PCR.9" type="IS"/>
    <xsd:element name="PCR.10" type="CE"/>
    <xsd:element name="PCR.11" type="IS"/>
    <xsd:element name="PCR.12" type="ST"/>
    <xsd:element name="PCR.13" type="IS"/>
    <xsd:element name="PCR.14" type="CE"/>
    <xsd:element name="PCR.15" type="CE"/>
    <xsd:element name="PCR.16" type="CE"/>
    <xsd:element name="PCR.17" type="ID"/>
    <xsd:element name="PCR.18" type="TS"/>
    <xsd:element name="PCR.19" type="ID"/>
    <xsd:element name="PCR.20" type="ID"/>
    <xsd:element name="PCR.21" type="ID"/>
    <xsd:element name="PCR.22" type="ID"/>
    <xsd:element name="PCR.23" type="ID"/>
    <xsd:element name="RXE.1" type="TQ"/>
    <xsd:element name="RXE.2" type="CE"/>
    <xsd:element name="RXE.3" type="NM"/>
    <xsd:element name="RXE.4" type="NM"/>
    <xsd:element name="RXE.5" type="CE"/>
    <xsd:element name="RXE.6" type="CE"/>
    <xsd:element name="RXE.7" type="CE"/>
    <xsd:element name="RXE.8" type="LA1"/>
    <xsd:element name="RXE.9" type="ID"/>
    <xsd:element name="RXE.10" type="NM"/>
    <xsd:element name="RXE.11" type="CE"/>
    <xsd:element name="RXE.12" type="NM"/>
    <xsd:element name="RXE.13" type="XCN"/>
    <xsd:element name="RXE.14" type="XCN"/>
    <xsd:element name="RXE.15" type="ST"/>
    <xsd:element name="RXE.16" type="NM"/>
    <xsd:element name="RXE.17" type="NM"/>
    <xsd:element name="RXE.18" type="TS"/>
    <xsd:element name="RXE.19" type="CQ"/>
    <xsd:element name="RXE.20" type="ID"/>
    <xsd:element name="RXE.21" type="CE"/>
    <xsd:element name="RXE.22" type="ST"/>
    <xsd:element name="RXE.23" type="ST"/>
    <xsd:element name="RXE.24" type="CE"/>
    <xsd:element name="RXE.25" type="NM"/>
    <xsd:element name="RXE.26" type="CE"/>
    <xsd:element name="RXE.27" type="CE"/>
    <xsd:element name="RXE.28" type="NM"/>
    <xsd:element name="RXE.29" type="CE"/>
    <xsd:element name="RXE.30" type="ID"/>
    <xsd:element name="RXE.31" type="CE"/>
    <xsd:element name="RXE.32" type="TS"/>
    <xsd:element name="RXE.33" type="NM"/>
    <xsd:element name="RXE.34" type="CWE"/>
    <xsd:element name="RXE.35" type="CWE"/>
    <xsd:element name="RXE.36" type="ID"/>
    <xsd:element name="RXE.37" type="CWE"/>
    <xsd:element name="RXE.38" type="CWE"/>
    <xsd:element name="RXE.39" type="NM"/>
    <xsd:element name="RXE.40" type="CWE"/>
    <xsd:element name="RXE.41" type="XAD"/>
    <xsd:element name="RXE.42" type="PL"/>
    <xsd:element name="RXE.43" type="XAD"/>
    <xsd:element name="RXE.44" type="ID"/>
    <xsd:element name="PRB.1" type="ID"/>
    <xsd:element name="PRB.2" type="TS"/>
    <xsd:element name="PRB.3" type="CE"/>
    <xsd:element name="PRB.4" type="EI"/>
    <xsd:element name="PRB.5" type="EI"/>
    <xsd:element name="PRB.6" type="NM"/>
    <xsd:element name="PRB.7" type="TS"/>
    <xsd:element name="PRB.8" type="TS"/>
    <xsd:element name="PRB.9" type="TS"/>
    <xsd:element name="PRB.10" type="CE"/>
    <xsd:element name="PRB.11" type="CE"/>
    <xsd:element name="PRB.12" type="CE"/>
    <xsd:element name="PRB.13" type="CE"/>
    <xsd:element name="PRB.14" type="CE"/>
    <xsd:element name="PRB.15" type="TS"/>
    <xsd:element name="PRB.16" type="TS"/>
    <xsd:element name="PRB.17" type="ST"/>
    <xsd:element name="PRB.18" type="CE"/>
    <xsd:element name="PRB.19" type="CE"/>
    <xsd:element name="PRB.20" type="NM"/>
    <xsd:element name="PRB.21" type="CE"/>
    <xsd:element name="PRB.22" type="CE"/>
    <xsd:element name="PRB.23" type="CE"/>
    <xsd:element name="PRB.24" type="ST"/>
    <xsd:element name="PRB.25" type="CE"/>
    <xsd:element name="GOL.1" type="ID"/>
    <xsd:element name="GOL.2" type="TS"/>
    <xsd:element name="GOL.3" type="CE"/>
    <xsd:element name="GOL.4" type="EI"/>
    <xsd:element name="GOL.5" type="EI"/>
    <xsd:element name="GOL.6" type="NM"/>
    <xsd:element name="GOL.7" type="TS"/>
    <xsd:element name="GOL.8" type="TS"/>
    <xsd:element name="GOL.9" type="CE"/>
    <xsd:element name="GOL.10" type="CE"/>
    <xsd:element name="GOL.11" type="CE"/>
    <xsd:element name="GOL.12" type="TS"/>
    <xsd:element name="GOL.13" type="TS"/>
    <xsd:element name="GOL.14" type="TS"/>
    <xsd:element name="GOL.15" type="TQ"/>
    <xsd:element name="GOL.16" type="CE"/>
    <xsd:element name="GOL.17" type="ST"/>
    <xsd:element name="GOL.18" type="CE"/>
    <xsd:element name="GOL.19" type="TS"/>
    <xsd:element name="GOL.20" type="CE"/>
    <xsd:element name="GOL.21" type="XPN"/>
    <xsd:element name="VAR.1" type="EI"/>
    <xsd:element name="VAR.2" type="TS"/>
    <xsd:element name="VAR.3" type="TS"/>
    <xsd:element name="VAR.4" type="XCN"/>
    <xsd:element name="VAR.5" type="CE"/>
    <xsd:element name="VAR.6" type="ST"/>
    <xsd:element name="PTH.1" type="ID"/>
    <xsd:element name="PTH.2" type="CE"/>
    <xsd:element name="PTH.3" type="EI"/>
    <xsd:element name="PTH.4" type="TS"/>
    <xsd:element name="PTH.5" type="CE"/>
    <xsd:element name="PTH.6" type="TS"/>
    <xsd:element name="QPD.1" type="CE"/>
    <xsd:element name="QPD.2" type="ST"/>
    <xsd:element name="QPD.3" type="GenericPrimitive"/>
    <xsd:element name="RDF.1" type="NM"/>
    <xsd:element name="RDF.2" type="RCD"/>
    <xsd:element name="RDT.1" type="GenericPrimitive"/>
    <xsd:element name="RCP.1" type="ID"/>
    <xsd:element name="RCP.2" type="CQ"/>
    <xsd:element name="RCP.3" type="CE"/>
    <xsd:element name="RCP.4" type="TS"/>
    <xsd:element name="RCP.5" type="ID"/>
    <xsd:element name="RCP.6" type="SRT"/>
    <xsd:element name="RCP.7" type="ID"/>
    <xsd:element name="QID.1" type="ST"/>
    <xsd:element name="QID.2" type="CE"/>
    <xsd:element name="PRD.1" type="CE"/>
    <xsd:element name="PRD.2" type="XPN"/>
    <xsd:element name="PRD.3" type="XAD"/>
    <xsd:element name="PRD.4" type="PL"/>
    <xsd:element name="PRD.5" type="XTN"/>
    <xsd:element name="PRD.6" type="CE"/>
    <xsd:element name="PRD.7" type="PLN"/>
    <xsd:element name="PRD.8" type="TS"/>
    <xsd:element name="PRD.9" type="TS"/>
    <xsd:element name="RXD.1" type="NM"/>
    <xsd:element name="RXD.2" type="CE"/>
    <xsd:element name="RXD.3" type="TS"/>
    <xsd:element name="RXD.4" type="NM"/>
    <xsd:element name="RXD.5" type="CE"/>
    <xsd:element name="RXD.6" type="CE"/>
    <xsd:element name="RXD.7" type="ST"/>
    <xsd:element name="RXD.8" type="NM"/>
    <xsd:element name="RXD.9" type="ST"/>
    <xsd:element name="RXD.10" type="XCN"/>
    <xsd:element name="RXD.11" type="ID"/>
    <xsd:element name="RXD.12" type="CQ"/>
    <xsd:element name="RXD.13" type="LA2"/>
    <xsd:element name="RXD.14" type="ID"/>
    <xsd:element name="RXD.15" type="CE"/>
    <xsd:element name="RXD.16" type="NM"/>
    <xsd:element name="RXD.17" type="CE"/>
    <xsd:element name="RXD.18" type="ST"/>
    <xsd:element name="RXD.19" type="TS"/>
    <xsd:element name="RXD.20" type="CE"/>
    <xsd:element name="RXD.21" type="CE"/>
    <xsd:element name="RXD.22" type="NM"/>
    <xsd:element name="RXD.23" type="CE"/>
    <xsd:element name="RXD.24" type="ID"/>
    <xsd:element name="RXD.25" type="CE"/>
    <xsd:element name="RXD.26" type="CE"/>
    <xsd:element name="RXD.27" type="CE"/>
    <xsd:element name="RXD.28" type="NM"/>
    <xsd:element name="RXD.29" type="CWE"/>
    <xsd:element name="RXD.30" type="CWE"/>
    <xsd:element name="RXD.31" type="XAD"/>
    <xsd:element name="RXD.32" type="ID"/>
    <xsd:element name="RXD.33" type="CWE"/>
    <xsd:element name="RF1.1" type="CE"/>
    <xsd:element name="RF1.2" type="CE"/>
    <xsd:element name="RF1.3" type="CE"/>
    <xsd:element name="RF1.4" type="CE"/>
    <xsd:element name="RF1.5" type="CE"/>
    <xsd:element name="RF1.6" type="EI"/>
    <xsd:element name="RF1.7" type="TS"/>
    <xsd:element name="RF1.8" type="TS"/>
    <xsd:element name="RF1.9" type="TS"/>
    <xsd:element name="RF1.10" type="CE"/>
    <xsd:element name="RF1.11" type="EI"/>
    <xsd:element name="AUT.1" type="CE"/>
    <xsd:element name="AUT.2" type="CE"/>
    <xsd:element name="AUT.3" type="ST"/>
    <xsd:element name="AUT.4" type="TS"/>
    <xsd:element name="AUT.5" type="TS"/>
    <xsd:element name="AUT.6" type="EI"/>
    <xsd:element name="AUT.7" type="CP"/>
    <xsd:element name="AUT.8" type="NM"/>
    <xsd:element name="AUT.9" type="NM"/>
    <xsd:element name="AUT.10" type="TS"/>
    <xsd:element name="RXG.1" type="NM"/>
    <xsd:element name="RXG.2" type="NM"/>
    <xsd:element name="RXG.3" type="TQ"/>
    <xsd:element name="RXG.4" type="CE"/>
    <xsd:element name="RXG.5" type="NM"/>
    <xsd:element name="RXG.6" type="NM"/>
    <xsd:element name="RXG.7" type="CE"/>
    <xsd:element name="RXG.8" type="CE"/>
    <xsd:element name="RXG.9" type="CE"/>
    <xsd:element name="RXG.10" type="ID"/>
    <xsd:element name="RXG.11" type="LA2"/>
    <xsd:element name="RXG.12" type="ID"/>
    <xsd:element name="RXG.13" type="CE"/>
    <xsd:element name="RXG.14" type="ST"/>
    <xsd:element name="RXG.15" type="ST"/>
    <xsd:element name="RXG.16" type="CE"/>
    <xsd:element name="RXG.17" type="NM"/>
    <xsd:element name="RXG.18" type="CE"/>
    <xsd:element name="RXG.19" type="ST"/>
    <xsd:element name="RXG.20" type="TS"/>
    <xsd:element name="RXG.21" type="CE"/>
    <xsd:element name="RXG.22" type="CE"/>
    <xsd:element name="RXG.23" type="NM"/>
    <xsd:element name="RXG.24" type="CWE"/>
    <xsd:element name="RXG.25" type="CWE"/>
    <xsd:element name="RXG.26" type="ID"/>
    <xsd:element name="QRI.1" type="NM"/>
    <xsd:element name="QRI.2" type="IS"/>
    <xsd:element name="QRI.3" type="CE"/>
    <xsd:element name="SCH.1" type="EI"/>
    <xsd:element name="SCH.2" type="EI"/>
    <xsd:element name="SCH.3" type="NM"/>
    <xsd:element name="SCH.4" type="EI"/>
    <xsd:element name="SCH.5" type="CE"/>
    <xsd:element name="SCH.6" type="CE"/>
    <xsd:element name="SCH.7" type="CE"/>
    <xsd:element name="SCH.8" type="CE"/>
    <xsd:element name="SCH.9" type="NM"/>
    <xsd:element name="SCH.10" type="CE"/>
    <xsd:element name="SCH.11" type="TQ"/>
    <xsd:element name="SCH.12" type="XCN"/>
    <xsd:element name="SCH.13" type="XTN"/>
    <xsd:element name="SCH.14" type="XAD"/>
    <xsd:element name="SCH.15" type="PL"/>
    <xsd:element name="SCH.16" type="XCN"/>
    <xsd:element name="SCH.17" type="XTN"/>
    <xsd:element name="SCH.18" type="XAD"/>
    <xsd:element name="SCH.19" type="PL"/>
    <xsd:element name="SCH.20" type="XCN"/>
    <xsd:element name="SCH.21" type="XTN"/>
    <xsd:element name="SCH.22" type="PL"/>
    <xsd:element name="SCH.23" type="EI"/>
    <xsd:element name="SCH.24" type="EI"/>
    <xsd:element name="SCH.25" type="CE"/>
    <xsd:element name="SCH.26" type="EI"/>
    <xsd:element name="SCH.27" type="EI"/>
    <xsd:element name="RGS.1" type="SI"/>
    <xsd:element name="RGS.2" type="ID"/>
    <xsd:element name="RGS.3" type="CE"/>
    <xsd:element name="AIS.1" type="SI"/>
    <xsd:element name="AIS.2" type="ID"/>
    <xsd:element name="AIS.3" type="CE"/>
    <xsd:element name="AIS.4" type="TS"/>
    <xsd:element name="AIS.5" type="NM"/>
    <xsd:element name="AIS.6" type="CE"/>
    <xsd:element name="AIS.7" type="NM"/>
    <xsd:element name="AIS.8" type="CE"/>
    <xsd:element name="AIS.9" type="IS"/>
    <xsd:element name="AIS.10" type="CE"/>
    <xsd:element name="AIS.11" type="CE"/>
    <xsd:element name="AIS.12" type="CE"/>
    <xsd:element name="AIG.1" type="SI"/>
    <xsd:element name="AIG.2" type="ID"/>
    <xsd:element name="AIG.3" type="CE"/>
    <xsd:element name="AIG.4" type="CE"/>
    <xsd:element name="AIG.5" type="CE"/>
    <xsd:element name="AIG.6" type="NM"/>
    <xsd:element name="AIG.7" type="CE"/>
    <xsd:element name="AIG.8" type="TS"/>
    <xsd:element name="AIG.9" type="NM"/>
    <xsd:element name="AIG.10" type="CE"/>
    <xsd:element name="AIG.11" type="NM"/>
    <xsd:element name="AIG.12" type="CE"/>
    <xsd:element name="AIG.13" type="IS"/>
    <xsd:element name="AIG.14" type="CE"/>
    <xsd:element name="AIL.1" type="SI"/>
    <xsd:element name="AIL.2" type="ID"/>
    <xsd:element name="AIL.3" type="PL"/>
    <xsd:element name="AIL.4" type="CE"/>
    <xsd:element name="AIL.5" type="CE"/>
    <xsd:element name="AIL.6" type="TS"/>
    <xsd:element name="AIL.7" type="NM"/>
    <xsd:element name="AIL.8" type="CE"/>
    <xsd:element name="AIL.9" type="NM"/>
    <xsd:element name="AIL.10" type="CE"/>
    <xsd:element name="AIL.11" type="IS"/>
    <xsd:element name="AIL.12" type="CE"/>
    <xsd:element name="AIP.1" type="SI"/>
    <xsd:element name="AIP.2" type="ID"/>
    <xsd:element name="AIP.3" type="XCN"/>
    <xsd:element name="AIP.4" type="CE"/>
    <xsd:element name="AIP.5" type="CE"/>
    <xsd:element name="AIP.6" type="TS"/>
    <xsd:element name="AIP.7" type="NM"/>
    <xsd:element name="AIP.8" type="CE"/>
    <xsd:element name="AIP.9" type="NM"/>
    <xsd:element name="AIP.10" type="CE"/>
    <xsd:element name="AIP.11" type="IS"/>
    <xsd:element name="AIP.12" type="CE"/>
    <xsd:element name="SPR.1" type="ST"/>
    <xsd:element name="SPR.2" type="ID"/>
    <xsd:element name="SPR.3" type="CE"/>
    <xsd:element name="SPR.4" type="QIP"/>
    <xsd:element name="ARQ.1" type="EI"/>
    <xsd:element name="ARQ.2" type="EI"/>
    <xsd:element name="ARQ.3" type="NM"/>
    <xsd:element name="ARQ.4" type="EI"/>
    <xsd:element name="ARQ.5" type="CE"/>
    <xsd:element name="ARQ.6" type="CE"/>
    <xsd:element name="ARQ.7" type="CE"/>
    <xsd:element name="ARQ.8" type="CE"/>
    <xsd:element name="ARQ.9" type="NM"/>
    <xsd:element name="ARQ.10" type="CE"/>
    <xsd:element name="ARQ.11" type="DR"/>
    <xsd:element name="ARQ.12" type="ST"/>
    <xsd:element name="ARQ.13" type="RI"/>
    <xsd:element name="ARQ.14" type="ST"/>
    <xsd:element name="ARQ.15" type="XCN"/>
    <xsd:element name="ARQ.16" type="XTN"/>
    <xsd:element name="ARQ.17" type="XAD"/>
    <xsd:element name="ARQ.18" type="PL"/>
    <xsd:element name="ARQ.19" type="XCN"/>
    <xsd:element name="ARQ.20" type="XTN"/>
    <xsd:element name="ARQ.21" type="PL"/>
    <xsd:element name="ARQ.22" type="EI"/>
    <xsd:element name="ARQ.23" type="EI"/>
    <xsd:element name="ARQ.24" type="EI"/>
    <xsd:element name="ARQ.25" type="EI"/>
    <xsd:element name="APR.1" type="SCV"/>
    <xsd:element name="APR.2" type="SCV"/>
    <xsd:element name="APR.3" type="SCV"/>
    <xsd:element name="APR.4" type="NM"/>
    <xsd:element name="APR.5" type="SCV"/>
    <xsd:element name="FAC.1" type="EI"/>
    <xsd:element name="FAC.2" type="ID"/>
    <xsd:element name="FAC.3" type="XAD"/>
    <xsd:element name="FAC.4" type="XTN"/>
    <xsd:element name="FAC.5" type="XCN"/>
    <xsd:element name="FAC.6" type="ST"/>
    <xsd:element name="FAC.7" type="XAD"/>
    <xsd:element name="FAC.8" type="XTN"/>
    <xsd:element name="FAC.9" type="XCN"/>
    <xsd:element name="FAC.10" type="ST"/>
    <xsd:element name="FAC.11" type="XAD"/>
    <xsd:element name="FAC.12" type="XTN"/>
    <xsd:element name="PSH.1" type="ST"/>
    <xsd:element name="PSH.2" type="ST"/>
    <xsd:element name="PSH.3" type="TS"/>
    <xsd:element name="PSH.4" type="TS"/>
    <xsd:element name="PSH.5" type="TS"/>
    <xsd:element name="PSH.6" type="CQ"/>
    <xsd:element name="PSH.7" type="CQ"/>
    <xsd:element name="PSH.8" type="ID"/>
    <xsd:element name="PSH.9" type="FT"/>
    <xsd:element name="PSH.10" type="CQ"/>
    <xsd:element name="PSH.11" type="ID"/>
    <xsd:element name="PSH.12" type="FT"/>
    <xsd:element name="PSH.13" type="NM"/>
    <xsd:element name="PSH.14" type="NM"/>
    <xsd:element name="PDC.1" type="XON"/>
    <xsd:element name="PDC.2" type="CE"/>
    <xsd:element name="PDC.3" type="ST"/>
    <xsd:element name="PDC.4" type="ST"/>
    <xsd:element name="PDC.5" type="CE"/>
    <xsd:element name="PDC.6" type="ST"/>
    <xsd:element name="PDC.7" type="ST"/>
    <xsd:element name="PDC.8" type="ST"/>
    <xsd:element name="PDC.9" type="CE"/>
    <xsd:element name="PDC.10" type="ID"/>
    <xsd:element name="PDC.11" type="ST"/>
    <xsd:element name="PDC.12" type="CQ"/>
    <xsd:element name="PDC.13" type="CQ"/>
    <xsd:element name="PDC.14" type="TS"/>
    <xsd:element name="PDC.15" type="TS"/>
    <xsd:element name="TCC.1" type="CE"/>
    <xsd:element name="TCC.2" type="EI"/>
    <xsd:element name="TCC.3" type="SPS"/>
    <xsd:element name="TCC.4" type="SN"/>
    <xsd:element name="TCC.5" type="SN"/>
    <xsd:element name="TCC.6" type="SN"/>
    <xsd:element name="TCC.7" type="SN"/>
    <xsd:element name="TCC.8" type="NM"/>
    <xsd:element name="TCC.9" type="ID"/>
    <xsd:element name="TCC.10" type="ID"/>
    <xsd:element name="TCC.11" type="ID"/>
    <xsd:element name="TCC.12" type="SN"/>
    <xsd:element name="TCC.13" type="CE"/>
    <xsd:element name="TCC.14" type="CE"/>
    <xsd:element name="URD.1" type="TS"/>
    <xsd:element name="URD.2" type="ID"/>
    <xsd:element name="URD.3" type="XCN"/>
    <xsd:element name="URD.4" type="CE"/>
    <xsd:element name="URD.5" type="CE"/>
    <xsd:element name="URD.6" type="ST"/>
    <xsd:element name="URD.7" type="ID"/>
    <xsd:element name="URS.1" type="ST"/>
    <xsd:element name="URS.2" type="TS"/>
    <xsd:element name="URS.3" type="TS"/>
    <xsd:element name="URS.4" type="ST"/>
    <xsd:element name="URS.5" type="ST"/>
    <xsd:element name="URS.6" type="ID"/>
    <xsd:element name="URS.7" type="ID"/>
    <xsd:element name="URS.8" type="ID"/>
    <xsd:element name="URS.9" type="TQ"/>
    <xsd:element name="VTQ.1" type="ST"/>
    <xsd:element name="VTQ.2" type="ID"/>
    <xsd:element name="VTQ.3" type="CE"/>
    <xsd:element name="VTQ.4" type="CE"/>
    <xsd:element name="VTQ.5" type="QSC"/>
    <xsd:element name="PDA.1" type="CE"/>
    <xsd:element name="PDA.2" type="PL"/>
    <xsd:element name="PDA.3" type="ID"/>
    <xsd:element name="PDA.4" type="TS"/>
    <xsd:element name="PDA.5" type="XCN"/>
    <xsd:element name="PDA.6" type="ID"/>
    <xsd:element name="PDA.7" type="DR"/>
    <xsd:element name="PDA.8" type="XCN"/>
    <xsd:element name="PDA.9" type="ID"/>
    <xsd:element name="NPU.1" type="PL"/>
    <xsd:element name="NPU.2" type="IS"/>
</xsd:schema>
