fiorano/hl7/2_6_OPL_O37.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:hl7-org:v2xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v2xml">
    <xsd:include schemaLocation="2_6_segments.xsd"/>
    <xsd:complexType name="OPL_O37.CONTENT">
        <xsd:sequence>
            <xsd:element ref="MSH"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="SFT"/>
            <xsd:element minOccurs="0" ref="UAC"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE"/>
            <xsd:element maxOccurs="unbounded" ref="ROL"/>
            <xsd:element minOccurs="0" ref="OPL_O37.GUARANTOR"/>
            <xsd:element maxOccurs="unbounded" ref="OPL_O37.ORDER"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37" type="OPL_O37.CONTENT"/>
    <xsd:complexType name="OPL_O37.GUARANTOR.CONTENT">
        <xsd:sequence>
            <xsd:element ref="GT1"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="NTE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.GUARANTOR" type="OPL_O37.GUARANTOR.CONTENT"/>
    <xsd:complexType name="OPL_O37.ORDER.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="NK1"/>
            <xsd:element minOccurs="0" ref="OPL_O37.PATIENT"/>
            <xsd:element maxOccurs="unbounded" ref="OPL_O37.SPECIMEN"/>
            <xsd:element minOccurs="0" ref="OPL_O37.PRIOR_RESULT"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="FT1"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="CTI"/>
            <xsd:element minOccurs="0" ref="BLG"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.ORDER" type="OPL_O37.ORDER.CONTENT"/>
    <xsd:complexType name="OPL_O37.PATIENT.CONTENT">
        <xsd:sequence>
            <xsd:element ref="PID"/>
            <xsd:element minOccurs="0" ref="PD1"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBX"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OPL_O37.INSURANCE"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="AL1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.PATIENT" type="OPL_O37.PATIENT.CONTENT"/>
    <xsd:complexType name="OPL_O37.INSURANCE.CONTENT">
        <xsd:sequence>
            <xsd:element ref="IN1"/>
            <xsd:element minOccurs="0" ref="IN2"/>
            <xsd:element minOccurs="0" ref="IN3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.INSURANCE" type="OPL_O37.INSURANCE.CONTENT"/>
    <xsd:complexType name="OPL_O37.SPECIMEN.CONTENT">
        <xsd:sequence>
            <xsd:element ref="SPM"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBX"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OPL_O37.CONTAINER"/>
            <xsd:element maxOccurs="unbounded" ref="OPL_O37.OBSERVATION_REQUEST"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.SPECIMEN" type="OPL_O37.SPECIMEN.CONTENT"/>
    <xsd:complexType name="OPL_O37.CONTAINER.CONTENT">
        <xsd:sequence>
            <xsd:element ref="SAC"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBX"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.CONTAINER" type="OPL_O37.CONTAINER.CONTENT"/>
    <xsd:complexType name="OPL_O37.OBSERVATION_REQUEST.CONTENT">
        <xsd:sequence>
            <xsd:element ref="ORC"/>
            <xsd:element ref="OBR"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ROL"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OPL_O37.TIMING"/>
            <xsd:element minOccurs="0" ref="TCD"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="DG1"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="OBX"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.OBSERVATION_REQUEST" type="OPL_O37.OBSERVATION_REQUEST.CONTENT"/>
    <xsd:complexType name="OPL_O37.TIMING.CONTENT">
        <xsd:sequence>
            <xsd:element ref="TQ1"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="TQ2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.TIMING" type="OPL_O37.TIMING.CONTENT"/>
    <xsd:complexType name="OPL_O37.PRIOR_RESULT.CONTENT">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="NK1"/>
            <xsd:element minOccurs="0" ref="OPL_O37.PATIENT_PRIOR"/>
            <xsd:element minOccurs="0" ref="OPL_O37.PATIENT_VISIT_PRIOR"/>
            <xsd:element minOccurs="0" ref="AL1"/>
            <xsd:element maxOccurs="unbounded" ref="OPL_O37.ORDER_PRIOR"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.PRIOR_RESULT" type="OPL_O37.PRIOR_RESULT.CONTENT"/>
    <xsd:complexType name="OPL_O37.PATIENT_PRIOR.CONTENT">
        <xsd:sequence>
            <xsd:element ref="PID"/>
            <xsd:element minOccurs="0" ref="PD1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.PATIENT_PRIOR" type="OPL_O37.PATIENT_PRIOR.CONTENT"/>
    <xsd:complexType name="OPL_O37.PATIENT_VISIT_PRIOR.CONTENT">
        <xsd:sequence>
            <xsd:element ref="PV1"/>
            <xsd:element minOccurs="0" ref="PV2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.PATIENT_VISIT_PRIOR" type="OPL_O37.PATIENT_VISIT_PRIOR.CONTENT"/>
    <xsd:complexType name="OPL_O37.ORDER_PRIOR.CONTENT">
        <xsd:sequence>
            <xsd:element ref="OBR"/>
            <xsd:element minOccurs="0" ref="ORC"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ROL"/>
            <xsd:element minOccurs="0" ref="OPL_O37.TIMING"/>
            <xsd:element maxOccurs="unbounded" ref="OBX"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OPL_O37.ORDER_PRIOR" type="OPL_O37.ORDER_PRIOR.CONTENT"/>
</xsd:schema>
